<!--admin page : 재검토요청 모아보기-->
    <div class="admin_button_wrapper">
     <input type="button" value="회원목록" class="button" onclick="window.location='/home/admin_user';">
     <!--<input type="button" value="리뷰보기" class="button" float="left" onclick="window.location='/home/admin_reply';" >-->
     <input type="button" value="재검토요청" class="button" onclick="window.location='/home/admin_feedback';" >
     <input type="button" value="찜 현황판" class="button" onclick="window.location='/home/admin_likes';" >
     <input type="button" value="문의/건의" class="button" onclick="window.location='/home/request_list';" >
     <input type="button" value="공지 작성" class="button" onclick="window.location='/home/admin_write';" >
         
      <a href="/users/sign_out">관리자 로그아웃</a>
    </div>
    
    <h3 align="center">재검토 요청 모아보기</h3>
    
      <div class="container container-up-margin">
          <ul class="media-list forum">

            <% @review.each do |p| %>

              <li>
                <!-- 리뷰본 -->
                <div class="media">
                    <div class="col-md-12 col-xs-12">
                      <div class="col-md-12" >
                        <p style="text-align:left;"><a href="/home/detail2/<%=p.pro_num%>"><%=p.pro_num%></a></p>
                        <p style="text-align:left;"><%=p.created_at.in_time_zone("Asia/Seoul").strftime("%Y/%m/%d/ %H:%M:%S") %></p>
                        <p style="text-align:left;"><%=p.emailaddress%></p>
                      </div>
                     
                    <div class="col-md-12 col-xs-12">
                      <div class="col-md-9 col-xs-9">내용: <%=p.content %></div> 
                        <% unless p.img_url.nil? %>
                          <img class="review_img" src="<%= p.img_url %>">
                        <% end %>
                      </div>
                    </div>
                </div>
              </li>
            <%end%>
          </ul>
        <%= render :partial => "layouts/partial/pagination" %>
      </div>
  
