<!--admin page : 리뷰모아보기-->
    <div float="left" style="margin-top:30px; margin-left:30px;">
      <input type="button" value="회원목록" float="left" class="button" onclick="window.location='/home/admin_user';">
      <input type="button" value="리뷰보기" class="button" float="left" onclick="window.location='/home/admin_reply';" >
      <input type="button" value="찜 현황판" class="button" float="left" onclick="window.location='/home/admin_likes';" 
      <input type="button" value="문의/건의" class="button" float="left" onclick="window.location='/home/request_list';">
      <input type="button" value="공지 작성" class="button" float="left" onclick="window.location='/home/admin_write';" >
      <a href="/users/sign_out">관리자 로그아웃</a>
    </div>
    
    <h3 align="center">리뷰 모아보기</h3>
    
      <div class="container">
          <ul class="media-list forum">

            <% @review.each do |p| %>

              <li>
                <!-- 리뷰본 -->
                <div class="media" style="border: 0px solid lightgray; border-radius: 5px; padding:10px; background-color:#f5f5f5;">
                    <div class="col-md-12 col-xs-12">
                      <div class="col-md-12" >
                        <p style="text-align:left;"><a href="/home/detail2/<%=p.num%>"><%=p.num%></a></p>
                        <p style="text-align:left;"><%=p.created_at.in_time_zone("Asia/Seoul").strftime("%Y/%m/%d/ %H:%M:%S") %></p>
                        <p style="text-align:left;"><%=p.username%></p>
                      </div>
                     
                        <div class="col-md-12 col-xs-12" style="margin-top:20px;">
                          <div class="col-md-9 col-xs-9">내용: <%=p.content %></div> 
                          <% unless p.img_url.nil? %>
                            <img class="review_img" src="<%= p.img_url %>">
                          <% end %>
                        </div>
                    </div>
                </div>
              </li>
            <%end%>
          </ul>
        <%= render :partial => "layouts/partial/pagination" %>
      </div>
  
  <style>
  .media{
    margin:30px 0;
  }
  
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
  
  .review_img{
    width:140px;
    height:140px;
  }
@media(min-width:768px){
  .review_img{
    width:300px;
    height:300px;
  }
}
  </style>