<div class="table-responsive" >

  <div class="container-fluid" >
    
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        
              <div class="askfor_reqeust_tab">
                <a id="first_tab" href="/home/askfor" style="color:#ffaaa3">제품요청</a>
                <a id="second_tab" href="/home/request_list">문의/건의</a>
              </div>
              
              <div class="title-web" style="margin-right:10px;">
                <h3>제품요청</h3>
                <p>업데이트를 바라시는 제품을 등록해주세요. </p>
              </div>
                
              <hr style="border: 2px solid #38393b">
              <br>
              
              <div class="col-md-12 col-xs-12" style="padding:0px;">
                
                  <form action="/home/askfor_submit" method="post" data-toggle="validator">
                    <div class="form-group" style="text-align:center;">
                      <input type="text" class="form-control askfor-brand" name="brand" placeholder="브랜드명" maxlength="20" required>
                      <input type="text" class="form-control askfor-name" name="name" placeholder="제품명" maxlength="30" required>
                     
                      <%if user_signed_in? %>
                        <input type="submit" class="btn-askfor" value="요청">
                      <%else%>
                        <%=link_to "요청", new_user_session_path, class:"btn-askfor", data: { confirm: "로그인 후 이용해주세요." } %>
                      <%end%>
                    </div>
                  </form>
                
           
                <p>총 제품요청 수 :<%= @askforCnt%>건</p>
                
                <table class="table user-list">
                  <thead>
                  <tr>
                    <th class="col-md-3 col-xs-3"><span>브랜드</span></th>
                    <th class="col-md-5 col-xs-3"><span>제품명</span></th>
                    <th class="col-md-2 col-xs-3"><span>작성자</span></th>
                    <th class="col-md-1 col-xs-3"><span>날짜</span></th>
                  </tr>
                  </thead>
                  <tbody>
                  <% unless @askfor.blank? %>
                  
                      <% @askfor.each do |askfor| %>
                          <tr>
                            <td class="col-md-3 col-xs-3">
                              <p><%=askfor.brand%></p>
                            </td>
                            <td class="col-md-5 col-xs-4">
                              <p><%=askfor.name%></p>
                            </td>
                            <td class="col-md-2 col-xs-2">
                              <%=askfor.username %>
                            </td>
                            <td class="col-md-1 col-xs-3">
                              <%=askfor.created_at.in_time_zone("Asia/Seoul").strftime("%y-%m-%d") %>
                            </td>
                          </tr>
                      <% end %>
                      
                  <% else %>
                    <tr>
                        <td colspan="5">등록된 요청이 없습니다. 원하시는 제품을 요청해주세요!</td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
                
                <!-- pagination -->

                <%= render :partial => "layouts/partial/pagination" %> 

            
               </div>
            
            </div>    
  
       
  </div>
        
</div>
        


<style>
  
   .askfor_reqeust_tab{
     text-align:right;
   }  
    .askfor_reqeust_tab>a{
      display:inline-block;
      color:gray;
      text-decoration:none;
      font-weight:bold;
      padding:5px 5px 0px 5px;
      border-top:1px solid gray;
      border-left:1px solid gray;
      border-right:1px solid gray;
    }
  
    .askfor_reqeust_tab>a:hover{
      color:gray;
      text-decoration:none;
    } 
    .askfor_reqeust_tab:first-child:hover{
      color:#ffaaa3;
    }
   .table-responsive{
      overflow-x: hidden;
    }
    .container-fluid{
      margin-top:30px;
    }
    table a {
      color:#000000;
    }
    table a:hover{

      text-decoration:none;
      color:#ffa291;
    }
    table a:active{
      text-decoration:none;
      color:#ffa291;
    }
   
    .btn-black{
      width:60px;
      height:30px;
      font-size:13px;
      text-align:center;
      float:right;
      cursor:pointer;
      color:#ffffff;
      background:#333333;
    }
    .btn-black:hover{
      color:#ffffff;
    }
    .title-web h3 {
      font-family: 'NanumGothic';
      font-size: 22px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      color: #38393b;
    }
    .title-web p{
      font-family: NanumGothic;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      color: #787878;
    }
    .form-control{
      display:inline-block;
      margin-bottom:30px;
    }
    .askfor-brand{
      width:30%;
    }
    .askfor-name{
      width:45%;
    }
    .btn-askfor{
      display:inline-block;
      margin-left:5px;
      height:35px;
      line-height:35px;
      width:17%;
      color:#ffffff;
      background-color:#ffaaa3;
  }
    a.btn-askfor{
      text-decoration:none;
    }
    a.btn-askfor:hover,a.btn-askfor:focus{
      text-decoration:none;
      color:#ffffff;
    }
    
    @media(min-width:767px) {

      .container-fluid{
        margin-top:50px;
      }
      .form-group{
        padding-right:30px;
        padding-left:30px;
      }
    }

    @media(max-width:767px){
      .table>thead>tr>th, .table>tbody>tr>td{
         padding:5px;
       }
    }
  </style>


