<!DOCTYPE html>
<br><br>

<div class="container content col-md-3" style="text-align:center">
  <h2><strong>마이페이지</strong></h2>
  <hr style="border: solid 1.0px lightgray;">
  <h4>찜한 상품 보기</h4>
  <img src="https://s3.ap-northeast-2.amazonaws.com/likelion1111/uploads/2016-08-17-20-35-05-823.jpg" class="img-circle" style="width: 70%; border-radius: 50%">
  <br><br>
  <p style="font-size:15px"><%= current_user.username %> 님</p>
  <p style="font-size:15px">이메일: <%= current_user.email %></p>
  <p style="font-size:15px">계절타입: <%= current_user.userseason %></p>
  
  <!-- 타입변경버튼 -->
  <button type="button" href="#modalLayer" class="modalLink seasons">타입 변경</button>
    <div id="modalLayer">
      <div class="modalContent">
        <br>
        
        <!--봄-->
        <div class="row col-md-3 col-xs-12">
          <div class="col-md-12 col-xs-1"><label class="radio-inline"><input type="radio" name="optradio" value="봄"></label><br><br></div>
          <div class="col-md-12 col-xs-3"><img src="https://s3.ap-northeast-2.amazonaws.com/likelion1111/uploads/2016-08-17-20-35-05-823.jpg" style="width:100%"><br>
          <p>봄(warm)</p></div>
          <div class="col-md-12 col-xs-7">한 해의 네 철 가운데 첫째 철. 겨울과 여름 사이이며, 달로는 3~5월, 절기(節氣)로는 입춘부터 입하 전까지를 이른다.</div>
        </div>
        
        
        <!--여름-->
        <div class="row col-md-3 col-xs-12">
          <div class="col-md-12 col-xs-1"><label class="radio-inline"><input type="radio" name="optradio" value="여름"></label><br><br></div>
          <div class="col-md-12 col-xs-3"><img src="https://s3.ap-northeast-2.amazonaws.com/likelion1111/uploads/2016-08-17-20-35-05-823.jpg" style="width:100%"><br>
          <p>여름(cool)</p></div>
          <div class="col-md-12 col-xs-7">한 해의 네 철 가운데 둘째 철. 봄과 가을 사이이며, 낮이 길고 더운 계절로, 달로는 6~8월, 절기(節氣)로는 입하부터 입추 전까지를 이른다.</div><br>
        </div>
       
        
        <!--가을-->
        <div class="row col-md-3 col-xs-12">
          <div class="col-md-12 col-xs-1"><label class="radio-inline"><input type="radio" name="optradio" value="가을"></label><br><br></div>
          <div class="col-md-12 col-xs-3"><img src="https://s3.ap-northeast-2.amazonaws.com/likelion1111/uploads/2016-08-17-20-35-05-823.jpg" style="width:100%"><br>
          <p>가을(warm)</p></div>
          <div class="col-md-12 col-xs-7">한 해의 네 철 가운데 셋째 철. 여름과 겨울의 사이이며, 달로는 9~11월, 절기(節氣)로는 입추부터 입동 전까지를 이른다.</div><br>
        </div>
        
        
        <!--겨울-->
        <div class="row col-md-3 col-xs-12">
          <div class="col-md-12 col-xs-1"><label class="radio-inline"><input type="radio" name="optradio" value="겨울"></label><br><br></div>
          <div class="col-md-12 col-xs-3"><img src="https://s3.ap-northeast-2.amazonaws.com/likelion1111/uploads/2016-08-17-20-35-05-823.jpg" style="width:100%"><br>
          <p>겨울(cool)</p></div>
          <div class="col-md-12 col-xs-7">한 해의 네 철 가운데 넷째 철. 가을과 봄 사이이며, 낮이 짧고 추운 계절로, 달로는 12~2월, 절기(節氣)로는 입동부터 입춘 전까지를 이른다.</div><br>
        </div>
        
        <!-- 할일 : 닫기버튼은 X표로 바꾸고, 수정하기 눌러도 팝업창 닫아지게하고, 수정하기버튼 가운데로 -->
        <div class="row col-md-12 col-xs-12">
          <br>
            <button onclick="myFunction()" type="button" class="seasons" style="width:30%; margin-top:5% position:center;">수정하기
            </button>
        </div>
        
        
      </div>
    </div>
  <!-- 타입변경버튼끝-->

</div>

<div class="container content box col-md-9" id="basket">
  <form method="post" action="checkout1.html">
    <div class="table-responsive">
      <table class="table">
        <hr style="border: solid 1.0px lightgray;">
        <thead>
          <tr>
            <th><input type="checkbox" name="select_all" id="select_all"></th>
            <th class="col-md-2 col-xs-2">상품사진</th>
            <th class="col-md-5">상품명</th>
            <th class="col-md-1 hidden-xs">가격</th>
            <th class="col-md-1 hidden-xs">컬러톤</th>
            <th>삭제</th>
          </tr>
        </thead>
        <tbody> <!-- 찜제품목록 -->
          <%@like_list.each do |list|%>
          <tr>
            <td><input type="checkbox"></td>
            <td><a href="/home/layout5/<%=list.num%>"><img src="https://s3.ap-northeast-2.amazonaws.com/fourseasons111112/lip/<%=list.num%>.jpg" style="width:100%"></a></td>
            <td><a href="/home/layout5/<%=list.num%>">[<%=list.brand%>] <%=list.name%></a></td>
            <td class="hidden-xs"><%=list.price%>원</td>
            <td class="hidden-xs"><%=list.wc%>/<%=list.tone%></td>
            <td><button type="button" style="width:60%; height:28px; border-radius:4px; background-color:lightgray; text-align:center; font-size:12px">삭제</button></td>
            <td><a href="#"><i class="fa fa-trash-o"></i></a></td>
          </tr>
          <%end%>
          <tr>
            <td><input type="checkbox"></td>
            <td><a href="#"><img src=""></a></td>
            <td><a href="#">[이니스프리] 아이젤 라이너</a></td>
            <td class="hidden-xs">14,000원</td>
            <td class="hidden-xs">쿨/페일</td>
            <td><button type="button" style="width:60%; height:28px; border-radius:4px; background-color:lightgray; text-align:center; font-size:12px">삭제</button></td>
            <td><a href="#"><i class="fa fa-trash-o"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
           
<style>
  a{color:#000;} 

  .mask{width:100%; height:100%; position:fixed; left:0; top:0; z-index:10; background:#000; opacity:.5; filter:alpha(opacity=50);}
  .seasons{width:40%; height:40px; border-radius:8px; background-color:CornflowerBlue; color:white; text-align:center; font-size:15px;}
  
  #modalLayer{display:none; position:relative;}
  #modalLayer .modalContent{width:auto; height:auto; padding:0px; padding-bottom: 50px; border:2px solid #ccc; position:fixed; left:3%; top:10%; right:3%; z-index:11; background:#fff;}
 /* #modalLayer .modalContent button{position:absolute; right:0; top:0; cursor:pointer;} */
</style>

<script>
  $('#select_all').click(function(event) {
    if(this.checked) {
        // Iterate each checkbox
        $(':checkbox').each(function() {
            this.checked = true;
        });
    }
    else {
      $(':checkbox').each(function() {
            this.checked = false;
        });
    }
  });
  
  
  $(document).ready(function(){
    var modalLayer = $("#modalLayer");
    var modalLink = $(".modalLink");
    var modalCont = $(".modalContent");
    var marginLeft = modalCont.outerWidth()/2;
    var marginTop = modalCont.outerHeight()/2; 
  
    modalLink.click(function(){
      modalLayer.fadeIn("fast");
      modalCont.css({"margin-top" : -marginTop, "margin-left" : -marginLeft});
      $(this).blur();
      $(".modalContent > a").focus(); 
      return false;
    });
  
    $(".modalContent > button").click(function(){
      modalLayer.fadeOut("fast");
      modalLink.focus();
    });		
    
     $(".modalContent > div > button").click(function(){
        alert("<%=current_user.username%>님의 계절타입이 ["+$("input[name=optradio]:checked").val()+"]로 변경되었습니다!");
        //var x = $("input[name=optradio]:checked").val();
        //뭘클릭했는지 출력하는거까진 되는데, 클릭한값을 current_user의 계절타입에 대입하는 방법을 모르겠음!
        modalLayer.fadeOut("fast");
        modalLink.focus();
    });	
    
   // function myFunction() {
//        var x = document.getElementById("myRadio").value;
 //       current_user.userseason = x;
 //   }
    
  });
  
  
</script>