<!DOCTYPE html>
<br>

<div class="container content col-md-3">
  <div id="one"style="text-align:center; margin-bottom:40px">
    
    <div style="background-color:#ffffff">
      <hr style="border: solid 1.0px;color:#333333">
      <p align="center" style="margin-bottom:10px; font-size:16px;color:#000000"><strong>MY PAGE</strong></p>
      <hr style="border: solid 1.0px;color:#333333">  
    </div>
    
    <!--  <img src="https://s3.ap-northeast-2.amazonaws.com/likelion1111/uploads/<%=current_user.userseason %>.png" class="img-circle" style="width: 50%; border-radius: 50%">-->
    <img src="https://s3.ap-northeast-2.amazonaws.com/fourseasons111112/icon/seasonicon/<%=current_user.userseason%>.png" style="width: 50%;">
    <br><br>
    <p style="font-size:15px; display:inline;"><strong><%=current_user.username%></strong> 님</p>
    <a href="/users/edit" style="color:#7A7A7A"><i class="fa fa-cog" aria-hidden="true" style="display:inline;"></i></a>
    <p style="font-size:15px">계절타입: <strong><%=current_user.userseason%></strong></p>
    
  </div>

  <div id="two" style="text-align:center; margin-bottom:40px;">
    <a href="/home/season_update" style="font-size:15px;color:white;" class="btn btn-black" role="button">타입 변경</a> <!-- button 으로 하면 페이지 이동이 안됨;; 왜그러지-->
  </div>

</div>
  
<div class="container content box col-md-9 " id="basket" >
  <!-- <div class="table-responsive"> 이건 테이블 움직여서 주석처리함-->
  <div style="background-color:#ffffff">
    <hr style="border: solid 1.0px;color:#333333">
    <p align="center" style="margin-bottom:10px; font-size:16px;color:#000000"><strong>찜한 상품</strong></p>
    <hr style="border: solid 1.0px;color:#333333">  
  </div>
  
  <div class="table">
    <table class="table">
  
      <thead>
        <tr>
          <th class="col-md-1"><input type="checkbox" name="select_all" id="select_all"></th>
          <th class="col-md-2 col-xs-3">상품사진</th>
          <th class="col-md-5 col-xs-6">상품명</th>
          <th class="col-md-1 hidden-xs">가격</th>
          <th class="col-md-1 hidden-xs">컬러톤</th>
          <th>삭제</th>
        </tr>
      </thead>
      <tbody> <!-- 찜제품목록 -->
        <%@like_list.each do |list|%>
          <form method="post" action="#">
            <tr>
              <td style="padding-top:20px">
                <input type="checkbox">
              </td>
              <td><a href="/home/detail/<%=list.num%>"><img src="https://s3.ap-northeast-2.amazonaws.com/fourseasons111112/lip/<%=list.num%>.jpg" style="width:60px"></a></td>
              <td style="padding-top:20px;"><a href="/home/detail/<%=list.num%>" style="color:#000000;">[<%=list.brand%>] <%=list.name%></a></td>
              <td class="hidden-xs" style="padding-top:20px"><%=list.price%>원</td>
              <td class="hidden-xs" style="padding-top:20px"><%=list.wc%>/<%=list.tone%></td>
              <td style="padding-top:20px">
                <%= link_to image_tag('http://bit.ly/2bEP2Ov',:width => 20, :height => 20), basket_delete_home_path(list.num), 
                                                                                  data: { confirm: "삭제 하시겠습니까?" } %>
              </td>
            </tr>
          </form>
        <%end%>
      </tbody>
    </table>
  </div>
  <!--</form> -->
</div>
           
<style>
  .seasons{width:40%; height:40px; border-radius:8px; background-color:CornflowerBlue; color:white; text-align:center; font-size:15px;}

  .btn-black{
          width:100px;
          height:40px;
          font-size:15px;
          text-align:center;
          cursor:pointer;
          color:#000000;
          background:#333333;
      }

</style>

<script>
  $('#select_all').click(function(event) {
    if(this.checked) {
        // Iterate each checkbox
        $(':checkbox').each(function() {
            this.checked = true;
        });
    }
    else {
      $(':checkbox').each(function() {
            this.checked = false;
        });
    }
  });
  
  //제품 삭제
   $('.delete-button').on('click',function() {
         
        var list_num = "$('#').attr('id')"                    
        var result = confirm('삭제 하시겠습니까?');

        if(result) {
           //yes
          
        } else {
            //no
         $("#delete_item").attr("href", '/home/basket');
        }
           
     });
</script>