
<%
=begin
%>
<div class="container content col-md-3">
  <div id="one"style="text-align:center; margin-bottom:40px">
    
    <div style="background-color:#ffffff">
      <hr style="border: solid 1.0px;color:#333333">
      <p align="center" style="margin-bottom:10px; font-size:16px;color:#000000"><strong>MY PAGE</strong></p>
      <hr style="border: solid 1.0px;color:#333333">  
    </div>
    
    <!--  <img src="https://s3.ap-northeast-2.amazonaws.com/likelion1111/uploads/<%=current_user.userseason %>.png" class="img-circle" style="width: 50%; border-radius: 50%">-->
    <img src="https://s3.ap-northeast-2.amazonaws.com/fourseasons111112/basket/<%=current_user.userseason %>.png" style="width: 50%;">
    <br><br>
    <p style="font-size:15px; display:inline;"><strong><%=current_user.username%></strong> 님</p>
    <a href="/users/edit" style="color:#7A7A7A"><i class="fa fa-cog" aria-hidden="true" style="display:inline;"></i></a>
    <p style="font-size:15px">계절타입: <strong><%=current_user.userseason%></strong></p>
    
  </div>

  <div id="two" style="text-align:center; margin-bottom:40px;">
    <a href="/home/season_update" style="font-size:15px;color:white;" class="btn btn-black" role="button">타입 변경</a> <!-- button 으로 하면 페이지 이동이 안됨;; 왜그러지-->
  </div>

</div>
<%
=end
%>
<div class="container my_palett_wrapper">
    
    <div class="row" style="margin:0">
      
      <div class="col-md-12 col-xs-12">
      
        
        <ul class="mypage_nav">
          <li>
            <i class="fa fa-heart" aria-hidden="true"></i>
            <a href="/basket">찜한상품</a>
          </li>
          <li>
            <i class="fa fa-cog" aria-hidden="true"></i>
            <a href="/users/edit">프로필수정</a>
          </li>
          <li>
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            <%=link_to "로그아웃", destroy_user_session_path, method: :get, data: { confirm: "로그아웃하시겠습니까?" } %>
          </li>
        </ul>
      </div>

      <div class="content box col-md-12 col-xs-12" id="basket">
        
         <div class="title-web">
          <h3>찜한 상품</h3>
          <p>찜해 놓은 상품을 한 눈에 보여드려요</p>
        </div>
         <hr class="title_deco_line">  
         
        <div class="table">
          <table class="table_basket">
        
            <thead>
              <tr>
               <!-- <th class="col-md-1"><input type="checkbox" name="select_all" id="select_all"></th>-->
                <!--<th class="col-md-2 col-xs-3">사진</th>
                <th class="col-md-4 col-xs-4">제품명</th>
                <th class="col-md-1 hidden-xs">가격</th>
                <th class="col-md-1 col-xs-3">컬러톤</th>
                <th class="col-md-1 col-xs-2">삭제</th>-->
              </tr>
            </thead>
            <tbody> <!-- 찜제품목록 -->
              <%@like_list.each do |list|%>
                <form method="post" action="#">
                  <tr>
                  <!--  <td style="padding-top:20px">
                      <input type="checkbox">
                    </td> -->
                    
                    <td class="col-md-2 col-xs-2">
                      <a href="/home/detail2/<%=list.image%>">
                        <% if list.update_date.to_time + 7.day>Time.current %>
                          <img class="img-update-in-basket" src="/images/update.png">
                        <% end %>
                        
                        <% if list.image.include?(" ") || list.image == nil %>
                          <img src="/images/img_no_image.jpg" alt="이미지를 준비중입니다." style="width:60px">
                        <% else %>
                          <img src="https://s3.ap-northeast-2.amazonaws.com/palette160829111/product/<%=list.image%>-min.jpg" style="width:60px">
                        <% end %>
                      </a>
                    </td>
                    <td class="col-md-4 col-xs-5" style="padding-top:20px;">
                      <a href="/home/detail2/<%=list.image%>" style="color:#000000;">[<%=list.brand%>]<%=list.name%></a>
                      <span class="basket_price"><%=list.price.to_i.floor%>원 / <%=list.size%></span>
                    </td>
                    <td class="col-md-2 hidden-xs" style="padding-top:20px"><%=list.price.to_i.floor%>원 / <%=list.size%></td>
                    <td class="col-md-3 col-xs-4" style="padding-top:20px">
                      <div><%=list.season_1%>/<br><%=list.season_2%></div>
                      <div class="wrap_label_basket">
                        <%if list.color=="레드"%>
                          <span class="product_label_color label_red"><%=list.color%></span>
                        <%elsif list.color=="오렌지"%>
                          <span class="product_label_color label_orange"><%=list.color%></span>
                        <%elsif list.color=="핑크"%>
                          <span class="product_label_color label_pink"><%=list.color%></span>
                        <%elsif list.color=="베이지"%>
                          <span class="product_label_color label_beige"><%=list.color%></span>
                        <%else%>
                          <span class="product_label_color label_purple"><%=list.color%></span>
                        <%end%>
                        
                        <span class="product_label_texture label_product"><%=list.texture%></span>
                      </div>
                    </td>
                    <td class="col-md-1 col-xs-1" style="vertical-align:middle">
                      <%= link_to image_tag('http://bit.ly/2bEP2Ov',:width => 20, :height => 20), basket_delete_home_path(list.image),
                                                                                        data: { confirm: "삭제 하시겠습니까?" } %>
                    </td>
                  </tr>
                </form>
              <%end%>
            </tbody>
          </table>
        </div>
  
      </div>
    
    <!-- pagination -->

  <%= render :partial => "layouts/partial/pagination" %> 
  
  </div><!--/.row-->
</div> <!--/.container 맨위 -->
           
<script>
  $('#select_all').click(function(event) {
    if(this.checked) {
        // Iterate each checkbox
        $(':checkbox').each(function() {
            this.checked = true;
        });
    }
    else {
      $(':checkbox').each(function() {
            this.checked = false;
        });
    }
  });
  
  //제품 삭제
   $('.delete-button').on('click',function() {
         
        var list_num = "$('#').attr('id')"                    
        var result = confirm('삭제 하시겠습니까?');

        if(result) {
           //yes
          
        } else {
            //no
         $("#delete_item").attr("href", '/home/basket');
        }
           
     });
</script>