<!-- 상세페이지 -->
<div class="container">
    <div class="row">
      <!--<div class="page-navigation">
        <a href="/"><i class="fa fa-home" aria-hidden="true"></i>HOME</a><i class="fa fa-angle-right" aria-hidden="true"></i>

        <a href="/home/list_lip2/봄 브라이트">립 추천</a><i class="fa fa-angle-right" aria-hidden="true"></i>

        <a href="/home/list_lip2/<%=@current_season%>"><%=@current_season%></a>

      </div>-->

      <div class="col-md-6 col-xs-12 carousel slide item active" id="carousel-example-generic" data-ride="carousel">


        <img class="img1 img-thumbnail" width=400 src="https://s3.ap-northeast-2.amazonaws.com/palette160829111/product/<%=@product.image%>-min.jpg">

      </div>
      
      <div class="col-md-6 col-xs-12"  id="orange" style="padding-top:10px; margin-left:-15px;">
        <h4>[<%=@product.brand %>]</h4>
        <h3 style="margin-bottom:20px;"><strong><%=@product.name %></strong></h3> <!-- 해당 페이지만 브랜드명, 제품명, 용량/가격 -->
        <h4 style="text-align:left;display:inline-block;"><%=@product.size %> / <%=@product.price.to_i.floor %>원</h4>

<%
=begin
%>
        <a href="/home/order/<%=@product.image%>" class="btn-buy" role="button"  style="float:right;">
          <i class="fa fa-krw" aria-hidden="true"></i> 주문하기
        </a>
<%
=end
%>

        <!--좋아요 기능 작동하는 하트 버튼 노출 -->
        <%if user_signed_in?%>    
          <% if current_user.voted_up_on? @product %>
           <div class="row" style="text-align:center;margin-top:10px;">
              <div class="col-md-4 col-md-offset-4 col-sm-1 col-sm-offset-5 unlike-button">
                <%=link_to '', unlike_home_path(@product.image), remote: true, id: "#{@product.image}_like",
                    class: "like fa fa-heart", onclick:"ga('send', 'event', 'like', 'click', 'like_click', 1);" %>
                 <p style="display:inline-block;font-size:25px;">찜하기</p>     
              </div>
           </div>
          <% else %>
            <div class="row" style="text-align:center;margin-top:10px;"> 
              <div class="col-md-4 col-md-offset-4 col-sm-1 col-sm-offset-5 like-button">
                <%=link_to '', like_home_path(@product.image), remote: true, id: "#{@product.image}_like",
                    class: "like fa fa-heart-o",  onclick:"ga('send', 'event', 'like', 'click', 'like_click', 1);" %>
                 <p style="display:inline-block;font-size:25px;">찜하기</p>       
              </div>
            </div>  
          <% end %>
          <!--/좋아요 기능 작동하는 하트 버튼 -->
                      
        <%else%>
          <!--로그인을 안 했을 시 로그인을 유도하는 가짜 찜하기 버튼 -->
          <div class="row" style="text-align:center;margin-top:10px;">
            <div class="col-md-4 col-md-offset-4 col-sm-1 col-sm-offset-5 fake-like-button">
              <%=link_to "", new_user_session_path, data: { confirm: "로그인 후 이용해주세요." },  id: "fake-like",
                  class: "fa fa-heart-o", onclick:"ga('send', 'event', 'fake_like', 'click', 'fake_like_click', 1);"%>
              <p style="display:inline-block;font-size:25px;">찜하기</p>      
            </div>
          </div>
        <%end%>
 
        <!--<hr style="border:solid 1px lightgray;margin-bottom:15px;">-->

       <div class="col-md-12 col-xs-12" >
         <!-- 제품군, 펄유무, 텍스쳐 PC버전 시작-->
         <div class="product_info">
           <div class="panel panel-default col-md-4 col-xs-4" >
             <div class="panel-body" align="center">
              <span style="font-size:12px; text-align:center;">
              <img src="/images/product_lip.png" width="30"><br><%=@product.pro_type %></span>
             </div>
           </div>
           <div class="panel panel-default col-md-4 col-xs-4">
             <div class="panel-body" align="center">
              <span style="font-size:12px; text-align:center">
              <img src="/images/glitter.png" width="30"><br><%=@product.glitter %></span>
             </div>
           </div>
           <div class="panel panel-default col-md-4 col-xs-4">
             <div class="panel-body" align="center">
              <span style="font-size:12px; text-align:right">
              <img src="/images/texture.png" width="30"><br><%=@product.texture %></span>
             </div>
           </div>
         </div>
         <!-- 제품군, 펄유무, 텍스쳐 PC버전 끝-->
       </div>

        <hr class="divide_inPC" style="border:solid 1px lightgray;">
      </div> <!--/div#orange-->
    </div> <!--/row-->



    <div class="row detail_PC" style="padding-right:15px;padding-left:15px;">


      <div class="col-md-12 col-xs-12 color_show_wrapper" >
        
        <!--꼭 읽어주세요 시작-->
        <section id="detailNotice" style="padding:0;">
          <p class="color_show_explain">
            <span class="explain_notice">꼭 읽어주세요!</span>
            
            <span class="explain_title"><img src="/images/icon_exclamation_mark.png">발색에 따라 다른 진단결과</span>
            <span class="explain_content">발색하는 정도에 따라<br>
            톤이 달라질 수 있습니다.</span>
        
            <span class="explain_title"><img src="/images/icon_sun.png">자연광에서 촬영된 발색사진</span>
            <span class="explain_content">매장조명에서 테스트할 경우<br>
            사진과 다르게 보일 수 있습니다.</span><br>
          </p>
        </section>
        <!--꼭 읽어주세요 끝-->
        
        <section id="detailContent">
          <% case @current_season %>
          <% when "default" %>
            <span>&nbsp;</span>
          <% else %>
            <div class="wrap_season_result">
              <!--진단결과 시작-->
              <p class="txt_season_tone"><%= @current_season %></p>
              <!--진단결과 끝-->
              
              <!--발색사진 시작-->
              <div class="col-md-12 col-xs-12 img_wrist_wrap" style="padding:0;">
              <% if (@product.season_1 != @product.season_2) && (@current_season == @product.season_1) %>
                <div class="img_wrist_box">
                  <img class="img_wrist_color" src="https://s3.ap-northeast-2.amazonaws.com/palette160829111/product_color/<%=@product.image%>_wrist2-min.jpg">
                </div>
              <% elsif (@product.season_1 != @product.season_2) && (@current_season == @product.season_2) %>
                <div class="img_wrist_box">
                  <img class="img_wrist_color2" src="https://s3.ap-northeast-2.amazonaws.com/palette160829111/product_color/<%=@product.image%>_wrist2-min.jpg">
                </div>
              <% else %>
                <div class="img_wrist_box2">
                  <img class="img_wrist_color3" src="https://s3.ap-northeast-2.amazonaws.com/palette160829111/product_color/<%=@product.image%>_wrist2-min.jpg">
                </div>
              <% end %>
             </div>
              <!--발색사진 끝-->
              
              <!-- 제품군, 펄유무, 텍스쳐 모바일버전 시작-->
              <div class="product_info_mobile">
                <div class="panel panel-default col-md-4 col-xs-4" style="padding:0">
                  <div class="panel-body" align="center">
                    <span style="font-size:12px; text-align:center">
                    <img src="/images/product_lip.png" width="30"><br><%=@product.pro_type %></span>
                  </div>
                </div>
                <div class="panel panel-default col-md-4 col-xs-4">
                  <div class="panel-body" align="center">
                    <span style="font-size:12px; text-align:center">
                    <img src="/images/glitter.png" width="30"><br><%=@product.glitter %></span>
                  </div>
                </div>
                <div class="panel panel-default col-md-4 col-xs-4">
                  <div class="panel-body" align="center">
                    <span style="font-size:12px; text-align:right">
                    <img src="/images/texture.png" width="30"><br><%=@product.texture %></span>
                  </div>
                </div>
              </div>
              <!-- 제품군, 펄유무, 텍스쳐 모바일버전 끝-->
              
              <!--진단결과 설명 시작-->
              <div class="explain_season_result">
                <img src="/images/icon_like.png" width="50px">
                <% if (@current_season == "봄 라이트" || @current_season == "여름 라이트" || @current_season == "여름 뮤트" || @current_season == "가을 뮤트" || @current_season == "봄 브라이트" || @current_season == "겨울 브라이트") && @current_season == @product.season_1 && @product.season_1 != @product.season_2 %>
                  <p class="title_season_result">연하게 발라주세요!</p>
                  <p class="txt_season_result">
                    진하게 바를수록 <%=@product.season_2%>에 가까워지는 제품이에요.
                  </p>
                <% elsif (@current_season == "여름 뮤트" || @current_season == "가을 뮤트" || @current_season == "가을 딥" || @current_season == "겨울 딥" || @current_season == "봄 브라이트" || @current_season == "겨울 브라이트") && @current_season == @product.season_2 && @product.season_1 != @product.season_2 %>
                  <p class="title_season_result">진하게 발라주세요!</p>
                  <p class="txt_season_result">
                    연하게 바를수록 <%=@product.season_1%>에 가까워지는 제품이에요.
                  </p>
                <% else %>
                  <p class="title_season_result">취향에 따라 발라주세요!</p>
                  <p class="txt_season_result">
                    옅거나 짙게 발라도 <%=@current_season%>에 어울리는 제품이에요.
                  </p>
                <% end %>
              </div>  
              <!--진단결과 설명 끝-->
              
            </div>
            <!--wrap_season_result end-->
          <% end %>
          
          <!--Good/Bad 시작-->
          <% case @current_season %>
          <% when "default" %>
            <span>&nbsp;</span>
          <% else %>
            <div class="col-md-6 col-xs-6">
              <% if @current_season == @product.season_1 %>
                <span class="txt_season_evaluation" style="color:#ff6600">Good!</span>
              <% else %>
                <span class="txt_season_evaluation" style="color:gray">Bad</span>
              <% end %>
            </div>
            <div class="col-md-6 col-xs-6">
              <% if @current_season == @product.season_2 %>
                <span class="txt_season_evaluation" style="color:#ff6600">Good!</span>
              <% else %>
                <span class="txt_season_evaluation" style="color:gray">Bad</span>
              <% end %>
            </div>
          <% end %>
          <!--Good/Bad 끝-->
          
          <!--발색사진 시작-->
          <div class="col-md-12 col-xs-12" style="padding:0;">
            <img class="color_show" src="https://s3.ap-northeast-2.amazonaws.com/palette160829111/product_color/<%=@product.image%>_wrist2-min.jpg">
            <span class="line_separate"></span>
          </div>
          <!--발색사진 끝-->
          
          <!--진단결과 시작-->
          <div class="col-md-10 col-md-offset-1 col-xs-12 box_season_result">
            <div class="col-md-6 col-xs-6" style="padding:0">
               <span class="txt_season_info">좌:옅은 발색</span><br>
               <h3 class="season_info season_mobile"><%=@product.season_1%></h3>
            </div>
            
            <div class="col-md-6 col-xs-6" style="padding:0">
                <span class="txt_season_info">우:짙은 발색</span><br>
                <h3 class="season_info season_mobile"><%=@product.season_2%></h3>
            </div>
          </div>
          <!--진단결과 끝-->
          
          <% case @current_season %>
          <% when "default" %>
            <!-- 제품군, 펄유무, 텍스쳐 모바일버전 시작-->
            <div class="product_info_mobile">
              <div class="panel panel-default col-md-4 col-xs-4" style="padding:0">
                <div class="panel-body" align="center">
                  <span style="font-size:12px; text-align:center">
                  <img src="/images/product_lip.png" width="30"><br><%=@product.pro_type %></span>
                </div>
              </div>
              <div class="panel panel-default col-md-4 col-xs-4">
                <div class="panel-body" align="center">
                  <span style="font-size:12px; text-align:center">
                  <img src="/images/glitter.png" width="30"><br><%=@product.glitter %></span>
                </div>
              </div>
              <div class="panel panel-default col-md-4 col-xs-4">
                <div class="panel-body" align="center">
                  <span style="font-size:12px; text-align:right">
                  <img src="/images/texture.png" width="30"><br><%=@product.texture %></span>
                </div>
              </div>
            </div>
            <!-- 제품군, 펄유무, 텍스쳐 모바일버전 끝-->
          <% else %>
            <span>&nbsp;</span>
          <% end %>
          
          </section>
      </div>
      <!--color_show_wrapper end-->
      
<%
=begin
%>

          <!-- 발색 샷 -->
          <div class="color_show_wrapper">


            <img class="color_show2" src="https://s3.ap-northeast-2.amazonaws.com/palette160829111/product_color_in_shop/<%=@product.image%>_wrist.jpg">

          </div>
          <!--/발색 샷 끝-->
<%
=end
%>
        
        <section id="detailPccs" class="col-md-12 col-xs-12" >
          <!--PCCS 시작-->
          <div class="wrap_pccs">
            <img class="season_info_img" src="https://s3.ap-northeast-2.amazonaws.com/palette160829111/tone/<%=@product.image%>_pccs.jpg">
          </div>
          <!--PCCS 끝-->
       </section>
       
    </div>
    <!--row detail_PC end-->

  <div class="row detail_PC detail_mobile" >
    <hr style="border:1px solid lightgray;">


    <!-- 수정요청 버튼 들어갈 부분 --
        <div>
          <a href="/home/feedback/<%=@product.image%>" class="btn-detail btn-edit" role="button">
            <i class="fa fa-question-circle" aria-hidden="true"></i>  질문하기
          </a> <!-- button 으로 하면 페이지 이동이 안됨;; 왜그러지--
        </div>-->
    <!-- 제품 상세 설명: 전문가 코멘트, 색상 정보, PCCS이미지 등-->


      <!--유의사항 시작-->
      <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 color_intro">
        <h4 style="text-align: center;">유의사항</h4>
        <ul>
          <li>
            팔렛에 소개된 모든 제품의 퍼스널컬러 정보는 자연광 환경에서 전문가가 직접 분류하였습니다.
           
           <!-- 분류 과정에 대한 보다 자세한 소개를 원하신다면
            <a href="/#process" style="color:#000;text-decoration:underline;" class='quick_tab' onClick="return false;"><strong>여기</strong></a> 를 눌러주세요.-->
          </li>
          <li>
            퍼스널컬러에 절대적인 기준은 없습니다. 제품에 따라 외부의 기준과는 다소 차이가 있을 수 있음을 유념해주세요.
          </li>
          <li>
            제품의 퍼스널컬러 정보가 어울리는 정도에는 개인차가 있을 수 있습니다.
          </li>
        </ul>
      </div>
      <!--유의사항 끝-->
      
      
<%
=begin
%>

      <!--추천/비추천 section -->
      
      <div class="updown_section">
        <h1 class="page-header"><i class="fa fa-commenting" aria-hidden="true"></i>추천/비추천</h1>
        
        <div class="media">
              <div class="col-md-12 col-xs-12" style="margin-top:20px;">
                <p>
                  <strong><%=@product.season%>톤</strong>인 저에게 잘 어울렸어요!
                </p>
                
                <div id="recommend" style="text-align:right;">
                    <% if current_user.voted_up_on? @product, :vote_scope => 'recommend' %>
                    
                      <%=link_to '', norecommend_home_path(@product.image), remote: true, id: "#{@product.image}_recommend",
                          class: "like fa fa-thumbs-up",  onclick:"ga('send', 'event', 'vote', 'click', 'vote_click', 1);" %>
                      <%=@recommend_count%>
                      
                    <%else%>
                    
                       <%=link_to '', recommend_home_path(@product.image), remote: true, id: "#{@product.image}_recommend",
                          class: "like fa fa-thumbs-o-up",  onclick:"ga('send', 'event', 'vote', 'click', 'vote_click', 1);" %>
                       <%=@recommend_count%>
                       
                    <%end%>
                    
                    <% if current_user.voted_down_on? @product, :vote_scope => 'recommend' %>
                    
                      <%=link_to '', nodisrecommend_home_path(@product.image), remote: true, id: "#{@product.image}_disrecommend",
                          class: "like fa fa-thumbs-down",  onclick:"ga('send', 'event', 'vote', 'click', 'vote_click', 1);" %>   
                      <%=@disrecommend_count%>
                      
                    <%else%>
                    
                       <%=link_to '', disrecommend_home_path(@product.image), remote: true, id: "#{@product.image}_disrecommend",
                        class: "like fa fa-thumbs-o-down",  onclick:"ga('send', 'event', 'vote', 'click', 'vote_click', 1);" %>   
                       <%=@disrecommend_count%>
                       
                    <%end%>  
                 </div>  
                </div>
                
               <div class="col-md-12 col-xs-12" style="margin-top:20px;">
                <p>
                  <strong><%=@product.season%>톤</strong>인 저에게 잘 어울렸어요!
                </p>
                
                <div id="recommend2" style="text-align:right;">
                   <% if current_user.voted_up_on? @product, :vote_scope => 'recommend2' %>
                  
                      <%=link_to '', norecommend2_home_path(@product.image), remote: true, id: "#{@product.image}_recommend2",
                          class: "like fa fa-thumbs-up",  onclick:"ga('send', 'event', 'vote', 'click', 'vote_click', 1);" %>
                      <%=@recommend2_count%>
                    
                   <%else%>
                  
                       <%=link_to '', recommend2_home_path(@product.image), remote: true, id: "#{@product.image}_recommend2",
                          class: "like fa fa-thumbs-o-up",  onclick:"ga('send', 'event', 'vote', 'click', 'vote_click', 1);" %>
                       <%=@recommend2_count%>
                     
                   <%end%>
                  
                   <% if current_user.voted_down_on? @product, :vote_scope => 'recommend2' %>
                  
                      <%=link_to '', nodisrecommend2_home_path(@product.image), remote: true, id: "#{@product.image}_disrecommend2",
                          class: "like fa fa-thumbs-down",  onclick:"ga('send', 'event', 'vote', 'click', 'vote_click', 1);" %>   
                      <%=@disrecommend2_count%>
                    
                   <%else%>
                  
                     <%=link_to '', disrecommend2_home_path(@product.image), remote: true, id: "#{@product.image}_disrecommend2",
                      class: "like fa fa-thumbs-o-down",  onclick:"ga('send', 'event', 'vote', 'click', 'vote_click', 1);" %>   
                     <%=@disrecommend2_count%>
                     
                   <%end%>  
                </div>   
              </div>
        </div>
        
      </div>
      <!--/추천 비추천 section 끝 -->
<%
=end
%>


<%
=begin
%>

        <!-- 후기 작성 페이지 -->
     <div class="review_section">
      <h1 class="page-header"><i class="fa fa-pencil"></i>사용자 후기</h1>

      <div class="review_list">

        <%if @review.blank? %>
            <div class="media">
              <div class="col-md-12 col-xs-12" style="margin-top:20px;">
                <p>
                  작성된 후기가 없습니다. 추천받은 제품이 잘 어울리셨는지 후기를 남겨주세요!
                </p>
              </div>
            </div>
        <%end%>


        <% @review.each do |p| %>

              <!-- 리뷰본문(오른쪽) -->
              <div class="row review_area">

                <div class="col-md-12 col-xs-12">
                  
                  <div class="col-md-12 col-xs-12">
                    <!-- 작성자 닉네임-->
                    <strong><a class="review_username" href="#"><%=p.username%></a></strong>
                    <!-- 작성일-->
                    <p style="color:lightgray;"><%= p.created_at.strftime("%Y.%m.%d %H:%M") %></p>
                  </div>
                  <br>
                  <!-- 첨부된사진 -->
                  <div class="col-md-12 col-xs-12" style="margin-top:20px;padding:0;">
                    
                    <div class="col-md-9 col-xs-12" style="margin-bottom:15px; word-break:break-all;white-space:pre-line;">
                      <%=p.content%>
                    </div>
                    <% unless p.img_url.nil? %>
                        <img src="<%= p.img_url %>" class="review_img"> <!--사진 너무 대문짝만하게 나옴-->
                    <% end %>

                  </div>
                  <!-- 후기내용 -->

                </div><br>
                <!-- 작성날짜 -->
                <div class="col-md-8 col-md-offset-1 col-xs-12" style="margin-top:10px;">

                  <!-- 삭제버튼-->
                  <% if user_signed_in? %>
                  
                      <% if p.username == current_user.username %>
                          <!-- 수정하는 페이지로 이동-->
                        <div class="col-md-6 col-xs-6" id="btn_review_edit">
                          <a class="btn_review_action" href="/update_view/<%=@product.image%>/<%=p.id%>">수정</a>
                        </div>
                        
                        <div class="col-md-6 col-xs-6" id="btn_review_delete">
                          <a class="btn_review_action" href="/destroy_review/<%= p.id %>" data-confirm="삭제 하시겠습니까?">삭제</a>
                        </div> 
                        
                      <% elsif current_user.admin? %>  
                         <!-- 수정하는 페이지로 이동-->
                        <div class="col-md-6 col-xs-6" id="btn_review_edit">
                           <a class="btn_review_action" onClick="return false;" style="cursor:pointer;" data-confirm="권한이 없습니다">수정</a>
                        </div>
                        
                        <div class="col-md-6 col-xs-6" id="btn_review_delete">
                          <a class="btn_review_action" href="/destroy_review/<%= p.id %>" data-confirm="삭제 하시겠습니까?">삭제</a>
                        </div> 
                         
                      
                      <%else%>
                         <div class="col-md-6 col-xs-6" id="btn_review_edit">
                           <a class="btn_review_action"  onClick="return false;" style="cursor:pointer;" data-confirm="권한이 없습니다".>수정</a>
                         </div>
                        
                        <div class="col-md-6 col-xs-6" id="btn_review_delete">
                          <a class="btn_review_action" onClick="return false;" style="cursor:pointer;" data-confirm="권한이 없습니다.">삭제</a>
                        </div> 
                      <% end %>
                  
                  
                  <% else %>
                  
                       <div class="col-md-6 col-xs-6" id="btn_review_edit">
                          <a class="btn_review_action"  onClick="return false;" style="cursor:pointer;" data-confirm="권한이 없습니다">수정</a>
                        </div>
                        
                        <div class="col-md-6 col-xs-6" id="btn_review_delete">
                          <a class="btn_review_action" onClick="return false;"  style="cursor:pointer;" data-confirm="권한이 없습니다">삭제</a>
                        </div> 
                  
                  <% end %>
                  
                </div>
              </div> <!--/div.review_area-->

        <%end%> <!--/review.each do end -->

      </div> <!--/.review_list-->
      
      <!-- pagination -->

      <%= render :partial => "layouts/partial/pagination" %> 

      
       
      <section class="write_review">
        <div class="container" style="margin-top:30px">
          <div class="row">
            <div class="col-md-9 col-xs-12">
              <div style="background-color:#ffffff;">
                  
              </div>                  
                          
              <!-- 후기글 작성폼. 내용,사진첨부 -->
              <form style="margin-top:40px" action="/home/review_submit" method="post" enctype="multipart/form-data">
                
                <div class="filebox col-md-5" style="padding:0px">
                  <label for="camera">
                     <i class="fa fa-camera" aria-hidden="true" style="margin:5px;"></i>사진 첨부
                  </label>
                  <input type="file" name="pic" id="camera" accept="images/*" capture="camera" onchange="getThumbnailPrivew(this,$('#cma_image'))" />
                </div>
                
                 <!--사진미리보기-->
                <div id="cma_image" class="picture">
                  <!--첨부한 사진 thumbnail이 뜨는 곳-->
                  </div>
                
                <textarea class="form-control" rows="5" id="content" name="content" placeholder="20자 이상 입력해주세요." maxlength="500" required></textarea>
                <input id="counter" value="0" disabled>
                <span class="minlength_require" style="font-weight:bold;color:red;"></span>
                
                <div style="text-align:right;">
                  <% if user_signed_in? %>
                    <button name="pro_submit" value="<%=@product.image%>" type="submit" class="review_submit" style="color:#ffffff">등록</button>
                  <%else%>
                    <%= link_to "등록", new_user_session_path, class:"review_submit", data: { confirm: "로그인 후 이용해주세요." }%> 
                  <%end%>
                </div>
              </form>
            
            </div>
          </div>
        </div>
      </section>
 
       
       
       


     </div> <!--./review_section-->
<%
=end
%>
      
    



<%
=begin
%>

      <div class="col-md-12 col-xs-12" style="text-align: center;">
        <a href="/home/order/<%=@product.image%>" class="btn-buy btn-buy-bottom" role="button">
          <i class="fa fa-krw" aria-hidden="true"></i> 주문하기
        </a>
      </div>
<%
=end
%>


  </div>
  <!--/.row -->


  </div>
  <!--/.containter_맨위 -->



<style>
    @import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
    @import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
    
    h4 {font-family: 'Hanna';}

    .page-navigation>a{
      color:#56565d;
    }
    .partner_name:hover{
      text-decoration: none;
    }
    .season_info{
      font-family:'Hanna';
      font-weight:bold;
      text-align:center;
      display:inline-block;
    }
    .txt_season_info{
      color:gray;
      font-weight:200;
      font-family:'Nanum Gothic';
      font-size:13px;
    }
    a.like{
      color:red;
      text-decoration:none;
    }
    a.like:hover{
      color:red;
      text-decoration:none;
    }
    a.like:active{
      color:red;
      text-decoration:none;
    }
    
    /*후기*/
    .review_area{
      border: 1px solid lightgray; 
      border-radius: 3px;
      padding:10px; 
      background-color:#ffffff;
      margin:15px 0px;
    }
    .review_username{
      color:#ff6666;
    }
    .btn_review_action{
      color:gray;
      background-color:#ffffff;
      margin-top:20px;
      font-weight:bold;
    }
    .write_review{
      background-color:#e4e4e4;
      margin-top:80px;
    }
    .review_submit{
      display:inline-block;
      background-color:gray;
      border-radius:5px;
      width:20%;
      padding:5px;
      margin:10px 0px;
    }
    a.review_submit{
      text-align:center;
      text-decoration:none;
      color:white;
    }
    a.review_submit:hover{
      text-decoration:none;
    }
    input#counter{
      background-color:#e4e4e4;
      text-align:right;
      width:100%;
      margin-top:5px;
    }
    .filebox label {
        display: inline-block;
        padding: 5px 0px;
        color: #999;
        font-size: inherit;
        line-height: normal;
        text-align: center;
        vertical-align: middle;
        background-color: #fdfdfd;
        cursor: pointer;
        border: 1px solid #ebebeb;
        border-bottom-color: #e2e2e2;
        border-radius: .25em;
        width:40%;
        max-width:100%;
        margin-bottom:20px;
    }

    .filebox input[type="file"] {  /* 파일 필드 숨기기 */
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip:rect(0,0,0,0);
        border: 0;
    }
    
    .picture p{
      font-weight:bold;
      color:#919191;
    } 
    
     .picture img {
        width:130px;
        height:130px;
    }
     .review_img{
       display:block;
       width:80%;
       margin:0 auto;
     }

     .line_separate{
        position: absolute;
        top: 0px;
        left: 50%;
        display: inline-block;
        width: 5px;
        height: 100%;
        background: white;
     }
     
     #detailNotice{
       display:block;
       width:100%;
       margin:0 auto;
     }

    
    @media (max-width: 768px){
      
      #carousel-example-generic{padding:100px 50px 0;}
      .page-navigation{
        text-align:right;
        margin: 30px 10px 20px 0px;
      }
      .btn-edit{
        height:40px;
        width:80px;
        line-height:40px;
        color:#56565d;
        font-size:13px;
        font-weight:bold;
        text-align:center;
        background:#ffffff;
        border:2px solid #56565d;
        float:right;
        margin-bottom:20px;
        display:block;
      }
      .btn-edit:active{
        color:#ffa291;
        background-color: #ffffff;
        border:2px solid #ffa291;
        text-decoration:none;
      }
      .color_intro{
        font-size:12px;
        clear:both;
        text-align:left;
        border:1px solid #56565d;
        margin-bottom:50px;
      }
      .color_intro>h4{
        font-weight:bold;
      }
      .color_intro>ul{
        list-style: disc;
      }
      .color_intro>ul>li{
        padding:10px;
      }
      .color-image{
        display:inline;
        width:100%;
        height:100%;
      }
      /*제품 상세페이지*/
      .panel-body{
        padding:10px;
      }

      /*전문가 코멘트 부분*/
      .partner_comment {
        position: relative;
        width: 100%;
        height: auto;
        padding:10px;
        margin:0 10px 0 10px; 
        word-break:break-all;
        white-space: pre-line;
        display:inline-block;
        font-size:20px;
        font-family: 'Nanum Brush Script', serif;
        text-align:center;
        background: #ffe6e6;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;

      }

      .partner_comment:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 7px 21px 7px 0;
        border-color: transparent #ffe6e6;
        display: block;
        width: 0;
        z-index: 1;
        margin-top: -7px;
        left: -16px;
        top: 50%;

      }
      .partner_comments_header{
        text-align:center;
        margin-bottom:30px;
      }
      .partner_comments_header>h3{
        
        font-family:'Hanna';
        font-size:20px;
        font-weight:bold;
        display:inline-block;
      }
      .partner_comments_header>h3>p{
        font-size:11px;
      }
      .comment_icon{
        display:inline-block;
        font-size:20px;
        color:#ffa291;
        margin-left:10px;
      }
      .partner_profile{
        
        text-align: center;
      }
      .partner_name{
        display:block;
        color:#000;
        font-size:14px;
        margin-top:10px;

      }

      .partner_img{
        border-radius:100%;
        width:80px;
        height:80px;
        display:inline-block;
      }
      .product_info{
        display:none;
      }
     .season_PC{
        display:none;
      }
      .season_info{
      font-family:'Hanna';
      font-weight:bold;
      font-size:19px;
      text-align:center;
      display:inline-block;
    }
       /*img.lip_img{
        width:30px;
        height:30px;
        margin-bottom:50px;
      }*/
      .season_info_img{
        width:100%;
        height:auto;
        margin-bottom:30px;

      }
      .color_show_wrapper{
        text-align: center;
      }
      .color_show{
        /*height:312px;*/
        width:100%;
        margin:auto;
        display:block;
      }
      .color_chip{
        width:285px;
        height:70px;
        margin:auto;
        margin-top:10px;
        margin-bottom:30px;
      }
      .color_show2{
        height:300px;
        width:100%;
        display:block;
        margin:3px 0px 50px 0px;
      }
      p.color_show_explain{
        text-align:center;
        padding:50px 30px;
        border:2px solid #6e6e6e;
        border-radius:3px;
        height:auto;
        width:100%;
        display:block;
        margin:20px auto;
        margin-bottom:20px;
        font-size:12px;
      }
      p.color_show_explain img{
        width:30px;
        height:30px;
        margin-bottom:5px;
        margin-right:5px;
        display:inline-block;
        
      }
      p.color_show_explain .explain_notice{
        font-size:20px;
        font-weight:bold;
        display:inline-block;
        border-bottom:2px solid #6e6e6e;
        padding:0px 50px 20px;
      }
      p.color_show_explain .explain_title{
        font-size:15px;
        font-weight:700;
        margin-top:40px;
        margin-bottom:10px;
        display:block;
      }
      p.color_show_explain .explain_content{
        /*color:gray;*/
        font-size:12px;
        margin-right:8px;
      }
      
      .box_season_result {
        display:inline-block;
        width:100%;
        margin:0 auto;
        padding:10px 0;
        text-align:center;
      }
      
       #detailContent{
        display:inline-block;
        width:100%;
        /*padding:15px 15px 0 15px;*/
        margin:0 auto 15px;
        /*border:1px solid #bcbcbc;*/
      }
      
      .explain_season_result{
        display:inline-block;
        width:100%;
        margin:0 auto;
        padding:20px 10px;
      }
      
      .title_season_result{
        font-weight: bold;
        font-size: 20px;
        margin-top: 15px;
      }
      
      .txt_season_result{
        color:gray;
        font-size:15px;
        padding:15px 50px;

      }
      
      .txt_season_evaluation{
        font-size:30px;
        font-family:'Impacted';
      }
      
      .wrap_season_result{
        display:inline-block;
        width:100%;
        border:1px solid #bcbcbc;
        padding:0 15px;
        margin-bottom:20px;
      }
      
      .txt_season_tone{
        display:inline-block;
        font-family:'Hanna';
        font-weight:bold;
        font-size:20px;
        margin:15px;
      }
      
      .img_wrist_wrap{
        display:inline-block;
        width:100%;
        height:auto;
        margin-bottom:10px;
      }
      
      .img_wrist_box{
        position: relative;
        width: 100%;
        padding-top: 50%;
        overflow: hidden;
      }
      
      .img_wrist_box2{
        position: relative;
        width: 100%;
        padding-top: 100%;
        overflow: hidden;
      }
      
      .img_wrist_color, .img_wrist_color3{
        position: absolute;
      	top: 0;
      	left: 0;
      	right: 0;
      	width: 100%;
      	transform: rotate(90deg);
       -ms-transform: rotate(90deg); // IE 9 이상에서 사용
       -webkit-transform: rotate(90deg); // 사파리, 크롬, 오페라 브라우저 사용
      }
      
      .img_wrist_color2{
        position: absolute;
        bottom: 0;
      	left: 0;
      	right: 0;
      	width: 100%;
      	transform: rotate(90deg);
       -ms-transform: rotate(90deg); // IE 9 이상에서 사용
       -webkit-transform: rotate(90deg); // 사파리, 크롬, 오페라 브라우저 사용
      }
      
      .btn-buy{
        height:38px;
        width:100px;
        line-height:30px;
        color:#ffffff;
        font-size:14px;
        text-align:center;
        background:#ffaaa3;
        border-radius:3px;
        margin-bottom:20px;
        padding:5px;
        display:inline-block;
      }
      .btn-buy-bottom{
        height:50px;
        width:200px;
        line-height:40px;
        font-size:15px;
        display:block;
        margin:30px auto;
        margin-bottom:0px;

      }

      .fa-krw{
        color:#ffaaa3;
        background-color: #ffffff;
        border-radius: 100%;
        font-size:10px;
        padding:5px;
        margin:0 3px;
      }
      .divide_inPC{
        display:none;
      }
      .detail_mobile{
        padding-right:30px;
        padding-left:30px;
      }

      /*후기 부분*/

      .review_section{
        clear:both;
      }
      div#btn_review_delete{
        text-align:right;
      }
      div#btn_review_edit{
        text-align:left;
      }
      
      
      
      
    } /*max-width 768px ends*/

    @media (min-width: 768px){
      .page-navigation{
        text-align:right;
        margin-right:45px;

      }
      body{
        margin-top:60px;
        height:auto;
      }
      .detail_PC{
        padding-right:150px;
        padding-left:150px;
      }
      .btn-edit{
        height:50px;
        width:110px;
        padding:10px;
        line-height:30px;
        color:#56565d;
        font-size:15px;
        font-weight:bold;
        text-align:center;
        background:#ffffff;
        border:2px solid #56565d;
        float:right;
        margin-bottom:20px;
        display:block;
      }
      .btn-edit:hover{
        color:#ffa291;
        background-color: #ffffff;
        border:2px solid #ffa291;
        text-decoration:none;
      }
      .color_intro{
        font-size:14px;
        clear:both;
        text-align:left;
        border:1px solid #56565d;
        margin-bottom:50px;
      }
      .color_intro>h4{
        font-weight:bold;
      }
      .color_intro>ul{
        list-style: disc;
      }
      .color_intro>ul>li{
        padding:10px;
      }
      .color-image{
        display:inline;
        width:55%;
        height:40%;
        margin-bottom:20px;
      }
      /*전문가 코멘트 부분*/
      .partner_comments_header{
        text-align:center;
        margin-bottom:30px;
      }
      .partner_comments_header>h3{
        
        font-family:'Hanna';
        font-weight:bold;
        display:inline-block;
        
      }
      .comment_icon{
        display:inline-block;
        font-size:30px;
        color:#ffa291;
        margin-left:10px;
      }
      .partner_comment {
        position: relative;
        width: 100%;
        height: 80px;
        line-height: 80px;
        display:inline-block;
        font-size:28px;
        font-family: 'Nanum Brush Script', serif;
        text-align:center;
        padding: 0px;
        background: #ffe6e6;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;

      }

      .partner_comment:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 12px 17px 12px 0;
        border-color: transparent #ffe6e6;
        display: block;
        width: 0;
        z-index: 1;
        margin-top: -12px;
        left: -16px;
        top: 50%;

      }

      .partner_profile{

        text-align: center;
      }
      .partner_name{
        display:block;
        color:#000;
        font-size:12px;
        margin-top:20px;
      }

      .partner_img{
        border-radius:100%;
        width:80px;
        height:80px;
        display:inline-block;
      }

      /*제품 상세 페이지*/

      .product_info_mobile{
        display: none;
      }
      .product_info .panel{
        margin-top:30px;
        margin-bottom:40px;
      }
      .btn-buy{
        height:38px;
        width:120px;
        line-height:30px;
        color:#ffffff;
        font-size:15px;
        text-align:center;
        background:#ffaaa3;
        border-radius:3px;
        margin-bottom:20px;
        padding:5px;
        display:inline-block;
        transition: all 0.4s;
      }
      .btn-buy.btn-buy-bottom{
        height:50px;
        width:300px;
        line-height:40px;
        font-size:17px;
        display:block;
        margin:30px auto;
        margin-bottom:0px;

      }
      .btn-buy:hover{
        text-decoration:none;
        color:#ffffff;
        background-color:#d74b4b;
      }

      .fa-krw{
        color:#ffaaa3;
        background-color: #ffffff;
        border-radius: 100%;
        font-size:10px;
        padding:5px;
        margin:0 3px;
      }
      .season_info{
        margin-bottom:20px;
        margin-top:20px;
      }
     
      .season_info_img{
        width:650px;
        height:auto;
        margin:30px auto;
        display:block;
      }
      .season_mobile{
        font-size:35px;
      }
      .color_show_wrapper{
        text-align: center;
        margin-top:50px;
      }
      .color_show{
        height:650px;
        width:650px;
        margin:auto;
        display:block;
      }
      
      .color_show2{
        height:590px;
        width:590px;
        display:block;
        margin:50px auto;
      }
      p.color_show_explain{
        text-align:center;
        padding:100px 30px;
        border:2px solid #6e6e6e;
        border-radius:3px;
        height:auto;
        width:650px;
        display:block;
        margin:0 auto;
        font-size:15px;
      }
      p.color_show_explain img{
        width:40px;
        height:40px;
        margin-bottom:5px;
        margin-right:5px;
        display:inline-block;
        
      }
      p.color_show_explain .explain_notice{
        font-size:25px;
        font-weight:bold;
        display:inline-block;
        border-bottom:2px solid #6e6e6e;
        padding:0px 150px 30px;
      }
      p.color_show_explain .explain_title{
        font-size:20px;
        font-weight:700;
        margin-top:50px;
        margin-bottom:10px;
        display:block;
      }
      p.color_show_explain .explain_content{
        /*color:gray;*/
        font-size:14px;
        margin-right:8px;
      }

      /*img.lip_img{
        margin-bottom:80px;
      }*/

      .box_season_result {
        display:inline-block;
        width:100%;
        margin:0 auto;
        padding:10px 0;
        text-align:center;
      }

      #detailContent{
        display:inline-block;
        width:650px;
        /*padding:15px;*/
        margin:50px auto;
        /*border:1px solid #6b6b6b;*/
      }
      
      .explain_season_result{
        display:inline-block;
        width:100%;
        margin:20px auto;
        padding:20px;
      }
      
      .title_season_result{
        font-weight:bold;
        font-size:30px;
        margin-top:20px;
      }
      
      .txt_season_result{
        color:gray;
        font-size:16px;
        padding:20px;
      }

      .txt_season_evaluation{
        font-size:50px;
        font-family:'Impacted';
      }
      
      .txt_season_tone{
        display:inline-block;
        font-family:'Hanna';
        font-weight:bold;
        font-size:30px;
        margin:20px;
      }
      
      .img_wrist_wrap{
        display:inline-block;
        width:100%;
        height:auto;
        margin-bottom:10px;
      }
      
      .img_wrist_box{
        position: relative;
        width: 100%;
        padding-top: 50%;
        overflow: hidden;
      }
      
      .img_wrist_box2{
        position: relative;
        width: 100%;
        padding-top: 100%;
        overflow: hidden;
      }
      
      .img_wrist_color, .img_wrist_color3{
        position: absolute;
      	top: 0;
      	left: 0;
      	right: 0;
      	width: 650px;
      	transform: rotate(90deg);
       -ms-transform: rotate(90deg); // IE 9 이상에서 사용
       -webkit-transform: rotate(90deg); // 사파리, 크롬, 오페라 브라우저 사용
      }
      
      .img_wrist_color2{
        position: absolute;
        bottom: 0;
      	left: 0;
      	right: 0;
      	width: 650px;
      	transform: rotate(90deg);
       -ms-transform: rotate(90deg); // IE 9 이상에서 사용
       -webkit-transform: rotate(90deg); // 사파리, 크롬, 오페라 브라우저 사용
      }

      /*후기 부분*/

      .review_section{
        clear:both;
      }
      .review_area{
        margin:15px auto;
        width:80%;
      }
       .review_img{
       display:block;
       width:40%;
       margin:0 auto;
     }
     div#btn_review_delete{
        text-align:right;
      }
      div#btn_review_edit{
        text-align:right;
      }
      
      
    } /*min-width :768px ends*/
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script>
    

    //로그인 안한상태에서 후기쓰기 누르면 뜨는 안내메세지    
    $("#review_login").click(function(){
      alert("로그인 후 이용해주세요!");
    });

      //page navigation scrolling

      $(".quick_tab").click(function(){
        var currentId = $(this).attr('href');
        window.location = currentId;

      });
    
    
    //리뷰 최소 20자 이상 쓰게 하기.
    $( "form" ).submit(function( event ) {
      
        
        if ( $('textarea').val().length < 20 ) {
          $( "span.minlength_require" ).text( "20자 이상으로 자세히 말씀 해주세요:)" ).show();//.fadeOut( 3000 );
          event.preventDefault();
          return;
        }
      
    });  
    
    //실시간 글자수 세기
    $(function() {
      
        var wordCounts = {};
    
        $('#content').each(function() {
            var input = '#content'
            word_count(input);
    
            $(this).keyup(function() {
                word_count(input);
            })
    
        });
    
          function word_count(field) {
                  var number = 0;
                  var matches = $(field).val();
                  if (matches) {
                      number = matches.length;
                  }
                  wordCounts[field] = number;
                  var finalCount = 0;
                  $.each(wordCounts, function(k, v) {
                      finalCount += v;
                  });
                  $('#counter').val(finalCount+"/500")
              }    
    });
     
  
    //후기 사진 첨부 미리보기
    function getThumbnailPrivew(html, $target) {
      if (html.files && html.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
          $target.css('display', '');
            //$target.css('background-image', 'url(\"' + e.target.result + '\")'); // 배경으로 지정시
            $target.html('<img src="' + e.target.result + '" border="0" alt="" />');
          }
          reader.readAsDataURL(html.files[0]);
        }
      }


    //상세페이지 진단결과 설명 텍스트 컬러 입히기
    $(function(){
      var getSeasonColor = $(".txt_season_color").text();
      switch (getSeasonColor){
        case "봄 브라이트" :
          $(".txt_season_color").css("color", "red");
          $(".txt_season_color").css("font-weight", "bold");
        break;
        case "봄 라이트" :
          $(".txt_season_color").css("color", "#ff9001");
          $(".txt_season_color").css("font-weight", "bold");
        break;
        case "여름 라이트" :
          $(".txt_season_color").css("color", "#fe9289");
          $(".txt_season_color").css("font-weight", "bold");
        break;
        case "여름 뮤트" :
          $(".txt_season_color").css("color", "#4e9ecc");
          $(".txt_season_color").css("font-weight", "bold");
        break;
        case "가을 뮤트" :
          $(".txt_season_color").css("color", "#bf568f");
          $(".txt_season_color").css("font-weight", "bold");
        break;
        case "가을 딥" :
          $(".txt_season_color").css("color", "#a50000");
          $(".txt_season_color").css("font-weight", "bold");
          $(".txt_season_color2").html("은");
        break;
        case "겨울 딥" :
          $(".txt_season_color").css("color", "#97005c");
          $(".txt_season_color").css("font-weight", "bold");
          $(".txt_season_color2").html("은");
        break;
        case "겨울 브라이트" :
          $(".txt_season_color").css("color", "#ff00c0");
          $(".txt_season_color").css("font-weight", "bold");
        break;
        default :
          $(".txt_season_color").css("color", "black");
          $(".txt_season_color").css("font-weight", "bold");
        break;
      }
    });
    
</script>