<div class="container">
    
    <br>
      <div style="background-color:#ffffff;">
        <hr style="border: solid 1.0px;color:#333333">
           <p align="center" style="margin-bottom:20px; font-size:16px;color:#000000"><strong>고객의 소리</strong></p>
        <hr style="border: solid 1.0px;color:#333333">  
      </div>         
    
        <% if @product == nil %>
          요청사항을 남겨주세요. 적극적으로 검토하도록 하겠습니다.
        <% else %>
        <!--상품정보 출력-->
        <div class="media panel-body container" style="border: solid 2.0px lightgray; margin-top:20px">
            <div class="pull-left user-info" href="#" float="left" >
                <img class="example" src="https://s3.ap-northeast-2.amazonaws.com/fourseasons111112/product/<%=@product.num%>-min.jpg" style="width:140px;height:auto;">
                <br>
            </div>
            <div class="media-body">
                <p>[<%=@product.brand %>] <strong><%=@product.name %></strong></p>
                <p><%=@product.size %> / <%=@product.price %>원</p>
                <p><%=@product.tone %> <%=@product.wc %></p>
            </div>
        </div>
        <% end %>
        
    <form style="margin-top:40px" action="/home/feedback_submit" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" value="<%=current_user.email%>">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">요청하시는 사항이 무엇인가요?</label>
        <input type="text" name="title" class="form-control">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">왜 그렇게 생각하시는 지 자유롭게 의견을 남겨주세요 :)</label>
        <textarea class="form-control" name="content" rows="10"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" name="pic" id="exampleInputFile" accept="image/*">
      </div>
      <center>
        <% if @product == nil %>
          <button type="submit" name="feed_pro_num" value="home" class="btn btn-black" style="color:#ffffff;" >문의보내기</button>
        <% else %>
          <button type="submit" name="feed_pro_num" value="<%=@product.num%>" class="btn btn-black" style="color:#ffffff;" align="center">문의보내기</button>
        <% end %>
      </center>
    </form>
    <br><br><br>
</div>

<style>
      .btn-black {
          width:100px;
          height:40px;
          font-size:15px;
          text-align:center;
          cursor:pointer;
          color:#000000;
          background:#333333;
      }  

</style>