<div class="container container-up-margin">
    
    <br>
      <div style="background-color:#ffffff;">
        <hr style="border: solid 1.0px;color:#333333">
           <p align="center" style="margin-bottom:20px; font-size:16px;color:#000000"><strong>재진단 요청</strong></p>
        <hr style="border: solid 1.0px;color:#333333">  
      </div>         
    
        <!--상품정보 출력-->
        <div class="media panel-body container" style="border: solid 2.0px lightgray; margin-top:20px">
            <div class="pull-left user-info" href="#" float="left">
                <img class="example" src="https://s3.ap-northeast-2.amazonaws.com/palette160829111/product/<%=@product.image%>-min.jpg" style="width:140px;height:auto;">
                <br>
            </div>
            <div class="media-body">
                <p>[<%=@product.brand %>] <strong><%=@product.name %></strong></p>
                <p><%=@product.size %> / <%=@product.price %>원</p>
                <p>옅은발색:<%=@product.season_1%>/짙은발색:<%=@product.season_2%></p>
            </div>
        </div>
       
        
    <form id="myForm" style="margin-top:40px" action="/home/feedback_submit" method="post" enctype="multipart/form-data" data-toggle="validator">
      <div class="form-group">
        <label for="exampleInputEmail1">이메일 주소</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" data-error="이메일 주소를 입력해주세요." required>
        <div class="help-block with-errors"></div>
      </div>

      <div class="form-group">

        <label for="content">제품의 정보 중에 어떤 점에 오류가 있나요?</label>
        <textarea class="form-control" name="content" id="content" rows="10" data-error="내용을 입력해주세요." required></textarea>
        <div class="help-block with-errors"></div>
      </div>
      <!-- 사진첨부 기능 임시 해제(16.10.13)

        <label for="exampleInputPassword1">요청하시는 사항에 대해 자세히 말씀해주세요:)</label>
        <textarea class="form-control" name="content" rows="10"></textarea>
      </div>

      -->
      <center>
        
          <button type="submit" name="feed_pro_num" value="<%=@product.image%>" class="btn-ask" >보내기</button>
        
      </center>
    </form>
    <br><br><br>
</div>

<style>
  .btn-ask {
    height:50px;
    width:100px;
    padding:10px;
    line-height:30px;
    color:black;
    font-size:15px;
    font-weight:bold;
    text-align:center;
    background:#ffffff;
    border:2px solid black;
    display:block;
    float:left;
  }
  .btn-ask:hover{
    color:#ffa291;
    background-color: #ffffff;
    border:2px solid #ffa291;
    text-decoration:none;
  }
</style>

<script>
    $(document).ready(function () {

        $('form#myForm').validator();

    });

</script>