
<div class="intro-header">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="intro-message">
          <h1>나만의 인생템 찾기</h1>
          <h3 style="margin-bottom:50px;">퍼스널컬러에 맞는 립스틱을 찾아보세요!</h3>
         <!-- <hr class="intro-divider">-->
         <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">
           <a href="/home/list_lip2/봄 브라이트" class="btn-manual btn-manualM">추천 립 보기</a>
         </div>
<%
=begin
%>


  <!-- 사용자 메뉴얼 주석처리 (16.11.08
          <!-- Trigger/Open The Modal --
          <div class ="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">
             <button class="btn-manual btn-manualM" id="btnModal">사이트 이용방법</button>
         </div>

          <!-- The Modal --
          <div id="guideModal" class="guideModal">

            <!-- Modal content --
            <div class="modal-content">
              <div class="modal-header">
                <div class="modal-close">
                  <span class="close">×</span>
                </div>
                  <h3>사이트 이용방법</h3>
              </div>
              <div class="modal-body">


                  <div class="guideSlides">
                    <img class="guide_img" src="/images/p1.png" style="width:90%;height:90%;">
                    <img class="guideM_img" src="/images/m1.png" style="width:90%;height:90%;" >
                    <p></p>
                  </div>

                  <div class="guideSlides">
                    <img class="guide_img" src="/images/p2.png" style="width:90%;height:90%;">
                    <img class="guideM_img" src="/images/m2.png" style="width:90%;height:90%;">
                    <p></p>
                  </div>

                  <div class="guideSlides">
                    <img class="guide_img" src="/images/p3.png" >
                    <img class="guideM_img" src="/images/m3.png" >
                    <p><br>웜/쿨톤에 맞는 추천 상품을 살펴보세요</p>
                  </div>

                  <div class="guideSlides">
                    <img class="guide_img" src="/images/p4.png" >
                    <img class="guideM_img" src="/images/m4.png" >
                    <p><br>상품명, 브랜드에 따라 검색해보세요</p>
                  </div>

                  <div class="guideSlides">
                    <img class="guide_img" src="/images/p5.png" style="width:90%;height:90%;">
                    <img class="guideM_img" src="/images/m5.png" style="width:90%;height:90%;">
                    <p>원하시는 상품이 없을 경우 요청해주세요</p>
                  </div>
                  <div class="guideSlides guideSlides_mobile">
                    <img class="guide_img" src="/images/p6.png" style="width:90%;height:90%;">
                    <img class="guideM_img" src="/images/m6.png" style="width:90%;height:90%;">
                    <p>오류가 있는 상품은 제보해주세요</p>
                  </div>


                </div>

                <div class="guide-center">
                  <div class="guide-section">
                    <button class="btn-guide" onclick="plusDivs(-1)">❮ Prev</button>
                    <button class="btn-guide" onclick="plusDivs(1)">Next ❯</button>
                  </div>

                  <!--
                  <button class="btn-guide demo" onclick="currentDiv(1)">1</button>
                  <button class="btn-guide demo" onclick="currentDiv(2)">2</button>
                  <button class="btn-guide demo" onclick="currentDiv(3)">3</button>
                  <button class="btn-guide demo" onclick="currentDiv(4)">4</button>
                  <button class="btn-guide demo" onclick="currentDiv(5)">5</button>
                  --
                </div>
              </div>

            </div>

          </div>
          <!--/Modal--
          -->
<%
=end
%>


          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 counts count1" style="margin-bottom:10px">
            <h3><%=@product_count%></h3>
            <p>전체 상품 수</p>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 counts">
            <h3><%=@update_count%></h3>
            <p>이번주 등록상품 수</p>
          </div>



        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->

<div class="content-section-a">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
        <h2 class="section-heading">새 소식</h2>
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>

        <div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px;">
          <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
            <table class="table user-list">
              <thead>
              <tr>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><span>번호</span></th>
                <th class="col-lg-5 col-md-5 col-sm-3 col-xs-3"><span>제목</span></th>
                <th class="col-lg-2 col-md-2 col-sm-1 hidden-sm col-xs-1 hidden-xs"><span>작성자</span></th>
                <th class="col-lg-2 col-md-2 col-sm-3 col-xs-3"><span>작성일</span></th>
                <th class="col-lg-1 col-md-1 col-sm-2 col-xs-2"><span>조회수</span></th>
              </tr>
              </thead>
              <tbody style="text-align: left;">
              <% @news.each do |p| %>
                  <tr>
                    <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                      <p><%=p.id%></p>
                    </td>
                    <td class="col-lg-5 col-md-5 col-sm-3 col-xs-3">
                      <a href="/home/notice_view/<%=p.id%>"><%=p.title%></a>
                    </td>
                    <td class="col-lg-2 col-md-2 col-sm-1 hidden-sm col-xs-1 hidden-xs">
                      <%=p.name %>
                    </td>
                    <td class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                      <%=p.created_at.in_time_zone("Asia/Seoul").strftime("%y-%m-%d") %>
                    </td>
                    <td class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                      <%=p.hits %>
                    </td>

                  </tr>
              <% end %>
              </tbody>
            </table>
           </div>
        </div>
          <div style="text-align: center;" >
            
           <a href="/home/notice" class="btn-list" id="story">전체보기</a>
           <!-- id story is for navigation -->
          </div>
        </div>
           
      </div>
         
    </div>
           
  </div>
  <!-- /.container -->
                    
</div>
<!-- /.content-section-a -->


<div class="content-section-c palette_story">

    <div class="container">

      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2 class="section-heading" >팔레트 소개</h2>
            <hr class="section-heading-spacer">
            <p class="story_content">
              
              <span class="content_mark">“</span>
              
              <span class="content_first">저에게 가장 잘 어울리는 제품이 무엇인가요?</span>
              
              <span class="content_mark">”</span> <br>
              <br>
              많은 분들께서 퍼스널컬러 진단 이후에 <br>
              어울리는 제품을 찾는 것을 어려워하셨습니다.<br>
              <br>
              팔레트는 그런 분들을 위해<br>
              <br>
              퍼스널컬러에 맞는 립 제품을<br>
              추천하는 것부터 시작하려고 합니다.<br>
              <br>
              팔레트에서 나에게 가장 잘 어울리는 립스틱을 찾아보세요.
              <span id="howto" ></span>     
            </p>
          </div>
        </div>
        <!-- /.row -->
       
      </div>
       <!-- /.container -->
   
</div>
<!-- /.content-section-b -->




<div class="content-section-b">
  <div class="container">

    <div class="row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

         <h2 class="section-heading">팔레트 이용방법</h2>
         <hr class="section-heading-spacer">
         <h4 class="section-heading-second">인생립을 찾는 가장 빠른 방법!</h4>
         <p class="section-heading-second" style="margin-bottom:40px;">
           팔레트는 퍼스널컬러 전문가와 <br>함께 만들어가는 서비스입니다.
         </p>
       </div>
       <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <img src="/images/step1.png" alt="퍼스널컬러 웜톤 쿨톤 립스틱" class="feature_img">
          <div class="clearfix"></div>
          <h4>맞춤형 추천</h4>
          <p class="lead">내 진단결과를 선택하고 원하는 정보만 골라서 보세요.</p>
        </div>

       <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
         <img src="/images/step2.png" alt="다양한 브랜드의 퍼스널컬러 정보" class="feature_img">
         <div class="clearfix"></div>
         <h4>브랜드 선택</h4>
         <p class="lead">로드샵, 백화점 브랜드 중 자주 가는 브랜드를 선택하세요.</p>
       </div>

       <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" >
         <img src="/images/step3.png" alt="" class="feature_img">
         <div class="clearfix"></div>
         <h4 id="process">캡처하기</h4>
         <p class="lead">마음에 드는 제품을 캡처! 이제 매장에서 테스트해보세요</p>
       </div>

     </div>
    </div>
  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-b -->


<%
=begin
%>

<div class="content-section-c" >

    <div class="container">

      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="container">
              <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="section-heading">PCI 진단 분류 시스템</h2>
                    <p style="font-size:1em;text-align:center;">*PCI는 Personal Color Image의 약자입니다.</p>
                    <hr class="section-heading-spacer">
                  </div>
               </div>
             <div class="container">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                  <div class="row">
                   <!--
                    <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-12 col-xs-12">
                      <img src="/images/feature1.png" alt="퍼스널컬러 진단">
                    </div> -->

                    <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-12 col-xs-12">
                    <h4 class="pci_title">1. 제품 진단환경 최적화</h4>
                      <p class="pci_explain">톤 분류는 컬러 진단하기 가장 효과적인 환경에서 진행됩니다.<br>
                      현재 3000~5000lux의 최적화된 조명 환경을 유지하며, 실제 퍼스널컬러를 진단하는 고정된 장소에서만 진단합니다.</p>
                    </div>
                   </div>

                   <div class="row">
                    <!--
                     <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-12 col-xs-12">
                       <img src="/images/feature1.png" alt="">
                     </div>
                     -->

                     <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-12 col-xs-12">
                        <h4 class="pci_title">2. 퍼스널컬러 컨설턴트 그룹</h4>
                       <p class="pci_explain">다양한 이력을 가진 퍼스널컬러 전문가들이 함께 합니다.<br>
                       각 전문가들은 PCCS 색채이론을 바탕으로 일정한 환경에서 제품진단에 참여하고 있습니다.</p>
                     </div>
                    </div>

                    <div class="row">
                      <!--
                       <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-12 col-xs-12">
                         <img src="/images/feature1.png" alt="웜톤 쿨톤 립스틱 발색">
                       </div> -->


                       <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-12 col-xs-12">
                         <h4 class="pci_title">3. 일관된 발색기준 선정</h4>
                         <p class="pci_explain" id="partners1">발색 시 피부색 마다 차이를 보이는 변수를 막기 위해, 피부를 대신할 새로운 형태가 필요했습니다.<br>
                         여러 차례의 실험을 거쳐 피부발색과 가장 근사치에 가까운 미색계열의 아크릴판을 선정하였습니다.</p>
                       </div>
                    </div>
              </div>
             </div>
            <!-- /.row2 -->
            </div>
          </div>
        </div>
        <!-- /.container -->
      </div>
      <!-- /.row -->
   </div>
  <!-- /.container -->
</div>
<!-- /.content-section-b -->



<div class="content-section-d">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h2 class="section-heading">파트너 소개</h2>
              <p class="lead">함께 하고 있는 퍼스널컬러 전문 업체들을 소개합니다.</p>
              <hr class="section-heading-spacer">
            </div>
        </div>

      <!-- 전문가1-->
        
      <div class="row" id="partners">
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <div class="palette_logo">
             <img id="palette_logo" src="/images/logo_new.png" alt="">
          </div>
        </div>
  
        <div class="col-lg-5 col-sm-6"  id="partners2">
          <div class="clearfix"></div>
          <h4 class="partner_title">팔레트</h4>
          <p class="partner_name">최영진 대표</p>
          <hr>
          <div class="partner_content">
            <p><strong>[이력 사항]</strong><p>
              <ul>
                <li>
                  팔레트 대표
                </li>
                 <li>
                  前) 비전인스타일 대표 
                </li>
                <li>
                  前) 제이컬러이미지 전임강사
                </li>
              
                <li>
                  컬러 컨설턴트 전문가 과정 수료(KCCA)
                </li>
              </ul>
  
            <p><strong>[강연 및 컨설팅]</strong><p>
              <ul>
                <li>
                  아모레퍼시픽 VIP 뷰티클래스 강의
                </li>
                <li>
                  롯데백화점 강남 문화센터 강연
                </li>
                <li>
                  코오롱스포츠 스타일클래스 컨설팅
                </li>
                <li>
                  경희대 국제캠퍼스 뷰티콘서트 컨설팅
                </li>
                <li>
                  코엑스 맨토링캠프 컬러진단
                </li>
                <li>
                  잡페어 면접 컨설팅 외 다수
                </li>
              </ul>
            <a href="/" class="partner_site">자세히 보기</a>
          </div>
        </div>
     
  
      </div>
      
  </div>    
</div>      
      
      
      
      
<!--
      <div class="row">
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         
          <div class="partner_img" id="colorbyBOM">
            <h1 style="font-family:'Poiret One',cursive;color:black;text-align:center;font-weight:bold;margin-bottom:20px;">color by BOM</h1>
            <h5 style="font-family:'Poiret One',cursive;color:black;text-align:center;">'<strong>B</strong>eauty is your <strong>O</strong>wn color. Find real <strong>M</strong>e!'</h5>
          </div>
          
        </div>

        <div class="col-lg-5 col-sm-6"  id="partners2">
          <div class="clearfix"></div>
          <h4 class="partner_title">color by BOM</h4>
            <p class="partner_name">민새봄 대표</p>
          <hr>
          <div class="partner_content">

              <p><strong>[이력 사항]</strong><p>

              <ul>
                  <li>
                    color by BOM 대표
                  </li>
                  
                  <li>
                    컬러리스트 전문가 과정 수료(한국색채교육원)
                  </li>
                  <li>
                    컬러리스트 기사 1급(한국산업인력공단)
                  </li>
                  <li>
                    컬러리스트 산업기사 2급(한국산업인력공단)
                  </li>
                  <li>
                    컬러이미지 컨설턴트 전문가 과정 수료(아샤 아카데미)
                  </li>

              </ul>

               <p><strong>[강연 및 컨설팅]</strong></p>
                <ul>
                  <li>
                    개인 대상 퍼스널컬러 컨설팅 경험 다수
                  </li>
                  <li>
                    희망플랜비전캠프 직업(컬러이미지컨설턴트) 체험강사
                  </li>
                  <li>
                    진로박람회 직업체험 강사 외 다수
                  </li>
                </ul>
                 <a href="#" class="partner_site">자세히 보기</a>
           </div>
        </div>
      </div>

    </div>

</div> -->


  <!-- /.content-section-d -->

<!-- 로고만 노출시키는 버전
<div class="content-section-d">
  <div class="partner_logo" >
  </div>
</div>
<!-- /.content-section-d -->


<!-- ys commentize 
<div class="content-section-d">

  <div class="container">

    <!-- 전문가--
    <div class="row" id="partners2">
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="partner_img" src="/images/ys_logo.PNG" alt="예슬이미지">
      </div>

      <div class="col-lg-5 col-sm-6"  id="partners2">

        <div class="clearfix"></div>
        <h4 class="partner_title">예슬이미지</h4>
        <p class="partner_name">천예슬 대표</p>
        <hr>
        <div class="partner_content">
          <p><strong>[이력 사항]</strong></p>
            <ul>
                <li>
                  예슬이미지 대표
                </li>
                <li>
                  London Image Institute 수료<br>
                  (UK Foundation, Advanced Course and Professional development)
                </li>
                 <li>
                  컬러이미지 컨설턴트 전문가 과정 수료<br>(아샤 아카데미)
                </li>
                <li>
                  이미지 컨설턴트 전문가 과정 수료<br>(정연아 이미지테크)
                </li>
                <li>
                  국제 이미지 컨설턴트 협회(AICI) Skilled member
                </li>
                <li>
                  사단법인 이미지 컨설턴트 협회 GICA 정회원
                </li>
                <li>
                  이미지 컨설턴트 2급 자격증<br>(사단법인 이미지컨설턴트 협회)
                </li>
                
            </ul>

          <p><strong>[강연 및 컨설팅]</strong><p>
            <ul>
                
                <li>
                  AK Plaza VIP라운지 A Class 전 지점 직원 대상 서비스 Level-up과정 [프로페셔널 이미지메이킹] 강의
                </li>
                <li>
                  매거진 여성중앙 X 덴마크 슈즈브랜드 ECCO 압구정현대백화점 본점 [봄빛 여자되기] 컬러 스타일링 클래스
                </li>
                <li>
                  (주)삼천리 신입사원 입문교육 패션 스타일링 교육 외 다수
                </li>
            </ul>

          <a href="http://www.yeaseulimage.com/545324719654596.html" class="partner_site">자세히 보기</a>
        </div>

      </div>
    </div>

  </div>

</div>
<!--/.content-section-d-->

<!-- pa commentize
<div class="content-section-d">

  <div class="container">

    <!-- 전문가--
    <div class="row" id="partners3">
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <div class="palette_logo">
           <img id="palette_logo" src="/images/logo_new.png" alt="">
        </div>
      </div>

      <div class="col-lg-5 col-sm-6"  id="partners2">
        <div class="clearfix"></div>
        <h4 class="partner_title">팔레트</h4>
        <p class="partner_name">최영진 대표</p>
        <hr>
        <div class="partner_content">
          <p><strong>[이력 사항]</strong><p>
            <ul>
              <li>
                팔레트 대표
              </li>
               <li>
                前) 비전인스타일 대표 
              </li>
              <li>
                前) 제이컬러이미지 전임강사
              </li>
            
              <li>
                컬러 컨설턴트 전문가 과정 수료(KCCA)
              </li>
            </ul>

          <p><strong>[강연 및 컨설팅]</strong><p>
            <ul>
              <li>
                아모레퍼시픽 VIP 뷰티클래스 강의
              </li>
              <li>
                롯데백화점 강남 문화센터 강연
              </li>
              <li>
                코오롱스포츠 스타일클래스 컨설팅
              </li>
              <li>
                경희대 국제캠퍼스 뷰티콘서트 컨설팅
              </li>
              <li>
                코엑스 맨토링캠프 컬러진단
              </li>
              <li>
                잡페어 면접 컨설팅 외 다수
              </li>
            </ul>
          <a href="/" class="partner_site">자세히 보기</a>
        </div>
      </div>
    </div>

  </div>

</div>
<!--/.content-section-d-->

<%
=end
%>
  <!--
  <div class="content-section-a">

    <div class="container">

      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Google Web Fonts and<br>Font Awesome Icons</h2>
          <p class="lead">This template features the 'Lato' font, part of the <a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, as well as <a target="_blank" href="http://fontawesome.io">icons from Font Awesome</a>.</p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <img class="img-responsive" src="img/phones.png" alt="">
        </div>
      </div>

    </div>
    <!-- /.container --

</div>
<!-- /.content-section-a -->

<!--
<a  name="contact"></a>
<div class="banner">

  <div class="container">

    <div class="row">
      <div class="col-lg-6">
        <h2>Connect to Start Bootstrap:</h2>
      </div>
      <div class="col-lg-6">
        <ul class="list-inline banner-social-buttons">
          <li>
            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
          </li>
          <li>
            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
          </li>
          <li>
            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <!-- /.container -->
<!--
</div>
<!-- /.banner -->



<style>
  @import url('https://fonts.googleapis.com/css?family=Poiret+One');

  body,
  html {
    width: 100%;
    height: 100%;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
  }

  .intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #56565d;
    background-image: url('/images/main_image.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

  }

  .intro-message {
    position: relative;
    padding-top: 10%;
    padding-bottom: 10%;

  }

  .intro-message > h1 {
    margin: 0;
    /*text-shadow: 2px 2px 3px rgba(0,0,0,0.6);*/
    font-size: 35px;
    color:#ffffff;

  }

  .intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }

  .intro-message > h3 {
  /* text-shadow: 2px 2px 3px rgba(0,0,0,0.6);*/
    font-size:18px;
    color:#ffffff;
    margin-bottom:30px;

  }

 /* .mainsearch{
    height:40px;
    width:100%;
    font-size: 15px;
    text-align: center;
    border:solid 1px #e4e4e4;


  }

  .searchbutton {
    display: inline;
    height:40px;
    width:40px;
    background-color:#ffffff;

  }
  .fa-search-main{
    font-size:20px;
    color:#ffaaa3;
  }
*/
  .notice a {
    color:#56565d;

  }
  .notice a:hover{
    text-decoration:none;
  }
  .notice h3{
    font-size:1.5em;
    color:#ffffff;
    white-space: pre-line;
  }

  .counts>p,h3 {
    color: #ffffff;
    text-align:center;
  }
  .feature_img{
    width:240px;
    height:320px;
    border:1px solid lightgray;
    margin:auto;
    display:block;
  }
 /*
  .btn-pink{
    width:100px;
    height:50px;
    font-size:13px;
    text-align:center;
    cursor:pointer;
    color:#ffffff;
    background:#ffaaa3;
    margin:auto;
    display:block;
    padding:0px;
  }
*/
  .btn-list{
    display:inline-block;
    line-height: 30px;
    width:100px;
    height:30px;
    font-size:13px;
    font-weight:bold;
    text-align:center;
    color:black;
    background-color:#f8f8f8;
    border:2px solid black;
    margin-bottom:30px;
  }
  .btn-list:hover{
    text-decoration:none;
    background-color:#f8f8f8;
    color:#ffa291;
    border:2px solid #ffa291;
  }

  .btn-manual:hover{
    text-decoration: none;
    background-color:rgba(255,255,255,0.1);
    color:#ffa291;
    border:2px solid #ffa291;
  }
  .btn-manual:active{
    transform:translateY(3px);
  }


  .btn-guide{
    background-color:#333333;
    border-radius:5px;
    color:#ffffff;
    height:auto;
    width:auto;
    font-size:20px;
    transition:all 0.4s;
    margin:20px;
  }
  .btn-guide:hover{
    background-color: black;
    color:#fafafa;

  }

  .network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
  }

  .content-section-a {
    padding-top: 10px;
    padding-bottom:20px;
    background-color: #f8f8f8;
    text-align: center;

  }
  .content-section-a h3{
    text-align: center;
  }
  .content-section-a td>a{
    color:black;
  }

  .content-section-b {
    padding-top: 10px;
    padding-bottom:20px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
  }
  .content-section-b h4{
    color:#56565d;
    text-align: center;
    font-weight: bold;
  }

  /* PCI 컬러 분류 과정 소개 */
  .content-section-c {
    padding-top: 10px;
    padding-bottom:20px;
    background-color: #f8f8f8;
  }

  .content-section-c img{

    display:inline-block;
    width:20%;
    height:20%;
  }
  .pci_title{
    text-align:left;
    font-weight:bold;
  }
  .pci_explain{

    text-align:left;
    word-break:break-all;
    margin-bottom:20px;
  }
  .section-heading {
    text-align: center;
    margin-top:30px;
  }
  .section-heading-second{
    text-align:center;
    margin-bottom:10px;

  }
  .section-heading-spacer {
    float: center;
    width: 200px;
    border-top: 3px solid #ffaaa3;
    margin-bottom:30px;
  }
  .lead{
    text-align:center;
    font-size:1em;
    word-break:break-all;
  }
  .banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
  }

  .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
  }

  .banner ul {
    margin-bottom: 0;
  }

  .banner-social-buttons {
    float: right;
    margin-top: 0;
  }

    /*for test*/

  .partner_logo{

   background-image: url('/images/colorAD.PNG');
   background-size:contain;
   backgroun-repeat:no-repeat;
   width:100%;
   height:400px;
  }
  .partner_logo:after{

    content: "";
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: rgba(0,0,0,.5);
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  div:hover:after {
    opacity: 1;
    cursor:pointer;
  }
  
  /*전문가 이력소개*/
  .partner_title{
      font-weight:bold;
    }
  
  
  
  
@media(max-width:767px) {
    .intro-message {
      padding-bottom: 15%;
    }


    ul.intro-social-buttons > li {
      display: block;
      margin-bottom: 20px;
      padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
      margin-bottom: 0;
    }

    .intro-divider {
      width: 100%;
    }
    .btn-manualM{

      text-decoration: none;
      color:#ffffff;
      font-size:15px;
      font-weight:bold;
      display:inline-block;
      width:130px;
      height:50px;
      border:2px solid #ffffff;
      background-color:rgba(255,255,255,0.1);
      line-height:50px;
      text-align:center;
      transition: all 0.4s;

    }

    /*modal css*/

    /* The Modal (background) */
    .guideModal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      margin-top: 60px;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
      background-color: #fefefe;
      margin: 15% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      width: 100%; /* Could be more or less, depending on screen size */

    }

    /* The Close Button */
    .close {
      color: #000000;
      float: right;
      margin-right:5px;
      font-size: 40px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #000000;
      background-color: #e4e4e4;
      text-decoration: none;
      cursor: pointer;
    }

    /* Modal Header */
    .modal-header {
      padding: 1px;
      background-color: #ffaaa3;
      color: white;
    }
    .modal-header>h3{
      font-size:20px;
    }

    /* Modal Body */
    .modal-body {
      padding: 2px;
      width:100%;
      height:100%;
    }

    /* Modal Content */
    .modal-content {
      position: relative;
      background-color: #fefefe;
      margin: auto;
      padding: 0;
      border: 1px solid #888;
      width: 100%;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s
    }
    .guideSlides{
      width:100%;
      height:100%;
    }
    .guideSlides p{

      font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: bold;
      font-size:20px;
    }
    .guide_img{
      display:none;
    }
    .guideM_img{
      width:100%;
      height:80%;
      border:1px solid #e4e4e4;
    }

    /* Add Animation */
    @-webkit-keyframes animatetop {
      from {top: -300px; opacity: 0}
      to {top: 0; opacity: 1}
    }

    @keyframes animatetop {
      from {top: -300px; opacity: 0}
      to {top: 0; opacity: 1}
    }
    /*modal css end */

   /*메인 상품 수*/
    .counts{
      margin-top:20px;
    }

    /*전문가 소개 페이지*/

    .content-section-d{
      padding-top:10px;
      padding-bottom:20px;
      border-top: 1px solid #e7e7e7;
    }
    .partner_img{
      width:100%;
      height:195px;
      display:block;
      margin:auto;
    }
    .palette_logo{
     padding:50px;
     width:100%;
     height:195px;
     border:2px solid #ffaaa3;
     background-color:#fafafa; 
    }
    #palette_logo{
      
      margin:40px 0 0 30px;
    }
    
    #colorbyBOM{
      background-color:white;
      height:195px;
      width:100%;
      border:2px solid black;
      padding:16px;
    }
    #colorbyBOM>h1{
      margin-top:40px;
    }
    .partner_title,.partner_name{
      text-align:center;
    }
    
    
    .partner_content>ul{
      list-style-type:disc;
    }
    .partner_site{
      display:block;
      margin:auto;
      padding:5px;
      width:100px;
      height:auto;
      text-align:center;
      border:2px solid black;
      color:black;
    }
    .partner_site:hover, .partner_site:active, .partner_site:focus{
      color:#ffa291;
      border:2px solid #ffa291;
      text-decoration:none;
    }
    
    /*palette story*/
  .palette_story{
    background-image:url('/images/story.png');
    background-size:cover;
    color:#fafafa;
    padding-top:10px;
    padding-bottom:40px;
    
  }  
  .story_content{
    text-align:center;
    font-size:14px;
  }
  .content_mark{
    font-size:20px;
    font-weight:bold;
  }
  .content_first{
    font-size:15px;
    font-weight:bold;
  }
  /*palette story ends*/
  
  .section-heading {
    text-align: center;
    margin-top:20px;
    font-size:23px;
  }



} /*media max-width 767px*/



@media(min-width:767px) {


    /*.mainsearch{
      height:40px;
      width:100%;
      font-size: 20px;
      text-align: center;
      border:solid 1px #e4e4e4;

    }

    .fa-search-main{
      font-size:30px;
    }

    .product-count{
      display:inline;
    }

    ul.banner-social-buttons {
      float: left;
      margin-top: 15px;

    }
    */
    .intro-message > h1 {
      margin: 0;
      /*text-shadow: 2px 2px 3px rgba(0,0,0,0.6);*/
      font-size: 4em;
      color:#ffffff;
    }


    .intro-message > h3 {
      /* text-shadow: 2px 2px 3px rgba(0,0,0,0.6);*/
      font-size:2em;
      color:#ffffff;
      margin-bottom:30px;

    }
    .btn-manual{

      text-decoration: none;
      color:#ffffff;
      font-size:20px;
      font-weight:bold;
      display:inline-block;
      width:200px;
      height:60px;
      line-height: 60px;
      background-color:rgba(255,255,255,0.1);
      border:2px solid #ffffff;
      text-align:center;
      transition: all 0.4s;

    }
    /*modal css*/

    /* The Modal (background) */
    .guideModal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      margin-top: 85px;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
      background-color: #fefefe;
      margin: 15% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
      color: #000000;
      float: right;
      margin-right:10px;
      font-size: 40px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #000000;
      text-decoration: none;
      cursor: pointer;
    }
    /* Modal Header */
    .modal-header {
      padding: 2px;
      background-color: #ffaaa3;
      color: white;
    }

    /* Modal Body */
    .modal-body {
      padding: 2px;

    }

    /* Modal Content */
    .modal-content {
      position: relative;
      background-color: #fefefe;
      margin: auto;
      padding: 0;
      border: 1px solid #888;
      width: 80%;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s
    }
    .guideSlides p{

      font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: bold;
      font-size:20px;

    }
    .guide_img{
      margin:auto;
      width:70%;
      height:70%;
    }
    .guideM_img{
      display:none;
    }

    /*전문가 소개 페이지*/

    #colorbyBOM{
      background-color:white;
      height:200px;
      width:auto;
      border:2px solid black;
      padding:16px;
    }
    #colorbyBOM>h1{
      margin-top:40px;
    }
     #colorbyBOM>h5{
      font-size:17px;
    }
    .content-section-d{
      padding-top:10px;
      padding-bottom:20px;
      border-top: 1px solid #e7e7e7;
    }
    .partner_img{
      width:450px;
      height:226px;
      margin-top:100px;

    }
    .palette_logo{
     padding:50px;
     width:450px;
     height:226px;
     border:2px solid #ffaaa3;
     background-color:#fafafa; 
     margin-top:100px;
    }
    #palette_logo{
      
      margin:40px 0 0 90px;  
    }
    .partner_content>ul{
      list-style-type:disc;
    }
    .partner_name{
      display:inline-block;
    }
    
    .partner_site{
      display:block;
      padding:5px;
      width:150px;
      text-align:center;
      float:right;
      margin-top:20px;
      height:auto;
      border:2px solid black;
      color:black;
    }
    .partner_site:hover, .partner_site:active, .partner_site:focus{
      color:#ffa291;
      border:2px solid #ffa291;
      text-decoration:none;
    }

    /*palette story*/
  .palette_story{
    
  }  
  .story_content{
    text-align:center;
    font-size:16px;
  }
  .content_mark{
    font-size:25px;
    font-weight:bold;
  }
  
  .content_first{
    font-size:20px;
    font-weight:bold;
  }
  
  
  /*palette story ends*/


} /*media min 767px*/


</style>

<script>

  // Get the modal
//  var modal = document.getElementById('guideModal');

  // Get the button that opens the modal
//  var btn = document.getElementById("btnModal");

  // Get the <span> element that closes the modal
//  var span = document.getElementsByClassName("close")[0];

  // When the user clicks on the button, open the modal
//  btn.onclick = function() {
//    modal.style.display = "block";
//  }

  // When the user clicks on <span> (x), close the modal
//  span.onclick = function() {
//    modal.style.display = "none";
//  }

  // When the user clicks anywhere outside of the modal, close it
//  window.onclick = function(event) {
//    if (event.target == modal) {
//      modal.style.display = "none";
//    }
 // }


  //for slideshow in modal

//  var slideIndex = 1;
//  showDivs(slideIndex);

//  function plusDivs(n) {
//    showDivs(slideIndex += n);
//  }

//  function currentDiv(n) {
//    showDivs(slideIndex = n);
//  }

//  function showDivs(n) {
//    var i;
//    var x = document.getElementsByClassName("guideSlides");
//    var dots = document.getElementsByClassName("demo");
//    if (n > x.length) {slideIndex = 1}
//   if (n < 1) {slideIndex = x.length}
//    for (i = 0; i < x.length; i++) {
//      x[i].style.display = "none";
//    }

    //next,prev 버튼 밑에 있던 숫자 버튼 색 변하게 하기
    // for (i = 0; i < dots.length; i++) {
   //   dots[i].className = dots[i].className.replace(" w3-red", "");
   // }
//    x[slideIndex-1].style.display = "block";
    //dots[slideIndex-1].className += " w3-red";
//  }

</script>