
<div class="intro-header">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="intro-message">

          <h1>나만의 인생템 찾기</h1>
          <h3 class="intro-hooking">퍼스널컬러에 맞는 립스틱 추천 서비스</h3>
         <!-- <hr class="intro-divider">-->

          <div class="season-category-wrapper">
            <ul class="season-category" style="margin-bottom:5px;">
              <li>
                <a href="/home/list_lip2/봄 브라이트" class="btn-main btn-mainM btn-season">봄 브라이트</a>
              </li>

              <li>
                <a href="/home/list_lip2/봄 라이트" class="btn-main btn-mainM btn-season">봄 라이트</a>
              </li>

              <li>
                <a href="/home/list_lip2/여름 라이트" class="btn-main btn-mainM btn-season">여름 라이트</a>
              </li>

              <li>
                <a href="/home/list_lip2/여름 뮤트" class="btn-main btn-mainM btn-season">여름 뮤트</a>
              </li>
            </ul>

            <ul class="season-category">
              <li>
                <a href="/home/list_lip2/가을 뮤트" class="btn-main btn-mainM btn-season">가을 뮤트</a>
              </li>

              <li>
                <a href="/home/list_lip2/가을 딥" class="btn-main btn-mainM btn-season">가을 딥</a>
              </li>

              <li>
                <a href="/home/list_lip2/겨울 딥" class="btn-main btn-mainM btn-season">겨울 딥</a>
              </li>

              <li>
                <a href="/home/list_lip2/겨울 브라이트" class="btn-main btn-mainM btn-season">겨울 브라이트</a>
              </li>
            </ul>
          </div>
            <!--/season-category-wrapper-->


        </div>
        <!--/세부계절 타입 div 끝-->

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 counts" style="margin-bottom:10px">
            <h3><%=@product_count%></h3>
            <p>전체 상품 수</p>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 counts">
            <h3><%=@update_count%></h3>
            <p id="askfor">이번주 등록상품 수</p>
          </div>

        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->

<div class="content-section-a" >
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
        <h2 class="section-heading">제품 요청</h2>
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <p class="section-heading-second" style="margin-bottom:30px;">
          찾으시는 제품이 없다면 자유롭게 요청해주세요.
        </p>
        <div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px;">
          <div class="row">
            <div class="askForGroup col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-12 col-xs-12">
              <form action="home/askfor_submit2" method="post" data-toggle="validator">
                <div class="form-group">
                  <input type="text" class="form-control form-askfor" name="content" placeholder="제품을 요청해주세요(30자)" maxlength="30" required>
                </div>
                <input type="submit" class="btn-askfor" value="요청">
              </form>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12" style="padding:0px;">

              <table>

                <tbody style="text-align: center;">
                <% @asks.each do |p| %>
                    <tr class="table_askfor">
                      <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <p><%=p.id%></p>
                      </td>
                     <% unless user_signed_in?%>

                      <td class="col-lg-9 col-md-9 col-sm-5 col-xs-5" style="padding:0px 5px 0px 5px;">
                        <p><%=p.content%></p>
                        <p style="color:lightgray;"><%=p.created_at.in_time_zone("Asia/Seoul").strftime("%y.%m.%d %H:%M") %></p>
                      </td>
                      <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding:0px;">
                        <% if p.status =="요청" %>
                            <div class="askfor_status status_red">

                            </div>
                            <%=p.status%>
                        <%else%>
                            <div class="askfor_status status_green">

                            </div>
                            <%=p.status%>
                        <%end%>
                      </td>

                      <%end%>


                      <% if user_signed_in? && current_user.admin?%>
                          <td class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="padding:0px 5px 0px 5px;">
                            <p><%=p.content%></p>
                            <p style="color:lightgray;"><%=p.created_at.in_time_zone("Asia/Seoul").strftime("%y.%m.%d %H:%M") %></p>
                          </td>
                          <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding:0px;">
                            <% if p.status =="요청" %>
                                <div class="askfor_status status_red">

                                </div>
                                <%=p.status%>
                            <%else%>
                                <p class="askfor_status status_green">

                                </p>
                                <%=p.status%>
                            <%end%>
                          <td class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                            <div class="askfor_status_edit" id="status_<%=p.id%>">
                             <form action="askfor_status/<%=p.id%>" method="post" >
                              <label>
                                <input type="radio" name="status" value="요청">
                                대기
                              </label>
                              <label>
                                <input type="radio" name="status" value="승인">
                                승인
                              </label>
                              <button type="submit" class="status_edit" value="<%=p.id%>">수정</button>
                             </form>
                            </div>
                          </td>
                          <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">

                           <%= link_to "X", "/askfor_delete/#{p.id}", data: { confirm: "잘못 누른거 아니죠?" }%>

                          </td>
                      <%end%>
                    </tr>

                <% end %>
                </tbody>
              </table>

              <%= render :partial => "layouts/partial/pagination" %>

            </div>
          </div><!--/.row-->
        </div>

      </div>



    </div>



  </div>

</div>
<!-- /.container -->


<%
=begin
%>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
        <h2 class="section-heading">새 소식</h2>
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>

        <div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px;">
          <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
            <table class="table user-list notice">
              <thead>
              <tr>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><span>번호</span></th>
                <th class="col-lg-5 col-md-5 col-sm-3 col-xs-3"><span>제목</span></th>
                <th class="col-lg-2 col-md-2 col-sm-1 hidden-sm col-xs-1 hidden-xs"><span>작성자</span></th>
                <th class="col-lg-2 col-md-2 col-sm-3 col-xs-3"><span>작성일</span></th>
                <th class="col-lg-1 col-md-1 col-sm-2 col-xs-2"><span>조회수</span></th>
              </tr>
              </thead>
              <tbody style="text-align: left;">
              <% @news.each do |p| %>
                  <tr>
                    <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                      <p><%=p.id%></p>
                    </td>
                    <td class="col-lg-5 col-md-5 col-sm-3 col-xs-3">
                      <a href="/home/notice_view/<%=p.id%>"><%=p.title%></a>
                    </td>
                    <td class="col-lg-2 col-md-2 col-sm-1 hidden-sm col-xs-1 hidden-xs">
                      <%=p.name %>
                    </td>
                    <td class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                      <%=p.created_at.in_time_zone("Asia/Seoul").strftime("%y-%m-%d") %>
                    </td>
                    <td class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                      <%=p.hits %>
                    </td>

                  </tr>
              <% end %>
              </tbody>
            </table>
           </div>
        </div>
          <div style="text-align: center;" >
            
           <a href="/home/notice" class="btn-list" id="story">전체보기</a>
           <!-- id story is for navigation -->
          </div>
        </div>
           
      </div>
         
    </div>
           
  </div>
  <!-- /.container -->
<%
=end
%>

</div>
<!-- /.content-section-a -->


<div class="content-section-c palette_story">

    <div class="container">

      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2 class="section-heading" >팔레트 스토리</h2>
            <hr class="section-heading-spacer">
            <p class="story_content">
              
              <span class="content_mark">“</span>
              
              <span class="content_first">저에게 가장 잘 어울리는 제품이 무엇인가요?</span>
              
              <span class="content_mark">”</span> <br>
              <br>
              많은 분들께서 퍼스널컬러 진단 이후에 <br>
              어울리는 제품을 찾는 것을 어려워하셨습니다.<br>
              <br>
              팔레트는 그런 분들을 위해<br>
              <br>
              퍼스널컬러에 맞는 립 제품을<br>
              추천하는 것부터 시작하려고 합니다.<br>
              <br>
              팔레트에서 나에게 가장 잘 어울리는 립스틱을 찾아보세요.
              <span id="howto" ></span>     
            </p>
          </div>
        </div>
        <!-- /.row -->
       
      </div>
       <!-- /.container -->
   
</div>
<!-- /.content-section-b -->




<div class="content-section-b">
  <div class="container">

    <div class="row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

         <h2 class="section-heading">팔레트 이용방법</h2>
         <hr class="section-heading-spacer">
         <p class="section-heading-second" style="margin-bottom:40px;">
           팔레트에서는 퍼스널컬러 전문가가 검토한<br>다양한 브랜드의 제품 정보를 제공합니다.
         </p>
       </div>
       <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <img src="/images/howto1.png" alt="퍼스널컬러 웜톤 쿨톤 립스틱" class="feature_img">
          <div class="clearfix"></div>

          <div class="feature_area">
            <h4>추천받기</h4>
            <p class="lead">퍼스널컬러와 제형, 색상 등에 따른<br>제품 리스트를 추천해 드립니다.</p>
          </div>
       </div>

       <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
         <img src="/images/howto2.png" alt="다양한 브랜드의 퍼스널컬러 정보" class="feature_img">
         <div class="clearfix"></div>

         <div class="feature_area">
           <h4>검색하기</h4>
           <p class="lead">제품명, 브랜드명 등으로<br>원하시는 제품을 검색해보세요.</p>
         </div>
       </div>

       <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" >
         <img src="/images/howto3.png" alt="" class="feature_img">
         <div class="clearfix"></div>

         <div class="feature_area">
           <h4 id="process">요청하기</h4>
           <p class="lead">혹시 찾으시는 제품이 없으신가요?<br>제품을 요청하시면 빠르게 등록해드립니다.</p>
         </div>
       </div>

     </div>
    </div>
  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-b -->


<%
=begin
%>

<div class="content-section-c" >

    <div class="container">

      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="container">
              <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="section-heading">PCI 진단 분류 시스템</h2>
                    <p style="font-size:1em;text-align:center;">*PCI는 Personal Color Image의 약자입니다.</p>
                    <hr class="section-heading-spacer">
                  </div>
               </div>
             <div class="container">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                  <div class="row">
                   <!--
                    <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-12 col-xs-12">
                      <img src="/images/feature1.png" alt="퍼스널컬러 진단">
                    </div> -->

                    <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-12 col-xs-12">
                    <h4 class="pci_title">1. 제품 진단환경 최적화</h4>
                      <p class="pci_explain">톤 분류는 컬러 진단하기 가장 효과적인 환경에서 진행됩니다.<br>
                      현재 3000~5000lux의 최적화된 조명 환경을 유지하며, 실제 퍼스널컬러를 진단하는 고정된 장소에서만 진단합니다.</p>
                    </div>
                   </div>

                   <div class="row">
                    <!--
                     <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-12 col-xs-12">
                       <img src="/images/feature1.png" alt="">
                     </div>
                     -->

                     <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-12 col-xs-12">
                        <h4 class="pci_title">2. 퍼스널컬러 컨설턴트 그룹</h4>
                       <p class="pci_explain">다양한 이력을 가진 퍼스널컬러 전문가들이 함께 합니다.<br>
                       각 전문가들은 PCCS 색채이론을 바탕으로 일정한 환경에서 제품진단에 참여하고 있습니다.</p>
                     </div>
                    </div>

                    <div class="row">
                      <!--
                       <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-12 col-xs-12">
                         <img src="/images/feature1.png" alt="웜톤 쿨톤 립스틱 발색">
                       </div> -->


                       <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-12 col-xs-12">
                         <h4 class="pci_title">3. 일관된 발색기준 선정</h4>
                         <p class="pci_explain" id="partners1">발색 시 피부색 마다 차이를 보이는 변수를 막기 위해, 피부를 대신할 새로운 형태가 필요했습니다.<br>
                         여러 차례의 실험을 거쳐 피부발색과 가장 근사치에 가까운 미색계열의 아크릴판을 선정하였습니다.</p>
                       </div>
                    </div>
              </div>
             </div>
            <!-- /.row2 -->
            </div>
          </div>
        </div>
        <!-- /.container -->
      </div>
      <!-- /.row -->
   </div>
  <!-- /.container -->
</div>
<!-- /.content-section-b -->



<div class="content-section-d">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h2 class="section-heading">파트너 소개</h2>
              <p class="lead">함께 하고 있는 퍼스널컬러 전문 업체들을 소개합니다.</p>
              <hr class="section-heading-spacer">
            </div>
        </div>

      <!-- 전문가1-->
        
      <div class="row" id="partners">
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <div class="palette_logo">
             <img id="palette_logo" src="/images/logo_new.png" alt="">
          </div>
        </div>
  
        <div class="col-lg-5 col-sm-6"  id="partners2">
          <div class="clearfix"></div>
          <h4 class="partner_title">팔레트</h4>
          <p class="partner_name">최영진 대표</p>
          <hr>
          <div class="partner_content">
            <p><strong>[이력 사항]</strong><p>
              <ul>
                <li>
                  팔레트 대표
                </li>
                 <li>
                  前) 비전인스타일 대표 
                </li>
                <li>
                  前) 제이컬러이미지 전임강사
                </li>
              
                <li>
                  컬러 컨설턴트 전문가 과정 수료(KCCA)
                </li>
              </ul>
  
            <p><strong>[강연 및 컨설팅]</strong><p>
              <ul>
                <li>
                  아모레퍼시픽 VIP 뷰티클래스 강의
                </li>
                <li>
                  롯데백화점 강남 문화센터 강연
                </li>
                <li>
                  코오롱스포츠 스타일클래스 컨설팅
                </li>
                <li>
                  경희대 국제캠퍼스 뷰티콘서트 컨설팅
                </li>
                <li>
                  코엑스 맨토링캠프 컬러진단
                </li>
                <li>
                  잡페어 면접 컨설팅 외 다수
                </li>
              </ul>
            <a href="/" class="partner_site">자세히 보기</a>
          </div>
        </div>
     
  
      </div>
      
  </div>    
</div>      
      
      
      
      
<!--
      <div class="row">
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         
          <div class="partner_img" id="colorbyBOM">
            <h1 style="font-family:'Poiret One',cursive;color:black;text-align:center;font-weight:bold;margin-bottom:20px;">color by BOM</h1>
            <h5 style="font-family:'Poiret One',cursive;color:black;text-align:center;">'<strong>B</strong>eauty is your <strong>O</strong>wn color. Find real <strong>M</strong>e!'</h5>
          </div>
          
        </div>

        <div class="col-lg-5 col-sm-6"  id="partners2">
          <div class="clearfix"></div>
          <h4 class="partner_title">color by BOM</h4>
            <p class="partner_name">민새봄 대표</p>
          <hr>
          <div class="partner_content">

              <p><strong>[이력 사항]</strong><p>

              <ul>
                  <li>
                    color by BOM 대표
                  </li>
                  
                  <li>
                    컬러리스트 전문가 과정 수료(한국색채교육원)
                  </li>
                  <li>
                    컬러리스트 기사 1급(한국산업인력공단)
                  </li>
                  <li>
                    컬러리스트 산업기사 2급(한국산업인력공단)
                  </li>
                  <li>
                    컬러이미지 컨설턴트 전문가 과정 수료(아샤 아카데미)
                  </li>

              </ul>

               <p><strong>[강연 및 컨설팅]</strong></p>
                <ul>
                  <li>
                    개인 대상 퍼스널컬러 컨설팅 경험 다수
                  </li>
                  <li>
                    희망플랜비전캠프 직업(컬러이미지컨설턴트) 체험강사
                  </li>
                  <li>
                    진로박람회 직업체험 강사 외 다수
                  </li>
                </ul>
                 <a href="#" class="partner_site">자세히 보기</a>
           </div>
        </div>
      </div>

    </div>

</div> -->


  <!-- /.content-section-d -->



<!-- ys commentize 
<div class="content-section-d">

  <div class="container">

    <!-- 전문가--
    <div class="row" id="partners2">
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="partner_img" src="/images/ys_logo.PNG" alt="예슬이미지">
      </div>

      <div class="col-lg-5 col-sm-6"  id="partners2">

        <div class="clearfix"></div>
        <h4 class="partner_title">예슬이미지</h4>
        <p class="partner_name">천예슬 대표</p>
        <hr>
        <div class="partner_content">
          <p><strong>[이력 사항]</strong></p>
            <ul>
                <li>
                  예슬이미지 대표
                </li>
                <li>
                  London Image Institute 수료<br>
                  (UK Foundation, Advanced Course and Professional development)
                </li>
                 <li>
                  컬러이미지 컨설턴트 전문가 과정 수료<br>(아샤 아카데미)
                </li>
                <li>
                  이미지 컨설턴트 전문가 과정 수료<br>(정연아 이미지테크)
                </li>
                <li>
                  국제 이미지 컨설턴트 협회(AICI) Skilled member
                </li>
                <li>
                  사단법인 이미지 컨설턴트 협회 GICA 정회원
                </li>
                <li>
                  이미지 컨설턴트 2급 자격증<br>(사단법인 이미지컨설턴트 협회)
                </li>
                
            </ul>

          <p><strong>[강연 및 컨설팅]</strong><p>
            <ul>
                
                <li>
                  AK Plaza VIP라운지 A Class 전 지점 직원 대상 서비스 Level-up과정 [프로페셔널 이미지메이킹] 강의
                </li>
                <li>
                  매거진 여성중앙 X 덴마크 슈즈브랜드 ECCO 압구정현대백화점 본점 [봄빛 여자되기] 컬러 스타일링 클래스
                </li>
                <li>
                  (주)삼천리 신입사원 입문교육 패션 스타일링 교육 외 다수
                </li>
            </ul>

          <a href="http://www.yeaseulimage.com/545324719654596.html" class="partner_site">자세히 보기</a>
        </div>

      </div>
    </div>

  </div>

</div>
<!--/.content-section-d-->

<!-- pa commentize
<div class="content-section-d">

  <div class="container">

    <!-- 전문가--
    <div class="row" id="partners3">
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <div class="palette_logo">
           <img id="palette_logo" src="/images/logo_new.png" alt="">
        </div>
      </div>

      <div class="col-lg-5 col-sm-6"  id="partners2">
        <div class="clearfix"></div>
        <h4 class="partner_title">팔레트</h4>
        <p class="partner_name">최영진 대표</p>
        <hr>
        <div class="partner_content">
          <p><strong>[이력 사항]</strong><p>
            <ul>
              <li>
                팔레트 대표
              </li>
               <li>
                前) 비전인스타일 대표 
              </li>
              <li>
                前) 제이컬러이미지 전임강사
              </li>
            
              <li>
                컬러 컨설턴트 전문가 과정 수료(KCCA)
              </li>
            </ul>

          <p><strong>[강연 및 컨설팅]</strong><p>
            <ul>
              <li>
                아모레퍼시픽 VIP 뷰티클래스 강의
              </li>
              <li>
                롯데백화점 강남 문화센터 강연
              </li>
              <li>
                코오롱스포츠 스타일클래스 컨설팅
              </li>
              <li>
                경희대 국제캠퍼스 뷰티콘서트 컨설팅
              </li>
              <li>
                코엑스 맨토링캠프 컬러진단
              </li>
              <li>
                잡페어 면접 컨설팅 외 다수
              </li>
            </ul>
          <a href="/" class="partner_site">자세히 보기</a>
        </div>
      </div>
    </div>

  </div>

</div>
<!--/.content-section-d-->

<%
=end
%>




<style>
  @import url('https://fonts.googleapis.com/css?family=Poiret+One');

  body,
  html {
    width: 100%;
    height: 100%;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
  }

  .intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #56565d;
    background-image: url('/images/main_image.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

  }


  .intro-message > h1 {
    margin: 0;
    /*text-shadow: 2px 2px 3px rgba(0,0,0,0.6);*/
    font-size: 35px;
    color:#ffffff;

  }

  .intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }

  .intro-message > h3 {
    color:#ffffff;
  }



  .notice a {
    color:#56565d;

  }
  .notice a:hover{
    text-decoration:none;
  }

  /*제품 요청 */
  .table{
    width:100%;
  }
  .table_askfor{
    border-bottom:0;
    border-top:0;
    height:auto;
  }
  .form-askfor{
    display:inline-block;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    border-color:#8b8682;
    margin-left:30px;
    margin-bottom:30px;
    float:left;
    width:70%;
  }
  .btn-askfor{
    display:inline-block;
    margin-left:5px;
    height:35px;
    width:50px;
    color:#ffffff;
    background-color:#ffaaa3;
    float:left;
  }
  .askfor_status{
    border-radius:100%;
    display:inline-block;
    padding:5px;
    width:10px;
    height:10px;
    line-height: 30px;

  }
  .status_green{
    background-color:green;
  }
  .status_red{
    background-color:red;
  }

  /*제품 요청 끝*/

  .counts>p, .counts>h3 {
    color: #ffffff;
    text-align:center;
  }
  .feature_img{
    width:240px;
    height:320px;
    border:1px solid lightgray;
    margin:auto;
    display:block;
  }

  .btn-list{
    display:inline-block;
    line-height: 30px;
    width:100px;
    height:30px;
    font-size:13px;
    font-weight:bold;
    text-align:center;
    color:black;
    background-color:#f8f8f8;
    border:2px solid black;
    margin-bottom:30px;
  }
  .btn-list:hover{
    text-decoration:none;
    background-color:#f8f8f8;
    color:#ffa291;
    border:2px solid #ffa291;
  }

  .btn-main:hover{
    text-decoration: none;
    background-color:rgba(255,255,255,0.1);
    color:#ffa291;
    border:2px solid #ffa291;
  }
  .btn-main:active{
    transform:translateY(3px);
  }
  .btn-main{

    text-decoration: none;
    color:#ffffff;
    font-weight:bold;
    display:inline-block;
    background-color:rgba(255,255,255,0.1);
    border:2px solid #ffffff;
    text-align:center;
    transition: all 0.4s;
  }

  .content-section-a {
    padding-top: 10px;
    padding-bottom:20px;
    background-color: #ffffff;
    text-align: center;

  }
  .content-section-a h3{
    text-align: center;
  }
  .content-section-a td>a{
    color:black;
  }

  .content-section-b {
    padding-top: 10px;
    padding-bottom:20px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
  }
  .content-section-b h4{
    color:#56565d;
    text-align: center;
    font-weight: bold;
  }

  /* PCI 컬러 분류 과정 소개 */
  .content-section-c {
    padding-top: 10px;
    padding-bottom:20px;
    background-color: #f8f8f8;
  }

  .content-section-c img{

    display:inline-block;
    width:20%;
    height:20%;
  }
  .pci_title{
    text-align:left;
    font-weight:bold;
  }
  .pci_explain{

    text-align:left;
    word-break:break-all;
    margin-bottom:20px;
  }
  .section-heading {
    text-align: center;
    margin-top:30px;
  }
  .section-heading-second{
    text-align:center;
    margin-bottom:10px;

  }
  .section-heading-spacer {
    float: center;
    width: 200px;
    border-top: 3px solid #ffaaa3;
    margin-bottom:30px;
  }
  .lead{
    text-align:center;
    font-size:1em;
    word-break:break-all;
  }


  .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
  }

  .banner ul {
    margin-bottom: 0;
  }

  /*전문가 이력소개*/
  .partner_title{
      font-weight:bold;
    }

  /*메인의 8분류 선택 버튼*/
  .season-category {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .season-category>li {
    display:inline;

  }

@media(max-width:767px) {
    .intro-message {
      position:relative;
      padding-top:10%;
      padding-bottom: 15%;
    }
    .intro-hooking{
      font-size:18px;
      margin-bottom:70px;
    }

    ul.intro-social-buttons > li {
      display: block;
      margin-bottom: 20px;
      padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
      margin-bottom: 0;
    }

    .intro-divider {
      width: 100%;
    }

    /*이용방법*/
    .lead{

      margin-top:20px;
    }
    .feature_img{
      margin-bottom:20px;
    }
    .feature_area{
      padding:5px;
      background-color:#fafafa;
      margin-bottom:60px;
      border-radius:5px;
    }
    /*이용방법 끝*/


   /*메인 상품 수*/
    .counts{
      margin-top:10px;
    }

    /*전문가 소개 페이지*/

    .content-section-d{
      padding-top:10px;
      padding-bottom:20px;
      border-top: 1px solid #e7e7e7;
    }
    .partner_img{
      width:100%;
      height:195px;
      display:block;
      margin:auto;
    }
    .palette_logo{
     padding:50px;
     width:100%;
     height:195px;
     border:2px solid #ffaaa3;
     background-color:#fafafa; 
    }
    #palette_logo{
      
      margin:40px 0 0 30px;
    }
    
    #colorbyBOM{
      background-color:white;
      height:195px;
      width:100%;
      border:2px solid black;
      padding:16px;
    }
    #colorbyBOM>h1{
      margin-top:40px;
    }
    .partner_title,.partner_name{
      text-align:center;
    }
    
    
    .partner_content>ul{
      list-style-type:disc;
    }
    .partner_site{
      display:block;
      margin:auto;
      padding:5px;
      width:100px;
      height:auto;
      text-align:center;
      border:2px solid black;
      color:black;
    }
    .partner_site:hover, .partner_site:active, .partner_site:focus{
      color:#ffa291;
      border:2px solid #ffa291;
      text-decoration:none;
    }
    
    /*palette story*/
  .palette_story{
    background-image:url('/images/story.png');
    background-size:cover;
    color:#fafafa;
    padding-top:10px;
    padding-bottom:40px;
    
  }  
  .story_content{
    text-align:center;
    font-size:14px;
  }
  .content_mark{
    font-size:20px;
    font-weight:bold;
  }
  .content_first{
    font-size:15px;
    font-weight:bold;
  }
  /*palette story ends*/
  
  .section-heading {
    text-align: center;
    margin-top:20px;
    font-size:23px;
  }

  .btn-mainM{
    font-size:14px;
    width:auto;
    padding:0px 5px 0px 5px;
    height:40px;
    line-height: 40px;
  }



} /*media max-width 767px*/



@media(min-width:767px) {

    .intro-message {
      position: relative;
      padding-top: 10%;
      padding-bottom: 50px;

    }

    .intro-message > h1 {
      margin: 0;
      /*text-shadow: 2px 2px 3px rgba(0,0,0,0.6);*/
      font-size: 4em;
      color:#ffffff;
    }


    .intro-message > h3 {
      /* text-shadow: 2px 2px 3px rgba(0,0,0,0.6);*/
      font-size:2em;
      color:#ffffff;
      margin-bottom:60px;
    }


    .btn-main{
      font-size:16px;
      width:150px;
      height:40px;
      line-height: 40px;
      margin:0px 2px 0px 2px;
    }


    /*전문가 소개 페이지*/

    #colorbyBOM{
      background-color:white;
      height:200px;
      width:auto;
      border:2px solid black;
      padding:16px;
    }
    #colorbyBOM>h1{
      margin-top:40px;
    }
     #colorbyBOM>h5{
      font-size:17px;
    }
    .content-section-d{
      padding-top:10px;
      padding-bottom:20px;
      border-top: 1px solid #e7e7e7;
    }
    .partner_img{
      width:450px;
      height:226px;
      margin-top:100px;

    }
    .palette_logo{
     padding:50px;
     width:450px;
     height:226px;
     border:2px solid #ffaaa3;
     background-color:#fafafa; 
     margin-top:100px;
    }
    #palette_logo{
      
      margin:40px 0 0 90px;  
    }
    .partner_content>ul{
      list-style-type:disc;
    }
    .partner_name{
      display:inline-block;
    }
    
    .partner_site{
      display:block;
      padding:5px;
      width:150px;
      text-align:center;
      float:right;
      margin-top:20px;
      height:auto;
      border:2px solid black;
      color:black;
    }
    .partner_site:hover, .partner_site:active, .partner_site:focus{
      color:#ffa291;
      border:2px solid #ffa291;
      text-decoration:none;
    }

    /*palette story*/
  .palette_story{
    background-image:url('/images/story.png');
    background-size:100% 100%;
    color:#fafafa;
    padding-top:10px;
    padding-bottom:40px;
  }  
  .story_content{
    text-align:center;
    font-size:16px;
  }
  .content_mark{
    font-size:25px;
    font-weight:bold;
  }
  
  .content_first{
    font-size:20px;
    font-weight:bold;
  }

  /*palette story ends*/

  /*제품 요청 */
  table{
    width:100%;
  }
  .form-askfor{
    margin-left:40px;
    margin-bottom:30px;
    width:50%;
  }
  .btn-askfor{
    margin-left:5px;
    height:35px;
    width:60px;
  }
  .askfor_status{
    padding:5px;
    width:10px;
    height:10px;
  }
  /*제품 요청 끝*/



} /*media min 767px*/


</style>

<script>
//    $( document ).ready(function() {


        // 고객 입장에서 제품 요청하기 ajax

//     $('.btn-askfor').click(function(){
//        var askfor_content = $('.form-askfor').val();
//        var tempScrollTop = $(window).scrollTop();
//        alert(tempScrollTop+"px");

//           $.ajax({
//               method: "POST",
//               url: "/home/askfor_submit2",
//               data: { content: askfor_content }
//           })
//               .done(function() {
//                   alert( "요청완료! 빠른 시일 내로 업데이트 해드릴게요:)");

//               });


//        });

        // 관리자 입장에서 제품 요청하기 상태 수정 ajax

//        $('.status_edit').click(function(){
//          askfor_id = this.value;
//          askfor_status = $('input[status]:checked', '#status_'+askfor_id).val();

//          alert(askfor_status);

//            $.ajax({
//                method: "POST",
 //               url: "/askfor_status",
  //              data: { status: askfor_status, askfor_id: askfor_id }
   //         })
    //            .done(function() {
    //                alert( "수정 완료" );
     //           });

//        });


//    });
</script>