<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');"></div>
            <div class="carousel-caption">
                <h2>배너1</h2>
            </div>
        </div>
        
        <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
            <div class="carousel-caption">
                <h2>배너2</h2>
            </div>
        </div>
        
        <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
            <div class="carousel-caption">
                <h2>배너3</h2>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>

<!-- Page Content -->
<div class="container">


    <!-- Portfolio Section-->
    <div class="row">
        
        <div class="col-lg-12 col-md-12 col-xs-12">
            <p class="page-header">웜 타입 베스트 립</p>
        </div>
        
          <%@w_best_lip.each do |best|%>
        
            <div class="col-xs-12 col-sm-4 col-md-4" > 
          
              <a href="/home/layout5/<%=best.num%>" class="col-xs-5 col-md-12">
                  
                  <img class="img-responsive img-portfolio img-hover img-thumbnail" 
                  src="https://s3.ap-northeast-2.amazonaws.com/fourseasons111112/lip/<%=best.num%>.jpg" alt="" width="300" height="280" >
                  
              </a>
              
              <div class="col-xs-7 col-md-12">
                  
                <a class="product_name" href="/home/layout5/<%=best.num%>">[<%=best.brand%>]<%=best.name%></a>
                <p class="product_price"><%=best.size%> / <%=best.price%>원</p>
              </div>
              
              <div class="col-xs-4 col-md-8">
              <!-- 컬러/톤 줄에 좋아요 이미지를 위치 시킴 -->
                <p class="product_tone"><%=best.wc%> / <%=best.tone%></p>
                  
              </div>
              <!-- Like numbers -->
                <div class="col-xs-3 col-md-4" style="text-align:right">
                <p><img src="http://image.flaticon.com/icons/png/128/189/189671.png"
                    width="20" > 38</p>                  
                  </div>
              <!-- /Like numbers -->
              
            </div> <!--/div.col-xs-12 col-sm-4 col-md-4-->
        
          <%end%>
        
    </div> <!--/div.row-->
    
    <div class="row">
        
        <div class="col-lg-12 col-md-12 col-xs-12">
            <p class="page-header">웜 타입 베스트 섀도우</p>
        </div>
        
        <%@w_best_sha.each do |best|%>
        
           <div class="col-xs-12 col-sm-4 col-md-4" > 
          
               <a href="/home/layout5/<%=best.num%>" class="col-xs-5 col-md-12">
                   <img class="img-responsive img-portfolio img-hover img-thumbnail" 
                   src="https://s3.ap-northeast-2.amazonaws.com/fourseasons111112/lip/<%=best.num%>.jpg" alt="" width="300" height="280" >
               </a>
              
               <div class="col-xs-7 col-md-12">
                 <a class="product_name" href="/home/layout5/<%=best.num%>">[<%=best.brand%>]<%=best.name%></a>
                 <p class="product_price"><%=best.size%> / <%=best.price%>원</p>
                 <p class="product_tone"><%=best.wc%> / <%=best.tone%></p>
               </div>
               <!-- Like numbers -->
                 <div style="text-align:right">
                   <p><img src="http://image.flaticon.com/icons/png/128/189/189671.png"
                     width="20" > 38</p>                  
                 </div>
              <!-- /Like numbers -->
              
           </div> <!--/div.col-xs-12 col-sm-4 col-md-4 -->
        
          <%end%>
        
    </div> <!--/div.row-->
       
    <div class="row">
        
         <div class="col-lg-12 col-md-12 col-xs-12">
             <p class="page-header">쿨 타입 베스트 립</p>
         </div>
        
           <%@c_best_lip.each do |best|%>
        
          <div class="col-xs-12 col-sm-4 col-md-4" > 
          
               <a href="/home/layout5/<%=best.num%>" class="col-xs-5 col-md-12">
                   <img class="img-responsive img-portfolio img-hover img-thumbnail" 
                   src="https://s3.ap-northeast-2.amazonaws.com/fourseasons111112/lip/<%=best.num%>.jpg" alt="" width="300" height="280" >
               </a>
              
               <div class="col-xs-7 col-md-12">
                 <a class="product_name" href="/home/layout5/<%=best.num%>">[<%=best.brand%>]<%=best.name%></a>
                 <p class="product_price"><%=best.size%> / <%=best.price%>원</p>
                 <p class="product_tone"><%=best.wc%> / <%=best.tone%></p>
               </div>
               <!-- Like numbers -->
                <div style="text-align:right">
                  <p><img src="http://image.flaticon.com/icons/png/128/189/189671.png"
                    width="20" > 38</p>                  
                </div>
              <!-- /Like numbers -->
              
            </div> <!--/div.col-xs-12 col-sm-4 col-md-4 -->
        
          <%end%>
        
    </div> <!--/div.row-->
    
    <div class="row">
        
        <div class="col-lg-12 col-md-12 col-xs-12">
            <p class="page-header">쿨 타입 베스트 섀도우</p>
        </div>
        
           <%@c_best_sha.each do |best|%>
        
           <div class="col-xs-12 col-sm-4 col-md-4" > 
           
               <a href="/home/layout5/<%=best.num%>" class="col-xs-5 col-md-12">
                   <img class="img-responsive img-portfolio img-hover img-thumbnail" 
                   src="https://s3.ap-northeast-2.amazonaws.com/fourseasons111112/lip/<%=best.num%>.jpg" alt="" width="300" height="280" >
               </a>
              
               <div class="col-xs-7 col-md-12">
                 <a class="product_name" href="/home/layout5/<%=best.num%>">[<%=best.brand%>]<%=best.name%></a>
                 <p class="product_price"><%=best.size%> / <%=best.price%>원</p>
                 <p class="product_tone"><%=best.wc%> / <%=best.tone%></p>
               </div>
              <!-- Like numbers -->
                <div style="text-align:right">
                  <p><img src="http://image.flaticon.com/icons/png/128/189/189671.png"
                    width="20" > 38</p>                  
                </div>
              <!-- /Like numbers -->
              
            </div> <!--/div.col-xs-12 col-sm-4 col-md-4 -->
        
          <%end%>
        
    </div> <!--/div.row-->

    <hr>
</div>
    <!-- /.container -->

    <% if user_signed_in? %>
      <p>현재 로그인된 유저의 이메일 : <%= current_user.email %></p>
      <p><%= link_to "로그아웃", destroy_user_session_path, method: :get, data: { confirm: "로그아웃하시겠습니까?" } %></p>
    <% else %>
  
    <% end %>
    
    
    <!-- Script to Activate the Carousel -->
    <script>
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        })
    </script>



