
<div class="intro-header">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="intro-message">
          <h1>내 입에 착 붙는 인생템 찾기</h1>
          <h3 style="margin-bottom:50px;">내 톤에 맞는 제품을 편리하게 찾아보세요</h3>
         <!-- <hr class="intro-divider">-->

          <!-- Trigger/Open The Modal -->
          <div class ="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">
             <button class="btn-manual btn-manualM" id="btnModal">사이트 이용방법</button>
         </div>

          <!-- The Modal -->
          <div id="guideModal" class="guideModal">

            <!-- Modal content -->
            <div class="modal-content">
              <div class="modal-header">
                <div class="modal-close">
                  <span class="close">×</span>
                </div>
                  <h3>사이트 이용방법</h3>
              </div>
              <div class="modal-body">


                  <div class="guideSlides">
                    <img class="guide_img" src="/images/p1.png" style="width:90%;height:90%;">
                    <img class="guideM_img" src="/images/m1.png" style="width:90%;height:90%;" >
                    <p></p>
                  </div>

                  <div class="guideSlides">
                    <img class="guide_img" src="/images/p2.png" style="width:90%;height:90%;">
                    <img class="guideM_img" src="/images/m2.png" style="width:90%;height:90%;">
                    <p></p>
                  </div>

                  <div class="guideSlides">
                    <img class="guide_img" src="/images/p3.png" >
                    <img class="guideM_img" src="/images/m3.png" >
                    <p><br>웜/쿨톤에 맞는 추천 상품을 살펴보세요</p>
                  </div>

                  <div class="guideSlides">
                    <img class="guide_img" src="/images/p4.png" >
                    <img class="guideM_img" src="/images/m4.png" >
                    <p><br>상품명, 브랜드에 따라 검색해보세요</p>
                  </div>

                  <div class="guideSlides">
                    <img class="guide_img" src="/images/p5.png" style="width:90%;height:90%;">
                    <img class="guideM_img" src="/images/m5.png" style="width:90%;height:90%;">
                    <p>원하시는 상품이 없을 경우 요청해주세요</p>
                  </div>
                  <div class="guideSlides guideSlides_mobile">
                    <img class="guide_img" src="/images/p6.png" style="width:90%;height:90%;">
                    <img class="guideM_img" src="/images/m6.png" style="width:90%;height:90%;">
                    <p>오류가 있는 상품은 제보해주세요</p>
                  </div>


                </div>

                <div class="guide-center">
                  <div class="guide-section">
                    <button class="btn-guide" onclick="plusDivs(-1)">❮ Prev</button>
                    <button class="btn-guide" onclick="plusDivs(1)">Next ❯</button>
                  </div>

                  <!--
                  <button class="btn-guide demo" onclick="currentDiv(1)">1</button>
                  <button class="btn-guide demo" onclick="currentDiv(2)">2</button>
                  <button class="btn-guide demo" onclick="currentDiv(3)">3</button>
                  <button class="btn-guide demo" onclick="currentDiv(4)">4</button>
                  <button class="btn-guide demo" onclick="currentDiv(5)">5</button>
                  -->
                </div>
              </div>

            </div>

          </div>
          <!--/Modal-->

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 counts count1" style="margin-bottom:10px">
            <h3><%=@product_count%></h3>
            <p>전체 상품 수</p>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 counts">
            <h3><%=@w_lip_count%></h3>
            <p>웜톤 상품 수 </p>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 counts">
            <h3><%=@c_lip_count%></h3>
            <p>쿨톤 상품 수 </p>
          </div>


        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->

<div class="content-section-a">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
        <h2 class="section-heading">새 소식</h2>
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>

        <div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px;">
          <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
            <table class="table user-list">
              <thead>
              <tr>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><span>번호</span></th>
                <th class="col-lg-5 col-md-5 col-sm-3 col-xs-3"><span>제목</span></th>
                <th class="col-lg-2 col-md-2 col-sm-1 hidden-sm col-xs-1 hidden-xs"><span>작성자</span></th>
                <th class="col-lg-2 col-md-2 col-sm-3 col-xs-3"><span>작성일</span></th>
                <th class="col-lg-1 col-md-1 col-sm-2 col-xs-2"><span>조회수</span></th>
              </tr>
              </thead>
              <tbody style="text-align: left;">
              <% @news.each do |p| %>
                  <tr>
                    <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                      <p><%=p.id%></p>
                    </td>
                    <td class="col-lg-5 col-md-5 col-sm-3 col-xs-3">
                      <a href="/home/notice_view/<%=p.id%>"><%=p.title%></a>
                    </td>
                    <td class="col-lg-2 col-md-2 col-sm-1 hidden-sm col-xs-1 hidden-xs">
                      <%=p.name %>
                    </td>
                    <td class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                      <%=p.created_at.in_time_zone("Asia/Seoul").strftime("%y-%m-%d") %>
                    </td>
                    <td class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                      <%=p.hits %>
                    </td>

                  </tr>
              <% end %>
              </tbody>
            </table>
           </div>
        </div>
          <div style="text-align: center;">
           <a href="/home/notice" class="btn-black">전체보기</a>
          </div>
        </div>

      </div>

    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-a -->


<div class="content-section-b">

  <div class="container">

    <div class="row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

         <h2 class="section-heading">서비스 소개</h2>
         <hr class="section-heading-spacer">
       </div>
       <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <img src="/images/feature1.png" alt="다양한 브랜드의 퍼스널컬러 정보" class="feature_img">
          <div class="clearfix"></div>
          <h4>다양한 브랜드</h4>
          <p class="lead">백화점, 로드샵 등 다양한 브랜드의 상품이 분류되어 있어요. 매주 추가되는 상품을 확인해보세요.</p>
        </div>

       <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
         <img src="/images/feature2.png" alt="화장품 퍼스널컬러 검색" class="feature_img">
         <div class="clearfix"></div>
         <h4>상품 추가요청</h4>
         <p class="lead">톤 진단이 필요한 상품을 요청하세요. 추가된 상품 소식을 공지사항으로 알려드려요.</p>
       </div>

       <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
         <img src="/images/feature3.png" alt="퍼스널컬러 진단" class="feature_img">
         <div class="clearfix"></div>
         <h4>전문성</h4>
         <p class="lead">발색한 컬러를 기준으로 퍼스널컬러 전문가가 직접 테스트해보고 추천해드려요.</p>
       </div>

     </div>
    </div>
  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-b -->

<!--
<div class="content-section-a">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Google Web Fonts and<br>Font Awesome Icons</h2>
        <p class="lead">This template features the 'Lato' font, part of the <a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, as well as <a target="_blank" href="http://fontawesome.io">icons from Font Awesome</a>.</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="img/phones.png" alt="">
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-a -->

<!--
<a  name="contact"></a>
<div class="banner">

  <div class="container">

    <div class="row">
      <div class="col-lg-6">
        <h2>Connect to Start Bootstrap:</h2>
      </div>
      <div class="col-lg-6">
        <ul class="list-inline banner-social-buttons">
          <li>
            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
          </li>
          <li>
            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
          </li>
          <li>
            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <!-- /.container -->
<!--
</div>
<!-- /.banner -->



<style>
  body,
  html {
    width: 100%;
    height: 100%;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
  }

  .intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #56565d;
    background-image: url('/images/main_image.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

  }

  .intro-message {
    position: relative;
    padding-top: 10%;
    padding-bottom: 10%;

  }

  .intro-message > h1 {
    margin: 0;
    /*text-shadow: 2px 2px 3px rgba(0,0,0,0.6);*/
    font-size: 35px;
    color:#ffffff;

  }

  .intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }

  .intro-message > h3 {
  /* text-shadow: 2px 2px 3px rgba(0,0,0,0.6);*/
    font-size:18px;
    color:#ffffff;
    margin-bottom:30px;

  }

 /* .mainsearch{
    height:40px;
    width:100%;
    font-size: 15px;
    text-align: center;
    border:solid 1px #e4e4e4;


  }

  .searchbutton {
    display: inline;
    height:40px;
    width:40px;
    background-color:#ffffff;

  }
  .fa-search-main{
    font-size:20px;
    color:#ffaaa3;
  }
*/
  .notice a {
    color:#56565d;

  }
  .notice a:hover{
    text-decoration:none;
  }
  .notice h3{
    font-size:1.5em;
    color:#ffffff;
    white-space: pre-line;
  }

  .counts>p,h3 {
    color: #ffffff;
    text-align:center;
  }
  .feature_img{
    width:40%;
    height:40%;
    margin:auto;
    display:block;
  }
  /*.btn-pink{
    width:100%;
    height:100%;
    font-size:13px;
    text-align:center;
    cursor:pointer;
    color:#ffffff;
    background:#ffaaa3;
    margin:auto;
    display:block;
    padding:0px;
  }*/

  .btn-black{
    display:inline-block;
    line-height: 30px;
    width:100px;
    height:30px;
    border-radius: 5px;
    font-size:13px;
    text-align:center;
    color:#ffffff;
    background-color:#333333;
    margin-bottom:30px;
  }
  .btn-black:hover{
    text-decoration:none;
    color:#ffffff;
  }
  .btn-manual:hover{
    text-decoration: none;
    background-color:#ff6666;
    color:#ffffff;
  }
  .btn-manual:active{
    transform:translateY(3px);
  }


  .btn-guide{
    background-color:#333333;
    border-radius:5px;
    color:#ffffff;
    height:auto;
    width:auto;
    font-size:20px;
    transition:all 0.4s;
    margin:20px;
  }
  .btn-guide:hover{
    background-color: black;
    color:#fafafa;

  }

  .network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
  }

  .content-section-a {
    padding-top: 20px;
    background-color: #f8f8f8;
    text-align: center;

  }
  .content-section-a h3{
    text-align: center;
  }
  .content-section-a td>a{
    color:black;
  }

  .content-section-b {
    padding-top: 20px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
  }
  .content-section-b h4{
    color:#56565d;
    text-align: center;
    font-weight: bold;
  }

  .section-heading {
    margin-bottom: 10px;
    text-align: center;
    font-size:2em;
  }

  .section-heading-spacer {
    float: center;
    width: 200px;
    border-top: 3px solid #ffaaa3;
    margin-bottom:30px;
  }
  .lead{
    text-align:center;
    font-size:1em;
    word-break:break-all;
  }
  .banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
  }

  .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
  }

  .banner ul {
    margin-bottom: 0;
  }

  .banner-social-buttons {
    float: right;
    margin-top: 0;
  }

  @media(max-width:767px) {
    .intro-message {
      padding-bottom: 15%;
    }


    ul.intro-social-buttons > li {
      display: block;
      margin-bottom: 20px;
      padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
      margin-bottom: 0;
    }

    .intro-divider {
      width: 100%;
    }
    .btn-manualM{

      text-decoration: none;
      color:#ffaaa3;
      font-size:15px;
      font-weight:bold;
      display:inline-block;
      width:130px;
      height:50px;
      border-radius: 10px;
      background-color:#fafafa;
      line-height:50px;
      text-align:center;
      transition: all 0.4s;

    }

    /*modal css*/

    /* The Modal (background) */
    .guideModal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      margin-top: 60px;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
      background-color: #fefefe;
      margin: 15% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      width: 100%; /* Could be more or less, depending on screen size */

    }

    /* The Close Button */
    .close {
      color: #000000;
      float: right;
      margin-right:5px;
      font-size: 40px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #000000;
      background-color: #e4e4e4;
      text-decoration: none;
      cursor: pointer;
    }

    /* Modal Header */
    .modal-header {
      padding: 1px;
      background-color: #ffaaa3;
      color: white;
    }
    .modal-header>h3{
      font-size:20px;
    }

    /* Modal Body */
    .modal-body {
      padding: 2px;
      width:100%;
      height:100%;
    }

    /* Modal Content */
    .modal-content {
      position: relative;
      background-color: #fefefe;
      margin: auto;
      padding: 0;
      border: 1px solid #888;
      width: 100%;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s
    }
    .guideSlides{
      width:100%;
      height:100%;
    }
    .guideSlides p{

      font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: bold;
      font-size:20px;
    }
    .guide_img{
      display:none;
    }
    .guideM_img{
      width:100%;
      height:80%;
      border:1px solid #e4e4e4;
    }

    /* Add Animation */
    @-webkit-keyframes animatetop {
      from {top: -300px; opacity: 0}
      to {top: 0; opacity: 1}
    }

    @keyframes animatetop {
      from {top: -300px; opacity: 0}
      to {top: 0; opacity: 1}
    }
    /*modal css end */


  }



  @media(min-width:767px) {


    /*.mainsearch{
      height:40px;
      width:100%;
      font-size: 20px;
      text-align: center;
      border:solid 1px #e4e4e4;

    }

    .fa-search-main{
      font-size:30px;
    }

    .product-count{
      display:inline;
    }

    ul.banner-social-buttons {
      float: left;
      margin-top: 15px;

    }
    */
    .intro-message > h1 {
      margin: 0;
      /*text-shadow: 2px 2px 3px rgba(0,0,0,0.6);*/
      font-size: 4em;
      color:#ffffff;
    }


    .intro-message > h3 {
      /* text-shadow: 2px 2px 3px rgba(0,0,0,0.6);*/
      font-size:2em;
      color:#ffffff;
      margin-bottom:30px;

    }
    .btn-manual{

      text-decoration: none;
      color:#ffaaa3;
      font-size:20px;
      font-weight:bold;
      display:inline-block;
      width:200px;
      height:60px;
      line-height: 60px;
      border-radius: 10px;
      background-color:#fafafa;
      text-align:center;
      transition: all 0.4s;

    }
    /*modal css*/

    /* The Modal (background) */
    .guideModal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      margin-top: 85px;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
      background-color: #fefefe;
      margin: 15% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
      color: #000000;
      float: right;
      margin-right:10px;
      font-size: 40px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #000000;
      text-decoration: none;
      cursor: pointer;
    }
    /* Modal Header */
    .modal-header {
      padding: 2px;
      background-color: #ffaaa3;
      color: white;
    }

    /* Modal Body */
    .modal-body {
      padding: 2px;

    }

    /* Modal Content */
    .modal-content {
      position: relative;
      background-color: #fefefe;
      margin: auto;
      padding: 0;
      border: 1px solid #888;
      width: 80%;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s
    }
    .guideSlides p{

      font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: bold;
      font-size:20px;

    }
    .guide_img{
      margin:auto;
      width:70%;
      height:70%;
    }
    .guideM_img{
      display:none;
    }



  }

</style>

<script>

  // Get the modal
  var modal = document.getElementById('guideModal');

  // Get the button that opens the modal
  var btn = document.getElementById("btnModal");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks on the button, open the modal
  btn.onclick = function() {
    modal.style.display = "block";
  }

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }


  //for slideshow in modal

  var slideIndex = 1;
  showDivs(slideIndex);

  function plusDivs(n) {
    showDivs(slideIndex += n);
  }

  function currentDiv(n) {
    showDivs(slideIndex = n);
  }

  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("guideSlides");
    var dots = document.getElementsByClassName("demo");
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }

    //next,prev 버튼 밑에 있던 숫자 버튼 색 변하게 하기
    // for (i = 0; i < dots.length; i++) {
   //   dots[i].className = dots[i].className.replace(" w3-red", "");
   // }
    x[slideIndex-1].style.display = "block";
    //dots[slideIndex-1].className += " w3-red";
  }
</script>