<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('https://s3.ap-northeast-2.amazonaws.com/fourseasons111112/logo222.jpg');"></div>
            <div class="carousel-caption">
               
            </div>
        </div>
        
        <div class="item">
            <div class="fill" style="background-image:url('https://s3.ap-northeast-2.amazonaws.com/fourseasons111112/bannergg.jpg');">

            </div>
            <div class="carousel-caption">
                
            </div>
        </div>
        
        <div class="item">
            <div class="fill" style="background-image:url('https://s3.ap-northeast-2.amazonaws.com/fourseasons111112/icon/imagepopup.jpg');"></div>
            <div class="carousel-caption">
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>

<!-- Page Content -->
<div class="container">


    <!-- Portfolio Section-->
    <div class="row">
        
        <div class="page-header col-lg-12 col-md-12 col-xs-12">웜 립 <strong>Best</strong> top 3
        </div>
        
          <%@w_best_lip.each do |best|%>
        
            <div class="col-xs-12 col-sm-4 col-md-4" > 
          
              <a href="/home/layout5/<%=best.num%>" class="col-xs-5 col-md-12">
                  
                  <img class="img-responsive img-portfolio img-hover img-thumbnail" 
                  src="https://s3.ap-northeast-2.amazonaws.com/fourseasons111112/lip/<%=best.num%>.jpg" alt="" width="300" height="280" >
                  
              </a>
              
              <div class="col-xs-7 col-md-12">
                  
                <a class="product_name" href="/home/layout5/<%=best.num%>">[<%=best.brand%>]<%=best.name%></a>
                <p class="product_price"><%=best.size%> / <%=best.price%>원</p>
              </div>
              
              <div class="col-xs-4 col-md-8">
              <!-- 컬러/톤 줄에 좋아요 이미지를 위치 시킴 -->
                <p class="product_tone"><%=best.wc%> / <%=best.tone%></p>
                  
              </div>
              <!-- Like numbers -->
                <div class="col-xs-3 col-md-3" style="text-align:right">
                <p><img src="http://image.flaticon.com/icons/png/128/189/189671.png"
                    width="20" > <%=display_likes(best)%></p>                  
                  </div>
              <!-- /Like numbers -->
              
            </div> <!--/div.col-xs-12 col-sm-4 col-md-4-->
        
          <%end%>
        
    </div> <!--/div.row-->
    
    <div class="row">
        
        <div class="col-lg-12 col-md-12 col-xs-12">
            <p class="page-header">웜 섀도우 <strong>Best</strong> top 3</p>
        </div>
        
        <%@w_best_sha.each do |best|%>
        
           <div class="col-xs-12 col-sm-4 col-md-4"> 
          
               <a href="/home/layout5/<%=best.num%>" class="col-xs-5 col-md-12">

                   <div style="position:relative;">
                        <img class="img-responsive img-portfolio img-hover img-thumbnail" 
                        src="https://s3.ap-northeast-2.amazonaws.com/fourseasons111112/lip/<%=best.num%>.jpg" alt="" width="300" height="280" >
                   </div>
                   
   <!--  랭킹              <div style="position:relative;top:-333px;left:-12px">
                       <img src="https://s3.ap-northeast-2.amazonaws.com/fourseasons111112/rank/<%=best.id%>.png" width="40">
                   </div>-->
               </a>
              
                <div class="col-xs-7 col-md-12">
                    <a class="product_name" href="/home/layout5/<%=best.num%>">[<%=best.brand%>]<%=best.name%></a>
                    <p class="product_price"><%=best.size%> / <%=best.price%>원</p>
                </div>
                
                <div class="col-xs-4 col-md-8">
                    <!-- 컬러/톤 줄에 좋아요 이미지를 위치 시킴 -->
                    <p class="product_tone"><%=best.wc%> / <%=best.tone%></p>
                </div>
                
               <!-- Like numbers -->
                 <div class="col-xs-3" "col-md-3" style="text-align:right">
                   <p><img src="http://image.flaticon.com/icons/png/128/189/189671.png"
                     width="20" > <%=display_likes(best)%> </p>                  
                 </div>
              <!-- /Like numbers -->
              
           </div> <!--/div.col-xs-12 col-sm-4 col-md-4 -->
        
          <%end%>
        
    </div> <!--/div.row-->
       
    <div class="row">
        
         <div class="col-lg-12 col-md-12 col-xs-12">
             <p class="page-header">쿨 립 <strong>Best</strong> top 3</p>
         </div>
        
           <%@c_best_lip.each do |best|%>
        
          <div class="col-xs-12 col-sm-4 col-md-4" > 
          
               <a href="/home/layout5/<%=best.num%>" class="col-xs-5 col-md-12">
                   <img class="img-responsive img-portfolio img-hover img-thumbnail" 
                   src="https://s3.ap-northeast-2.amazonaws.com/fourseasons111112/lip/<%=best.num%>.jpg" alt="" width="300" height="280" >
               </a>
              
                <div class="col-xs-7 col-md-12">
                    <a class="product_name" href="/home/layout5/<%=best.num%>">[<%=best.brand%>]<%=best.name%></a>
                    <p class="product_price"><%=best.size%> / <%=best.price%>원</p>
                </div>        
                
                <div class="col-xs-4 col-md-8"> 
                <!-- 컬러/톤 줄에 좋아요 이미지를 위치 시킴 -->
                    <p class="product_tone"><%=best.wc%> / <%=best.tone%></p>
                </div>
                
               <!-- Like numbers -->
                <div class="col-xs-3 col-md-3" style="text-align:right">
                  <p><img src="http://image.flaticon.com/icons/png/128/189/189671.png"
                    width="20" > <%=display_likes(best)%> </p>                  
                </div>
              <!-- /Like numbers -->
              
            </div> <!--/div.col-xs-12 col-sm-4 col-md-4 -->
        
          <%end%>
        
    </div> <!--/div.row-->
    
    <div class="row">
        
        <div class="col-lg-12 col-md-12 col-xs-12">
            <p class="page-header">쿨 섀도우 <strong>Best</strong> top 3</p>
        </div>
        
           <%@c_best_sha.each do |best|%>
        
           <div class="col-xs-12 col-sm-4 col-md-4" > 
           
               <a href="/home/layout5/<%=best.num%>" class="col-xs-5 col-md-12">
                   <img class="img-responsive img-portfolio img-hover img-thumbnail" 
                   src="https://s3.ap-northeast-2.amazonaws.com/fourseasons111112/lip/<%=best.num%>.jpg" alt="" width="300" height="280" >
               </a>
              
                <div class="col-xs-7 col-md-12">
                    <a class="product_name" href="/home/layout5/<%=best.num%>">[<%=best.brand%>]<%=best.name%></a>
                    <p class="product_price"><%=best.size%> / <%=best.price%>원</p>
                </div>
                <div class="col-xs-4 col-md-8">
                    <!-- 컬러/톤 줄에 좋아요 이미지를 위치 시킴 -->
                 <p class="product_tone"><%=best.wc%> / <%=best.tone%></p>
                </div>
                
              <!-- Like numbers -->
                <div class="col-xs-3 col-md-3" style="text-align:right">
                  <p><img src="http://image.flaticon.com/icons/png/128/189/189671.png"
                    width="20" > <%=display_likes(best)%> </p>                  
                </div>
              <!-- /Like numbers -->
              
            </div> <!--/div.col-xs-12 col-sm-4 col-md-4 -->
        
          <%end%>
        
    </div> <!--/div.row-->

    <hr>
    <div class="col-lg-12">
        <% if user_signed_in? %>
            <div id="two" style="text-align:center; margin-bottom:40px;">
                <a href="/home/feedback/all" style="color:#ffffff;" class="btn btn-black" role="button">문의하기</a> <!-- button 으로 하면 페이지 이동이 안됨;; 왜그러지-->
            </div>
        <% else %>
            <div id="two" style="text-align:center; margin-bottom:40px;">
                <a href="/users/sign_in" style="color:#ffffff;" class="btn btn-black" role="button">문의하기</a>
            </div>
        <% end %>
    </div>
</div>
    <!-- /.container -->
<style>
     .btn-black{
        width:relative;
        height:40px;
        font-size:15px;
        text-align:center;
        cursor:pointer;
        background:#333333;
    }
</style>
    <!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>



