 

    
    
<!-- 상세페이지 -->
    
    <div class="container">

      
        <!-- /.row -->
        <div style = "margin-top:50px">
        <!-- Portfolio Item Row -->
            <div class="row">
    
                <div class="col-md-6 col-xs-12" >
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    
    
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active "  style="padding: 50px">
                               
                                <img class="img1 img-thumbnail" width=400 src="https://s3.ap-northeast-2.amazonaws.com/fourseasons111112/lip/<%=@product.num%>.jpg">
                            </div>
    
                        </div>
    
                        <!-- Controls -->
    
                    </div>
                </div>
    
                <div class="col-md-6 col-xs-12"  id="orange" style="padding-top:30px; margin-left:-15px;">
                <h4>[<%=@product.brand %>]</h4><br>
                <h4><%=@product.name %></h3><br> <!-- 해당 페이지만 브랜드명, 제품명, 용량/가격 -->
                <h4><%=@product.size %> / <%=@product.price %>원</h4><br>
    
                    <!-- 좋아요버튼 BEGIN
                    <span class="likebtn-wrapper" data-theme="custom" data-btn_size="45" data-f_size="20" data-icon_l="hrt2" data-icon_size="36" data-icon_l_c="#e81339"  data-f_family="Arial Black" data-i18n_like="  찜하기" data-identifier="item_1" data-dislike_enabled="false"></span>
                    <script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
                    --> 
                    
                    
                      <!--좋아요 기능 작동하는 하트 버튼 노출-->
                  <%if user_signed_in?%>    
                      <% if current_user.voted_up_on? @product %>
                       <div class="row">  
                        <div class="col-sm-1 unlike-button">
                        <%= link_to '', unlike_home_path(@product.num), remote: true,
                                                id: "#{@product.num}_like", 
                                                class: "like fa fa-heart" %>
                        </div>
                       </div>  
                   
                      <% else %>
                       
                        <div class="row"> 
                         <div class="col-sm-1 like-button">
                        <%= link_to '', like_home_path(@product.num), remote: true,
                                                id: "#{@product.num}_like",
                                                class: "like fa fa-heart-o" %> 
                         </div>
                        </div>  
                         
                      <% end %>
                      <!--/좋아요 기능 작동하는 하트 버튼 -->
                      
                      <%else%>
                      <!--로그인을 안 했을 시 로그인을 유도하는 가짜 찜하기 버튼 -->
                        <div class="row">
                          <div class="col-sm-1 fake-like-button">
                          <%= link_to "", new_user_session_path, data: { confirm: "로그인 후 이용해주세요." },
                                                          id: "fake-like",
                                                          class: "fa fa-heart-o"%>
                          </div>
                        </div>
                    <%end%>      
 
                      <hr style="border:solid 1px lightgray;">
                          <div>
                              <div class="col-md-6 col-xs-6" style="padding-top:15px">
                                  <h4 style="text-align: center"> <strong>톤</strong>   <%=@product.tone %></h4><br>
                                  <img class="p hidden-xs" src="/images/p.png">
                              </div>
                              <div class="col-md-6 col-xs-6" style="padding-top:15px">
                                  
                                  <h4 style="text-align: center"> <strong>타입</strong>   <%=@product.wc %></h4><br>
                                  <img class="c hidden-xs" src="/images/c.png">
                                  
                              </div>
                          </div>
                </div>
                
    
            </div>
        </div>
        <!-- /.row -->
        
        <br> 
        <hr style="border: solid 0.2px lightgray;"> <!--가로선-->
        <br>
        
        <!-- 제품군, 펄유무, 텍스쳐-->
        <span class="glyphicon glyphicon-tags col-md-4 col-xs-4" aria-hidden="true" style="font-size:17px; text-align:center;">
            <%=@product.pro_type %></span>
        <span class="glyphicon glyphicon-tag col-md-4 col-xs-4" aria-hidden="true" style="font-size:17px; text-align:center;">
            <%=@product.glitter %></span>
        <span class="glyphicon glyphicon-refresh col-md-4 col-xs-4" aria-hidden="true" style="font-size:17px; text-align:center;">
            <%=@product.texture %></span>
        <br>
        <br>
        <!-- 수정요청 버튼 들어갈 부분 -->
        <hr style="border: solid 0.2px lightgray;">
        <button type="button" class="btn btn-secondary" style="float: right;">목록</button>
        <button type="button" class="btn btn-secondary" style="float: right; margin-right:10px">수정요청</button>

        <!-- 댓글 -->
        <br>
        <br>
        
        
        <div class="container">
            <h1 class="page-header"><i class="fa fa-pencil"></i> Review</h1>
            <p class="lead">후기를 작성해보세요!</p>
              
            <div>
            <ul class="media-list forum">
                  
                <!-- from Review db -->
                <% @review.each do |p| %>
                <li class="media well">
               
                    <!-- User info -->
                    <div class="pull-left user-info" href="#" float="left">
                        <img class="avatar img-circle img-thumbnail" src="https://s3.ap-northeast-2.amazonaws.com/likelion1111/uploads/<%= p.userseason %>.png"
                                 width="64" alt="Generic placeholder image">
                        <br/>
                        <strong><center><a href="user.html"><%=p.username%></a></center></strong>
                        <small><center><%=p.userseason%></center></small>
                    </div>
                    <!-- User info END-->
                          
                    <!-- Review -->
                    <div class="media-body">
                        <!-- Image -->  
                        <img width="150px" src="<%= p.img_url %>">
        
                        <br><br>
                        <p><%=p.content %></p>
                        <p><%= p.created_at.strftime("%Y-%m-%d") %></p>
                    </div>
                    <!-- Review END -->
                </li>
                <%end%>
                <!--from Review db 끝--> 

            
            </ul>
            </div>
        </div>
              
            <% if user_signed_in? %>
              <center><a href="/home/write_review/<%=@product.num%>" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">후기 작성하기</a></center>
            <% else %>
              <center><a href="/users/sign_in" id="review_login" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">후기 작성하기</a></center>
            <% end %>
            <!--후기작성버튼
            <!--<center><a href="/home/write_review" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">후기 작성하기</a></center>
            <!--후기작성버튼  끝-->           
                        
         </div>
        
                    
    </div>
                <!-- /.container -->
                
                
   

   
<script>
    
      //제품 드롭다운
    $('#divNewNotifications li').on('click', function() { 
          $('#dropdown_title').html($(this).find('a').html());
        });
        
    //세부톤 드롭다운
    $('#divNewNotifications2 li').on('click', function() {
          $('#dropdown_title2').html($(this).find('a').html());
        });  
    
    //로그인 안한상태에서 후기쓰기 누르면 뜨는 안내메세지    
    $("#review_login").click(function(){
      alert("로그인 후 이용해주세요!");
    });	
    
    
   $('.like-button').on('click',function() {
                            
    
        var result = confirm('관심상품 리스트에 추가 되었습니다. 목록으로 이동 하시겠습니까?');

        if(result) {
           //yes
            location.replace('/home/basket');
        } else {
            //no
            location.reload();
        }
           
     });
    
    $('.unlike-button').on('click',function() {
                            
    
        var result = confirm('관심상품 리스트에서 제거 되었습니다.');

        if(result) {
           //확인
            location.reload();
        } 
           
     });                      
        
</script>