
    <hr style="border: solid 0.2px gray;">
    <div class="container"> 
        <div class="row" style="margin-top:30px; text-align:center">
            
               <!-- 제품선택버튼 -->
                <div class="btn-group col-md-3 col-md-offset-3 col-xs-6" >
                  <button type="button" class="btn btn-default dropdown-toggle" style="width:100%" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    제품 <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" style="width:100%">
                    <li><a href="#">전체보기</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">립스틱</a></li>
                    <li><a href="#">립틴트</a></li>
                    <li><a href="#">립글로즈</a></li>
                  </ul>
                </div>
                      
                <!-- 세부톤선택버튼 -->
                <div class="btn-group col-md-3 col-xs-6" >
                  <button type="button" class="btn btn-default dropdown-toggle" style="width:100%"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    세부톤 <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" style="width:100%">
                    <li><a href="#">비비드</a></li>
                    <li><a href="#">브라이트</a></li>
                    <li><a href="#">스트롱</a></li>
                    <li><a href="#">딥</a></li>
                    <li><a href="#">라이트</a></li>
                    <li><a href="#">소프트</a></li>
                    <li><a href="#">덜</a></li>
                    <li><a href="#">다크</a></li>
                    <li><a href="#">페일</a></li>
                    <li><a href="#">라이트그레이쉬</a></li>
                    <li><a href="#">그레이쉬</a></li>
                    <li><a href="#">다크그레이쉬</a></li>
                    <li><a href="#">무채색</a></li>
                  </ul>
                </div>
        </div>        
    </div>
        
        
        <!-- 제품 리스트 -->
      <% @w_lips.each_slice(3) do |slice| %>
    <div class="row" style="margin-top:40px; margin-left:40px">
        <% slice.each do |w|%>
            <div class="col-md-4 img-portfolio" style="display:inline" >
                <a href="/home/layout5">
                    <img class="example" align="center" src="https://s3.ap-northeast-2.amazonaws.com/garsong0514/uploads/1465980733.1110578DFEQA.PNG" 
                    alt="" style="width: 200px; height: auto">
                </a>
                <a href="/home/layout5"><h5>[<%=w.brand%>]<%=w.name%></h5></a> <br>
                <p><%=w.size%> / <%=w.price%>원</p> <br>
                <p><%=w.wc%> / <%=w.tone%></p>
             </div>
        <%end%>
    </div>
    <% end %>
    
    <!-- pagination -->
    <%= render :partial => "layouts/partial/pagination" %>
</div>
<!-- /.container -->

