
    <div class="container"> 
        <div class="row" style="margin-top:30px; text-align:center">
            
               <!-- 제품선택버튼 -->
                <div class="btn-group col-md-3 col-md-offset-3 col-xs-6" >
                  <button type="button" class="btn btn-default dropdown-toggle" style="width:100%" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span id="dropdown_title">제품</span> <span class="caret"></span>
                  </button>
                  <ul ID="divNewNotifications" class="dropdown-menu" style="width:100%">
                    <li><a>전체보기</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a>립스틱</a></li>
                    <li><a>립틴트</a></li>
                    <li><a>립글로즈</a></li>
                  </ul>
                </div>
                      
                <!-- 세부톤선택버튼 -->
                <div class="btn-group col-md-3 col-xs-6" >
                  <button type="button" class="btn btn-default dropdown-toggle" style="width:100%"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span id="dropdown_title2">세부톤</span> <span class="caret"></span>
                  </button>
                  <ul ID="divNewNotifications2" class="dropdown-menu" style="width:100%">
                    <li><a>비비드</a></li>
                    <li><a>브라이트</a></li>
                    <li><a>스트롱</a></li>
                    <li><a>딥</a></li>
                    <li><a>라이트</a></li>
                    <li><a>소프트</a></li>
                    <li><a>덜</a></li>
                    <li><a>다크</a></li>
                    <li><a>페일</a></li>
                    <li><a>라이트그레이쉬</a></li>
                    <li><a>그레이쉬</a></li>
                    <li><a>다크그레이쉬</a></li>
                    <li><a>무채색</a></li>
                  </ul>
                </div>
        </div>        
    </div>

    <!-- Projects Row -->
    <% @list.each_slice(3) do |slice| %>
    <div class="row" style="margin-top:20px; margin-left:20px; margin-right:20px">
        <% slice.each do |w|%>
            <div class="col-md-4 img-portfolio"  style="display:inline;">
                    <br>
                    <!--모바일화면에서 사진오른쪽에 제품명,브랜드 뜨도록 col-xs-6 추가, 큰화면에서도 오른쪽에 떠서 col-md-12도 추가 -->
                    <a class="col-md-12 col-xs-6" style="img align=center" href="/home/layout5/<%=w.id%>">
                        <!-- 현희 s3에서 넘버별로 불러오기: src="https://s3.ap-northeast-2.amazonaws.com/fourseasons111112/lip/<%=w.num%>.jpg" -->
                        <!-- 예비사진 src=https://s3.ap-northeast-2.amazonaws.com/likelion1111/uploads/1463896363ULMOQZPA.jpg-->
                        <!-- 사진 없는거랑 jpg아니여서 깨지는게 많아서 밑에 src는 임시 -->
                        <img class="example" src="https://s3.ap-northeast-2.amazonaws.com/likelion1111/uploads/1463896363ULMOQZPA.jpg"
                        alt="" style="width: 100%;"> <!-- 큰화면,모바일화면에서 사진사이즈 작아서 조정함-->
                    </a>
                    <p class="col-md-12 col-xs-6" > <!-- 모바일화면에서 제품밑에 가격,톤이 없고 사진밑에있어서 p태그를 span태그로 바꿈 -->
                        <a href="/home/layout5/<%=w.id%>" ><p>[<%=w.brand%>]<%=w.name%></p></a>
                        <span> <%=w.size%> / <%=w.price%>원</span><br>
                        <span> <%=w.wc%> / <%=w.tone%> </span>
                    </p>
                    <br>
                    <hr style="border: solid 1.0px lightgray;"> <!-- 모바일화면에서 제품마다 가로선으로 구분짓고 싶어서 추가했는데 큰화면에서 안보이게 하는법을 모르겠음. hidden-md 써도 보임.. -->
             </div>
        <%end%>
    </div>
    <% end %>
    
    <!-- pagination -->
    
    <%= render :partial => "layouts/partial/pagination" %> 
    
    
</div><!-- /.container -->

<script>
    
    //제품 드롭다운
    $('#divNewNotifications li').on('click', function() { 
          $('#dropdown_title').html($(this).find('a').html());
        });
        
    //세부톤 드롭다운
    $('#divNewNotifications2 li').on('click', function() {
          $('#dropdown_title2').html($(this).find('a').html());
        });    
    
</script>

