<div class="container">
  <div class="row list-display">




  <!--세부 계절타입 선택 -->
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;margin-top:10px;margin-bottom:20px;">
       <div class="season-category-wrapper">
        <ul class="season-category" >
          <li>
            <%if @current_season == "봄 브라이트"%>
                <a href="/home/list_lip2/봄 브라이트" class="btn-season active">봄 브라이트</a>
            <%else%>
                <a href="/home/list_lip2/봄 브라이트" class="btn-season">봄 브라이트</a>
            <%end%>
          </li>

          <li>
            <%if @current_season == "봄 라이트"%>
              <a href="/home/list_lip2/봄 라이트" class="btn-season active">봄 라이트</a>
            <%else%>
              <a href="/home/list_lip2/봄 라이트" class="btn-season">봄 라이트</a>
            <%end%>
          </li>

          <li>
            <%if @current_season == "여름 라이트"%>
              <a href="/home/list_lip2/여름 라이트" class="btn-season active">여름 라이트</a>
            <%else%>
              <a href="/home/list_lip2/여름 라이트" class="btn-season">여름 라이트</a>
            <%end%>
          </li>

          <li>
            <%if @current_season == "여름 뮤트"%>
              <a href="/home/list_lip2/여름 뮤트" class="btn-season active">여름 뮤트</a>
            <%else%>
              <a href="/home/list_lip2/여름 뮤트" class="btn-season">여름 뮤트</a>
            <%end%>
          </li>

          <li>
            <%if @current_season == "가을 뮤트"%>
              <a href="/home/list_lip2/가을 뮤트" class="btn-season active">가을 뮤트</a>
            <%else%>
              <a href="/home/list_lip2/가을 뮤트" class="btn-season">가을 뮤트</a>
            <%end%>
          </li>

          <li>
            <%if @current_season == "가을 딥"%>
             <a href="/home/list_lip2/가을 딥" class="btn-season active">가을 딥</a>
            <%else%>
              <a href="/home/list_lip2/가을 딥" class="btn-season">가을 딥</a>
            <%end%>
          </li>

          <li>
            <%if @current_season == "겨울 딥"%>
              <a href="/home/list_lip2/겨울 딥" class="btn-season active">겨울 딥</a>
            <%else%>
              <a href="/home/list_lip2/겨울 딥" class="btn-season">겨울 딥</a>
            <%end%>
          </li>

          <li>
            <%if @current_season == "겨울 브라이트"%>
              <a href="/home/list_lip2/겨울 브라이트" class="btn-season active">겨울 브라이트</a>
            <%else%>
              <a href="/home/list_lip2/겨울 브라이트" class="btn-season">겨울 브라이트</a>
            <%end%>
          </li>
         </ul>
        </div>

          <!-- for Mobile ver -->
        
          <div class="season-category-wrapperM">
            <ul class="season-categoryM">
                <li>
                  <%if @current_season == "봄 브라이트"%>
                    <a href="/home/list_lip2/봄 브라이트" class="btn-season active">봄 브라이트</a>
                  <%else%>
                    <a href="/home/list_lip2/봄 브라이트" class="btn-season">봄 브라이트</a>
                  <%end%>
                </li>
      
                <li>
                  <%if @current_season == "봄 라이트"%>
                    <a href="/home/list_lip2/봄 라이트" class="btn-season active">봄 라이트</a>
                  <%else%>
                    <a href="/home/list_lip2/봄 라이트" class="btn-season">봄 라이트</a>
                  <%end%>
                </li>
      
                <li>
                  <%if @current_season == "여름 라이트"%>
                    <a href="/home/list_lip2/여름 라이트" class="btn-season active">여름 라이트</a>
                  <%else%>
                    <a href="/home/list_lip2/여름 라이트" class="btn-season">여름 라이트</a>
                  <%end%>
                </li>
      
                <li>
                  <%if @current_season == "여름 뮤트"%>
                    <a href="/home/list_lip2/여름 뮤트" class="btn-season active">여름 뮤트</a>
                  <%else%>
                    <a href="/home/list_lip2/여름 뮤트" class="btn-season">여름 뮤트</a>
                  <%end%>
                </li>
 
             </ul>

             <ul class="season-categoryM">
             
                <li>
                  <%if @current_season == "가을 뮤트"%>
                    <a href="/home/list_lip2/가을 뮤트" class="btn-season active">가을 뮤트</a>
                  <%else%>
                    <a href="/home/list_lip2/가을 뮤트" class="btn-season">가을 뮤트</a>
                  <%end%>
                </li>
      
                <li>
                  <%if @current_season == "가을 딥"%>
                   <a href="/home/list_lip2/가을 딥" class="btn-season active">가을 딥</a>
                  <%else%>
                    <a href="/home/list_lip2/가을 딥" class="btn-season">가을 딥</a>
                  <%end%>
                </li>
      
                <li>
                  <%if @current_season == "겨울 딥"%>
                    <a href="/home/list_lip2/겨울 딥" class="btn-season active">겨울 딥</a>
                  <%else%>
                    <a href="/home/list_lip2/겨울 딥" class="btn-season">겨울 딥</a>
                  <%end%>
                </li>
      
                <li>
                  <%if @current_season == "겨울 브라이트"%>
                    <a href="/home/list_lip2/겨울 브라이트" class="btn-season active">겨울 브라이트</a>
                  <%else%>
                    <a href="/home/list_lip2/겨울 브라이트" class="btn-season">겨울 브라이트</a>
                  <%end%>
                </li>
            </ul>

          </div> 
          
         
      </div>
      <!--/세부계절 타입 div 끝-->


<!-- detail filter -->

<div class="row">
  <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
    
   <!-- 브랜드 필터 -->
   
    <%= render :partial => "layouts/partial/brandfilter" %>
   

  </div>
  
  
  
  
   <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1" style="margin:">
    
      <button type="button" class="filter-toggle" data-toggle="collapse" data-target="#detail_filter">
        <i class="fa fa-sliders filter_icon" aria-hidden="true" style="margin-right:5px;"> </i>필터
      </button>
    
      <form method="get">
        <ul class="detail_filter" id="detail_filter">


             <li>
              <input type="checkbox" id="pro_type" >
              <label for="pro_type" class="filter_title">제품</label>
              <ul class="filter_choices">
                <li>
                  <input type="checkbox" id="stick" class="filter" name="pro_type[]"  value="립스틱">
                  <label for="stick">립스틱</label>
                </li>
                 <li>
                  <input type="checkbox" id="tint" class="filter" name="pro_type[]" value="립틴트">
                  <label for="tint">립틴트</label>
                </li>

                <li>
                  <input type="checkbox" id="laquer" class="filter" name="pro_type[]" value="립라커">
                  <label for="laquer">립라커</label>
                </li>

                <li>
                  <input type="checkbox" id="pencil" class="filter" name="pro_type[]" value="립펜슬">
                  <label for="pencil">립펜슬</label>
                </li>
                <li>
                  <input type="checkbox" id="gloss" class="filter" name="pro_type[]" value="립글로스">
                  <label for="gloss">립글로스</label>
                </li>
                
              </ul>
            </li>


<%
=begin
%>
            <!-- 제형 필터 주석처리

            <li>
              <input type="checkbox" id="texture" >
              <label for="texture" class="filter_title">제형</label>
              <ul class="filter_choices">
                <li>
                  <input type="checkbox" id="mat" class="filter" name="texture[]"  value="매트">
                  <label for="mat">매트</label>
                </li>
                 <li>
                  <input type="checkbox" id="glossy" class="filter" name="texture[]" value="글로시">
                  <label for="glossy">글로시</label>
                </li>
              </ul>
            </li> -->

<%
=end
%>
            
            <li>
              <input type="checkbox" id="color">
              <label for="color" class="filter_title">색상</label>
              <ul class="filter_choices">
              
                <li>
                  <input type="checkbox" id="red" class="filter" name="color[]" value="레드">
                  <label for="red">레드</label>
                </li>

                 <li>
                  <input type="checkbox" id="orange" class="filter" name="color[]" value="오렌지">
                  <label for="orange">오렌지</label>
                </li>

                 <li>
                  <input type="checkbox" id="pink" class="filter" name="color[]" value="핑크">
                  <label for="pink">핑크</label>
                </li>

                <li>
                  <input type="checkbox" id="purple" class="filter" name="color[]" value="퍼플">
                  <label for="purple">퍼플</label>
                </li>

                <li>
                  <input type="checkbox" id="beige" class="filter" name="color[]" value="베이지">
                  <label for="beige">베이지</label>
                </li>


              </ul>
            </li>

            <li>
              <input type="checkbox" id="level">
              <label for="level" class="filter_title">브랜드</label>
              <ul class="filter_choices">
              
                <li>
                  <input type="checkbox" id="high" class="filter" name="level[]" value="백화점">
                  <label for="high">백화점</label>
                </li>
                 <li>
                  <input type="checkbox" id="low" class="filter" name="level[]" value="로드샵">
                  <label for="low">로드샵</label>
                </li>

                <li>
                  <input type="checkbox" id="drug" class="filter" name="level[]" value="드럭스토어">
                  <label for="drug">드럭스토어</label>
                </li>

              </ul>
            </li>


            <li>
               <input type="submit" class="filterbutton" value="필터 적용" onclick="ga('send', 'event', 'filter', 'click', 'filter_apply',1);" />
            </li>
        </ul>
       
      </form>
    </div>        
  </div> <!--/필터 끝-->
  
 

    <!--페이지 제목-->
    <div class="title-web" style="margin-right:10px;">
      <h3><%=@current_season%></h3>
      <p><%=@tone_detail%></p>

    </div>

   
  </div>
      <hr style="border: 2px solid #38393b">  

  <!-- Projects Row -->
  <% @list.each_slice(3) do |slice| %>
    <div class="row" id="element" onload="retrieveScrollPosition();">
      <% slice.each do |w|%>
        <div class="col-md-4 col-xs-12" style="margin-top:-10px;">
          <br>
            <div class="product-container"  onClick="location.href='/home/detail2/<%=w.image%>'">
              <!--모바일화면에서 사진오른쪽에 제품명,브랜드 뜨도록 col-xs-5 추가, 큰화면에서도 오른쪽에 떠서 col-md-12도 추가 -->
              <a class="col-md-12 col-xs-4" href="/home/detail2/<%=w.image%>">
                  <img class="example" src="https://s3.ap-northeast-2.amazonaws.com/palette160829111/product/<%=w.image%>-min.jpg" alt="<%=w.name%>">
              </a>

              <div class="col-md-12 col-xs-8"> <!-- 모바일화면에서 제품밑에 가격,톤이 없고 사진밑에있어서 p태그를 span태그로 바꿈 -->
                <div class="product-name" style="height:50px;"> <!-- 제품명에 글자 수에 관계없이 div크기 지정. 모바일 화면을 고려하여 60px 값 -->
                  <a class="product_name" href="/home/detail2/<%=w.image%>" ><strong>[<%=w.brand%>]<%=w.name%></strong></a>
                </div>
              </div>

              <div class="col-md-12 col-xs-8">  <!-- 톤 정보 열 오른쪽에, 좋아요 버튼 들어가도록 그리드 설정 -->
              <!--  <p class="product_tone" style="float:left"><#%=w.season%></p>-->
                <p class="product_price" style="float:right">  <%=w.size%> <p class="product_price" style="float:right; margin-left:2px;"> <%=w.price.to_i.floor%>원</p>
              </div>

               <div class="col-md-12 col-xs-8">

                <%if w.color=="레드"%>
                  <span class="product_label label_red"><%=w.color%></span>
                <%elsif w.color=="오렌지"%>
                  <span class="product_label label_orange"><%=w.color%></span>
                <%elsif w.color=="핑크"%>
                  <span class="product_label label_pink"><%=w.color%></span>
                <%elsif w.color=="베이지"%>
                  <span class="product_label label_beige"><%=w.color%></span>
                <%else%>
                  <span class="product_label label_purple"><%=w.color%></span>
                <%end%>

                <span class="product_label label_product"><%=w.pro_type%></span>
              </div>
                 <!-- 좋아요 수 보여주는거 잠시 봉인 (16.10.08)
                  <p style="float:right;margin-right:12px; margin-bottom:10px"><i class="fa fa-heart" aria-hidden="true"></i> < %=display_likes(w)%></p>
                  -->


           </div>
        </div>
      <%end%>
    </div>
  <% end %>
      
  <br><br>    
  <!-- pagination -->

  <%= render :partial => "layouts/partial/pagination" %> 

</div><!-- /.container -->



<style>
    body{
      height:auto;
    }

    .title-web h3 {
        font-family: 'NanumGothic';
        font-size: 22px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        color: #38393b;
    }
    .title-web p{
        font-family: NanumGothic;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        color: #787878;
    }
    .product-name{
      margin-top:10px;
      margin-bottom:10px;
      font-family: NanumGothic;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.29;
      color: #38393b;
    }
    .product_name{
      color:#38393b;
    }
    .product-name a:hover,
    .product-name a:focus{
      text-decoration: none;
      color: #000000;
    }
    .product_price {
      color:#38393b;
    }

    .product_price{
      margin-right:3px;
      margin-left:2px;
    }

    /*제품 정보 라벨*/

    .label_red{
      color:#ffffff;
      background-color:#cc0000;
    }
    .label_pink{
      color:#ffffff;
      background-color:#e64c7a;
    }
    .label_orange{
      color:#ffffff;
      background-color:#ffab40;
    }
    .label_beige{
      color:#ffffff;
      background-color:#c9a241;
    }
    .label_purple{
      color:#ffffff;
      background-color:#8841b0;
    }
    .label_product{
      color:#ffffff;
      background-color:#0097a7;
    }
    /* 제품정보 라벨 끝 */

    .page-navigation>a{
      color:#56565d;
    }
    
     /* fileter button */
    
    .detail_filter{
      border:1px solid #ffa291;
      padding:10px;
    
    }
    
    .detail_filter, .detail_filter ul{
      list-style: none;
      padding-left:17px;
      font-size:14px;
    }
    .detail_filter ul li{
      display:inline-block;
    }
    .detail_filter ul label{
      cursor: pointer;
      display: inline-block;
      color: #ffa291;
      height:auto;
      width:80px;
      border:1px solid #ffa291;
      background-color: #fafafa;
      text-align: center;
      text-decoration: none;
      font-size:13px;
      transition:all 0.4s;
      
    }
    
    .detail_filter input[type="checkbox"] {
       display:none;
    }
    .detail_filter input[type="checkbox"]:not(.filter)+label:before{
      content:"▲";
      font-size:14px;
    }
    .detail_filter input[type="checkbox"]:not(.filter):checked+label:before{
      content:"▼";
      font-size:14px;
    }
    .detail_filter input[type="checkbox"] + label {
      
      cursor:pointer;
    }
    
    .detail_filter input[type="checkbox"]:checked~ul {
      display:none;
      
    }
    .detail_filter ul input[type="checkbox"]:checked + label {
      border:1px solid #ffa291;
      background-color: #ffa291;
      color:#fafafa;
    }
    .filterbutton{
      background:#ff6666;
      color:#ffffff;
      width:100%;
      height:auto;
      padding:5px;
      margin-top:10px;
    }
    .filter-toggle{
      width:40%;
      height:auto;
      display:block;
      padding:5px 0px 5px 0px;
      margin:auto;
      color:#fafafa;
      background-color:#ffa291;
    }

    .filter-toggle.wide{
      width:100%;
      background-color:#ff6666;
    }
    .filter_icon{
      display:inline-block;
    }
    .filter_title{
      display:inline-block;
      width:100%;
      padding-bottom:10px;
      border-bottom:1px solid lightgray;
    }
    
    .filter_choices{
      padding:5px 0px 5px 0px;
    }
    
    
    /* filter button end*/


  @media (min-width: 768px) {
    .list-display {
        margin-top:70px;
      }
    .title-web {
      float:left;
      margin-left:25px;
    }

    .title-web hr{

        width: 1015.5px;
        border: solid 2px #38393b;

    }

    .product-container{
      margin-top:20px;
      height:450px;
      cursor:pointer;
    }

    .product-name{
      margin-bottom:30px;
    }

    .product_label{
      font-size:12px;
      padding:3px;
      text-align:center;
      display:inline-block;
      width:60px;
      border-radius:5px;
      margin-bottom:10px;
    }
    .page-navigation{
      text-align:right;
      margin-right:45px;

    }

     /*계절타입 선택 필터*/
    .season-categoryM,.season-category-wrapperM{
      display:none;
    }
    .season-category-wrapper{
      border-top:1px solid #b2b2b2;
      border-bottom:1px solid #b2b2b2;
      box-shadow: 0 -3px 0 #fff,0 -4px 0 #d1d1d1,0 3px 0 #fff,0 4px 0 #d1d1d1;
    }
    .season-category{
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;

    }
    .season-category> li:after{

      content: "";
      position:absolute;
      top:50%;
      width:1px;
      height:14px;
      margin-top:-6px;
      background:#ffa291;
    }

    .season-category>li {
      display:inline;

    }

    .season-category>li a {

      display: inline-block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-weight:500;
      font-size:12px;
      letter-spacing:0.05em;
      -webkit-transition:background 0.15s ease-in-out,color 0.15s ease;
    }
    .season-category>li a:hover:not(.active){

      background-color: #ffa291;
      background: #ffa291 url(/images/nav-hover-bg.png)
    }

    .season-category .active{

      background-color: #ffffff;
      color:#ffa291;
      font-weight:bold;
    }

    /*계절타입 선택 필터 끝*/
    
      /* fileter button */
    
    .detail_filter{
      border:1px solid #ffa291;
      padding:20px;
    }
    
    .detail_filter, .detail_filter ul{
      list-style: none;
      padding-left:17px;
      font-size:14px;
    }
   
    .detail_filter ul label, .detail_filter input[type="checkbox"]:not(.filter)+label:before,
     .detail_filter input[type="checkbox"]:not(.filter):checked+label:before{
      
      font-size:14px;
    }
    
    .filterbutton{
      
      width:100%;
      height:auto;
      padding:5px;
      
    }
    .filter-toggle{
      width:40%;
      height:auto;
    }
    .filter-toggle:hover{
     background-color:#ff6666;
    }
    .filter-toggle.wide{
      width:100%;
    }  
    .filter_title ul{
      
      padding-top:10px;
    }
   
    
    
    /* filter button end*/

     
   

  }

  @media (max-width:767px){
    .list-display {
        margin-top:10px;
      }
    .title-web {
      float:left;
      margin-left:20px;
    }

    .product-container{
      border: 1px solid lightgray;
      height:130px;
    }
    .product-container:active{
      border:1px solid #ffa291;
    }
    .product_label{
      font-size:11px;
      text-align:center;
      display:inline-block;
      width:50px;
      padding:3px;
      border-radius:5px;
      margin-bottom:10px;
    }


    .example{
    margin-top:7px;
    width: 94px;
    height: 94px;
    }

    .page-navigation{
      text-align:right;
      margin: 20px 10px 0px 0px;

    }

    /*계절타입 선택 필터*/

    .season-category, .season-category-wrapper{
      display:none;
    }
    
    .season-category-wrapperM{
      margin-top:10px;
      border-top:1px solid #b2b2b2;
      border-bottom:1px solid #b2b2b2;
      box-shadow: 0 -3px 0 #fff,0 -4px 0 #d1d1d1,0 3px 0 #fff,0 4px 0 #d1d1d1;
    }
    .season-categoryM{
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;

    }

    .season-categoryM>li {
      display:inline;

    }

    .season-categoryM>li a {

      display: inline-block;
      color: #000;
      text-align: center;
      padding: 8px 6px;
      text-decoration: none;
      font-weight:700;
      font-size:14px;

      -webkit-transition:background 0.15s ease-in-out,color 0.15s ease;
    }

    .season-categoryM .active{

      background-color: #ffffff;
      color:#ffa291;
      font-weight:bold;
    }

    /*계절타입 선택 필터 끝*/


  }
</style>


<script>


//folding button for detail filter
 $("#detail_filter").hide();
 
 $(".filter-toggle").click(function(){
      $(this).toggleClass("wide"); 
      $("#detail_filter").toggle();
      
    });
    
 $('a.btn-season').click(function(){


 });
 
 

// 현재 클릭된 메뉴 보여주기
  


//    $(".btn-season").each(function() {
   
//  if (this.href == window.location.href) {
//    alert(this).href);
//    $(this).addClass("active");
//  }
  
// });

//브랜드 필터링

$(function () {
        $(".brand-select").change(function (e) {
            $('.brand-filter').submit();
            
        });

});

//페이지 스크롤 기능
  
  
//    $(window).scroll(function () {
      //set scroll position in session storage
//      sessionStorage.scrollPos = $(window).scrollTop();
//    });
   
//    var init = function () {
       //return scroll position in session storage
//       $('html,body').scrollTop(sessionStorage.scrollPos)
///    };
  
//    $(window).onload = init;

    $(function() {
      
        $(window).scroll(function () {
        //set scroll position in session storage
         var scrollPosition = $(window).scrollTop();
         localStorage.setItem("scrollPosition", scrollPosition);
        // alert(localStorage.scrollPosition);  //for test
        });
        
       
       $(window).load(function() { 
         if(localStorage.scrollPosition) {
              
              $("html,body").scrollTop(localStorage.getItem("scrollPosition"));
           }
       });  
    });

</script>


