<div class="container">
  <div class="row list-display">




  <!--세부 계절타입 선택 -->
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 season-wrapper">
       <div class="season-category-wrapper">
        <ul class="season-category" >
          <li>
            <%if @current_season == "봄 브라이트"%>
                <a href="/home/list_lip2/봄 브라이트" class="btn-season active">봄 브라이트</a>
            <%else%>
                <a href="/home/list_lip2/봄 브라이트" class="btn-season">봄 브라이트</a>
            <%end%>
          </li>

          <li>
            <%if @current_season == "봄 라이트"%>
              <a href="/home/list_lip2/봄 라이트" class="btn-season active">봄 라이트</a>
            <%else%>
              <a href="/home/list_lip2/봄 라이트" class="btn-season">봄 라이트</a>
            <%end%>
          </li>

          <li>
            <%if @current_season == "여름 라이트"%>
              <a href="/home/list_lip2/여름 라이트" class="btn-season active">여름 라이트</a>
            <%else%>
              <a href="/home/list_lip2/여름 라이트" class="btn-season">여름 라이트</a>
            <%end%>
          </li>

          <li>
            <%if @current_season == "여름 뮤트"%>
              <a href="/home/list_lip2/여름 뮤트" class="btn-season active">여름 뮤트</a>
            <%else%>
              <a href="/home/list_lip2/여름 뮤트" class="btn-season">여름 뮤트</a>
            <%end%>
          </li>

          <li>
            <%if @current_season == "가을 뮤트"%>
              <a href="/home/list_lip2/가을 뮤트" class="btn-season active">가을 뮤트</a>
            <%else%>
              <a href="/home/list_lip2/가을 뮤트" class="btn-season">가을 뮤트</a>
            <%end%>
          </li>

          <li>
            <%if @current_season == "가을 딥"%>
             <a href="/home/list_lip2/가을 딥" class="btn-season active">가을 딥</a>
            <%else%>
              <a href="/home/list_lip2/가을 딥" class="btn-season">가을 딥</a>
            <%end%>
          </li>

          <li>
            <%if @current_season == "겨울 딥"%>
              <a href="/home/list_lip2/겨울 딥" class="btn-season active">겨울 딥</a>
            <%else%>
              <a href="/home/list_lip2/겨울 딥" class="btn-season">겨울 딥</a>
            <%end%>
          </li>

          <li>
            <%if @current_season == "겨울 브라이트"%>
              <a href="/home/list_lip2/겨울 브라이트" class="btn-season active">겨울 브라이트</a>
            <%else%>
              <a href="/home/list_lip2/겨울 브라이트" class="btn-season">겨울 브라이트</a>
            <%end%>
          </li>
         </ul>
        </div>

          <!-- for Mobile ver -->
        
          <div class="season-category-wrapperM">
            <ul class="season-categoryM">
                <li>
                  <%if @current_season == "봄 브라이트"%>
                    <a href="/home/list_lip2/봄 브라이트" class="btn-season active">봄 브라이트</a>
                  <%else%>
                    <a href="/home/list_lip2/봄 브라이트" class="btn-season">봄 브라이트</a>
                  <%end%>
                </li>
      
                <li>
                  <%if @current_season == "봄 라이트"%>
                    <a href="/home/list_lip2/봄 라이트" class="btn-season active">봄 라이트</a>
                  <%else%>
                    <a href="/home/list_lip2/봄 라이트" class="btn-season">봄 라이트</a>
                  <%end%>
                </li>
      
                <li>
                  <%if @current_season == "여름 라이트"%>
                    <a href="/home/list_lip2/여름 라이트" class="btn-season active">여름 라이트</a>
                  <%else%>
                    <a href="/home/list_lip2/여름 라이트" class="btn-season">여름 라이트</a>
                  <%end%>
                </li>
      
                <li>
                  <%if @current_season == "여름 뮤트"%>
                    <a href="/home/list_lip2/여름 뮤트" class="btn-season active">여름 뮤트</a>
                  <%else%>
                    <a href="/home/list_lip2/여름 뮤트" class="btn-season">여름 뮤트</a>
                  <%end%>
                </li>
 
             </ul>

             <ul class="season-categoryM">
             
                <li>
                  <%if @current_season == "가을 뮤트"%>
                    <a href="/home/list_lip2/가을 뮤트" class="btn-season active">가을 뮤트</a>
                  <%else%>
                    <a href="/home/list_lip2/가을 뮤트" class="btn-season">가을 뮤트</a>
                  <%end%>
                </li>
      
                <li>
                  <%if @current_season == "가을 딥"%>
                   <a href="/home/list_lip2/가을 딥" class="btn-season active">가을 딥</a>
                  <%else%>
                    <a href="/home/list_lip2/가을 딥" class="btn-season">가을 딥</a>
                  <%end%>
                </li>
      
                <li>
                  <%if @current_season == "겨울 딥"%>
                    <a href="/home/list_lip2/겨울 딥" class="btn-season active">겨울 딥</a>
                  <%else%>
                    <a href="/home/list_lip2/겨울 딥" class="btn-season">겨울 딥</a>
                  <%end%>
                </li>
      
                <li>
                  <%if @current_season == "겨울 브라이트"%>
                    <a href="/home/list_lip2/겨울 브라이트" class="btn-season active">겨울 브라이트</a>
                  <%else%>
                    <a href="/home/list_lip2/겨울 브라이트" class="btn-season">겨울 브라이트</a>
                  <%end%>
                </li>
            </ul>

          </div> 
          
         
      </div>
      <!--/세부계절 타입 div 끝-->


<!-- detail filter -->

<div class="row">
  <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
    
   <!-- 브랜드 필터 -->
   
    <%= render :partial => "layouts/partial/brandfilter" %>
   

  </div>
  
  
  
  
   <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1" style="margin:">
    
      <button type="button" class="filter-toggle" data-toggle="collapse" data-target="#detail_filter">
        <i class="fa fa-sliders filter_icon" aria-hidden="true"> </i>필터
      </button>
    
      <form method="get">
        <ul class="detail_filter" id="detail_filter">


             <li>
              <input type="checkbox" id="pro_type" >
              <label for="pro_type" class="filter_title">제품</label>
              <ul class="filter_choices">
                <li>
                  <input type="checkbox" id="stick" class="filter" name="pro_type[]"  value="립스틱">
                  <label for="stick">립스틱</label>
                </li>
                 <li>
                  <input type="checkbox" id="tint" class="filter" name="pro_type[]" value="립틴트">
                  <label for="tint">립틴트</label>
                </li>

                <li>
                  <input type="checkbox" id="laquer" class="filter" name="pro_type[]" value="립라커">
                  <label for="laquer">립라커</label>
                </li>

                <li>
                  <input type="checkbox" id="pencil" class="filter" name="pro_type[]" value="립펜슬">
                  <label for="pencil">립펜슬</label>
                </li>
                <li>
                  <input type="checkbox" id="gloss" class="filter" name="pro_type[]" value="립글로스">
                  <label for="gloss">립글로스</label>
                </li>
                
              </ul>
            </li>
            
            <li>
              <input type="checkbox" id="color">
              <label for="color" class="filter_title">색상</label>
              <ul class="filter_choices">
              
                <li>
                  <input type="checkbox" id="red" class="filter" name="color[]" value="레드">
                  <label for="red">레드</label>
                </li>

                 <li>
                  <input type="checkbox" id="orange" class="filter" name="color[]" value="오렌지">
                  <label for="orange">오렌지</label>
                </li>

                 <li>
                  <input type="checkbox" id="pink" class="filter" name="color[]" value="핑크">
                  <label for="pink">핑크</label>
                </li>

                <li>
                  <input type="checkbox" id="purple" class="filter" name="color[]" value="퍼플">
                  <label for="purple">퍼플</label>
                </li>

                <li>
                  <input type="checkbox" id="beige" class="filter" name="color[]" value="베이지">
                  <label for="beige">베이지</label>
                </li>
              </ul>
            </li>
            
            <li>
              <input type="checkbox" id="texture">
              <label for="texture" class="filter_title">제형</label>
              <ul class="filter_choices">
              
                <li>
                  <input type="checkbox" id="matte" class="filter" name="texture[]" value="매트">
                  <label for="matte">매트</label>
                </li>

                 <li>
                  <input type="checkbox" id="semimatte" class="filter" name="texture[]" value="세미매트">
                  <label for="semimatte">세미매트</label>
                </li>

                 <li>
                  <input type="checkbox" id="chokchok" class="filter" name="texture[]" value="촉촉">
                  <label for="chokchok">촉촉</label>
                </li>

                <li>
                  <input type="checkbox" id="glossy" class="filter" name="texture[]" value="글로시">
                  <label for="glossy">글로시</label>
                </li>

              </ul>
            </li>

            <li>
              <input type="checkbox" id="level">
              <label for="level" class="filter_title">브랜드</label>
              <ul class="filter_choices">
              
                <li>
                  <input type="checkbox" id="high" class="filter" name="level[]" value="백화점">
                  <label for="high">백화점</label>
                </li>
                 <li>
                  <input type="checkbox" id="low" class="filter" name="level[]" value="로드샵">
                  <label for="low">로드샵</label>
                </li>
                <li>
                  <input type="checkbox" id="drug" class="filter" name="level[]" value="드럭스토어">
                  <label for="drug">드럭스토어</label>
                </li>
              </ul>
            </li>
            <li>
               <input type="submit" class="filterbutton" value="필터 적용" onclick="ga('send', 'event', 'filter', 'click', 'filter_apply',1);" />
            </li>
        </ul>
       
      </form>
    </div>        
  </div> <!--/필터 끝-->
  
 

    <!--페이지 제목-->
    <div class="title-web">
      <h3><%=@current_season%></h3>
      <p><%=@tone_detail%></p>

    </div>

   
  </div>
      <hr class="title_deco_line">  

  <!-- Projects Row -->
  <% @list.each_slice(3) do |slice| %>
    <div class="row" id="element" onload="retrieveScrollPosition();">
      <% slice.each do |w|%>
        <div class="col-md-4 col-xs-12 product_wrapper">
          <br>
            <% if w.update_date.to_time + 7.day>Time.current %>
              <img class="img-update" src="/images/update.png">
            <% end %>
            <div class="product-container"  onClick="location.href='/home/detail2/<%=@current_season%>/<%=w.image%>'">
              
              <a class="col-md-12 col-xs-4" href="/home/detail2/<%=@current_season%>/<%=w.image%>">
                <% if w.image.include?(" ") || w.image == nil %>
                  <img class="example" src="/images/img_no_image.jpg" alt="이미지를 준비중입니다.">
                <% else %>
                  <img class="example" src="https://s3.ap-northeast-2.amazonaws.com/palette160829111/product/<%=w.image%>-min.jpg" alt="<%=w.name%>">
                <% end %>
              </a>

              <div class="col-md-12 col-xs-8"> 
                <div class="product-name">
                  <a class="product_name" href="/home/detail2/<%=@current_season%>/<%=w.image%>" ><strong>[<%=w.brand%>]<%=w.name%></strong></a>
                </div>
              </div>

              <div class="col-md-12 col-xs-8">  
                <p class="product_price">  <%=w.size%> <p class="product_price"> <%=w.price.to_i.floor%>원</p>
              </div>

               <div class="col-md-12 col-xs-8">

                <%if w.color=="레드"%>
                  <span class="product_label label_red"><%=w.color%></span>
                <%elsif w.color=="오렌지"%>
                  <span class="product_label label_orange"><%=w.color%></span>
                <%elsif w.color=="핑크"%>
                  <span class="product_label label_pink"><%=w.color%></span>
                <%elsif w.color=="베이지"%>
                  <span class="product_label label_beige"><%=w.color%></span>
                <%else%>
                  <span class="product_label label_purple"><%=w.color%></span>
                <%end%>

                <span class="product_label label_product"><%=w.texture%></span>
              </div>
                 <!-- 좋아요 수 보여주는거 잠시 봉인 (16.10.08)
                  <p style="float:right;margin-right:12px; margin-bottom:10px"><i class="fa fa-heart" aria-hidden="true"></i> < %=display_likes(w)%></p>
                  -->
           </div>
        </div>
      <%end%>
    </div>
  <% end %>
  
  <br>
  <!-- pagination -->
  <%= render :partial => "layouts/partial/pagination" %>
  <br><br><br>
</div><!-- /.container -->



<script>


//folding button for detail filter
 $("#detail_filter").hide();
 
 $(".filter-toggle").click(function(){
      $(this).toggleClass("wide"); 
      $("#detail_filter").toggle();
      
    });
    
 $('a.btn-season').click(function(){


 });
 

//브랜드 필터링

$(function () {
        $(".brand-select").change(function (e) {
            $('.brand-filter').submit();
            
        });

});

//페이지 스크롤 기능
    $(function() {
      
        $(window).scroll(function () {
        //set scroll position in session storage
         var scrollPosition = $(window).scrollTop();
         localStorage.setItem("scrollPosition", scrollPosition);
        // alert(localStorage.scrollPosition);  //for test
        });
        
       
       $(window).load(function() { 
         if(localStorage.scrollPosition) {
              
              $("html,body").scrollTop(localStorage.getItem("scrollPosition"));
           }
       });  
    });

</script>


