
<div class="container"> 
  <div class="row list-display">
    <!-- 제품선택버튼 -->
    <!--
    <div class="btn-group col-md-3 col-md-offset-3 col-xs-6">
      <button type="button" class="btn btn-black dropdown-toggle" style="width:100%;background-color:#EBEBEB" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span id="dropdown_title"><%=@liplist%></span> <span class="caret"></span>
      </button>
      <ul ID="divNewNotifications" class="dropdown-menu" style="width:100%">
        <li><a href="/home/list_lip/<%=@colors%>">전체보기</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="/home/list_lip/<%=@colors%>/립스틱">립스틱</a></li>
        <li><a href="/home/list_lip/<%=@colors%>/립틴트">립틴트</a></li>
        <li><a href="/home/list_lip/<%=@colors%>/립글로즈">립글로즈</a></li>
      </ul>
    </div>
    -->
    
    <div class="title-web" style="margin-right:10px;">
      <h3><%=@color_tone%> 립</h3>
      <p><%=@color_tone%> 톤에 어울리는 추천 립</p>

    </div>
                      
    <!-- 세부톤선택버튼 -->
    <div class="btn-group col-md-3 col-xs-6 btn-web" >
      <button type="button" class="btn btn-black dropdown-toggle" style="text-align:left;color: #787878;border: solid 1px #e4e4e4; width:90%; background-color:#ffffff"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span id="dropdown_title2"><%=@liptone%></span> <span class="caret"></span>
      </button>
      <ul ID="divNewNotifications2" class="dropdown-menu" style="width:82%;margin-left:15px">
        <li><a href="/home/list_lip/<%=@colors%>">전체보기</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="/home/list_lip/<%=@colors%>/<%=@liplist%>/비비드">비비드</a></li>
        <li><a href="/home/list_lip/<%=@colors%>/<%=@liplist%>/브라이트">브라이트</a></li>
        <li><a href="/home/list_lip/<%=@colors%>/<%=@liplist%>/스트롱">스트롱</a></li>
        <li><a href="/home/list_lip/<%=@colors%>/<%=@liplist%>/딥">딥</a></li>
        <li><a href="/home/list_lip/<%=@colors%>/<%=@liplist%>/라이트">라이트</a></li>
        <li><a href="/home/list_lip/<%=@colors%>/<%=@liplist%>/소프트">소프트</a></li>
        <li><a href="/home/list_lip/<%=@colors%>/<%=@liplist%>/덜">덜</a></li>
        <li><a href="/home/list_lip/<%=@colors%>/<%=@liplist%>/다크">다크</a></li>
        <li><a href="/home/list_lip/<%=@colors%>/<%=@liplist%>/페일">페일</a></li>
        <li><a href="/home/list_lip/<%=@colors%>/<%=@liplist%>/라이트그레이쉬">라이트그레이쉬</a></li>
        <li><a href="/home/list_lip/<%=@colors%>/<%=@liplist%>/그레이쉬">그레이쉬</a></li>
        <li><a href="/home/list_lip/<%=@colors%>/<%=@liplist%>/다크그레이쉬">다크그레이쉬</a></li>
        <li><a href="/home/list_lip/<%=@colors%>/<%=@liplist%>">무채색</a></li>
      </ul>
    </div>
  
  </div>        
      <hr style="border: 2px solid #38393b">  

  <!-- Projects Row -->
  <% @list.each_slice(3) do |slice| %>
    <div class="row">
      <% slice.each do |w|%>
        <div class="col-md-4 col-xs-12" style="margin-top:-10px">
          <br>
          <div class="product-container">
            <!--모바일화면에서 사진오른쪽에 제품명,브랜드 뜨도록 col-xs-5 추가, 큰화면에서도 오른쪽에 떠서 col-md-12도 추가 -->
            <a class="col-md-12 col-xs-4" href="/home/detail/<%=w.num%>">
                <img class="example" src="https://s3.ap-northeast-2.amazonaws.com/fourseasons111112/product/<%=w.num%>-min.jpg"
                     alt="" > <!-- 큰화면,모바일화면에서 사진사이즈 작아서 조정함-->
  
            </a>
                        
            <div class="col-md-12 col-xs-8"> <!-- 모바일화면에서 제품밑에 가격,톤이 없고 사진밑에있어서 p태그를 span태그로 바꿈 -->
              <div class="product-name" style="height:50px;"> <!-- 제품명에 글자 수에 관계없이 div크기 지정. 모바일 화면을 고려하여 60px 값 -->  
                <a class="product_name" href="/home/detail/<%=w.num%>" ><strong>[<%=w.brand%>]<%=w.name%></strong></a>
              </div>
            </div>
                        
            <div class="col-md-8 col-xs-8">  <!-- 톤 정보 열 오른쪽에, 좋아요 버튼 들어가도록 그리드 설정 -->   
              <p class="product_tone" style="float:left"> <%=w.wc%> / <%=w.tone%> </p>
              <p class="product_price" style="float:left"> | <%=w.size%> <p class="product_price"style="color:#ff709b;float:left; margin-left:2px;"> <%=w.price%>원</style> </p>
            </div>
                <p style="float:right;margin-right:12px; margin-bottom:10px"><i class="fa fa-heart" aria-hidden="true"></i> <%=display_likes(w)%></p>   
      


         </div>
        </div>
      <%end%>
    </div>
  <% end %>
      
  <br><br>    
  <!-- pagination -->
  <%= render :partial => "layouts/partial/pagination" %> 
</div><!-- /.container -->

<style>
  
  .btn-black{
          width:100px;
          height:40px;
          font-size:15px;
          text-align:center;
          cursor:pointer;
          color:#000000;
          background:#F5F5F5;
      }
  .title-web h3 {
	    font-family: 'NanumGothic';  
      font-size: 22px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      color: #38393b;
  }  
  .title-web p{
      font-family: NanumGothic;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      color: #787878;
  }      
  .product-name{
    margin-top:7px;
    font-family: NanumGothic;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.29;
    color: #38393b;   
  }
  .product_name{
    color:#38393b;    
  }
  .product-name a:hover,
  .product-name a:focus{
    text-decoration: none;    
    color: #000000;
  }
  .product_price .product_tone{
    color:#38393b;
  }
  .fa-heart{
   color: #ff709b;    
  }
  .product_price{
    margin-right:3px;
    margin-left:2px;
  }
@media (min-width: 768px) {
  .list-display {
      margin-top:70px;
    }
  .title-web {
    float:left;
    margin-left:25px;
  }

  .title-web hr{
    
      width: 1015.5px;
      border: solid 2px #38393b;

  }    
  .btn-web {
    float:right;
    margin-top:40px;
  }  
  .product-container{
    margin-top:20px;
    height:400px;
  }  
  .product-name{
    margin-bottom:10px;
  }

  }  
  
@media (max-width:767px){      
  .list-display {
      margin-top:10px;
    }  
  .title-web {
    float:left;
    margin-left:20px;
  }    
  
  .btn-web {
    float:right;
    width:100%;
  }
  .product-container{
    border: 1px solid lightgray;
    height:110px;
  }
  .example{
  margin-top:7px;
  width: 94px;
  height: 94px;    
  }
    

  }
</style>

<script>
    
    //제품 드롭다운
    $('#divNewNotifications li').on('click', function() { 
      $('#dropdown_title').hide().html($(this).find('a').html());
    });
        
    //세부톤 드롭다운
    $('#divNewNotifications2 li').on('click', function() {
      $('#dropdown_title2').hide().html($(this).find('a').html());
    });    
        
</script>



