<div class="container" style="margin-top: 50px; ">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

     <div class="title-web col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-right:10px;">
       <h3>새 소식</h3>
       <p>새롭게 업데이트 되는 소식을 확인하세요</p>

     </div>
     <hr style="border: 2px solid #38393b">

    <table class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">

       <thead>
         <tr>
           <th>
             <p><%=@one_notice.title%></p>
           </th>

         </tr>
         <tr>
           <th>
             <p><%=@one_notice.created_at.in_time_zone("Asia/Seoul").strftime("%Y-%m-%d")%></p>
           </th>
         </tr>
       </thead>

       <tbody>
        <tr>
          <td class="notice_content">
           <p>
            <%=raw(@one_notice.content)%>
            <% #자동링크인식..근데 이걸 하면 CKEditor가 안됨 <%=simple_format(auto_link(raw(@one_notice.content, html: { target: '_blank' }), {}, :sanitize => false) %>
            </p>
          </td>
        </tr>
        <tr>
          <td class="notice_buttons">

                <a href="/home/notice" class="btn_black" role="button">목록</a>

            <%if user_signed_in? && current_user.admin?%>
               <a href="/home/notice_edit/<%=@one_notice.id%>" class="btn_black" role="button">수정</a>
               <a href="/home/notice_delete/<%=@one_notice.id%>" class="btn_black" role="button">삭제</a>
            <%end%>
          </td>
        </tr>

        <tr>
          <td class="notice_updown" style="margin-top:15px; margin-bottom:10px;">
                <i class="fa fa-chevron-up" aria-hidden="true"></i><strong>이전글</strong>

          <%if @one_notice.id == @first_view_id%>
                이전글이 없습니다.
           <%else%>
             <a href="/home/notice_view/<%=@notice_previous.id%>" onclick="ga('send', 'pageview', '/title_updown');"><%=@notice_previous.title%></a>
          <%end%>

          </td>
        </tr>

        <tr>
            <td class="notice_updown">
                  <i class="fa fa-chevron-down" aria-hidden="true"></i><strong>다음글</strong>

          <%if @one_notice.id == @last_view_id%>

              다음글이 없습니다.

          <%else%>
                <a href="/home/notice_view/<%=@notice_next.id%>" onclick="ga('send', 'pageview', '/title_updown');"><%=@notice_next.title%></a>

          <%end%>

            </td>

        </tr>
       </tbody>
     </table>
   </div>
</div>
