<div class="table-responsive" >

  <div class="container-fluid" >
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

      <div class="title-web" style="margin-right:10px;">
        <h3>문의/건의</h3>
        <p>업데이트 되었으면 하는 제품, 이용하시면서 개선되었으면 하는 점 등에 대해 자유롭게 말씀해주세요. </p>
      </div>

      <hr style="border: 2px solid #38393b">
      <br>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px;">
        <table class="table user-list">
          <thead>
          <tr>
            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-1"><span>번호</span></th>
            <th class="col-lg-2 col-md-2 col-sm-3 col-xs-3"><span>제목</span></th>
            <th class="col-lg-3 col-md-3 col-sm-1 col-xs-2"><span>작성자</span></th>
            <th class="col-lg-3 col-md-3 col-sm-3 col-xs-2"><span>날짜</span></th>
            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><span>조회수</span></th>
          </tr>
          </thead>
          <tbody>
          <% @requests.each do |r| %>
              <tr>
                <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                  <p><%=r.id%></p>
                </td>
                <td class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                  <a href="/home/request_view/<%=r.id%>"><%=r.title%></a>
                </td>
                <td class="col-lg-3 col-md-3 col-sm-1 col-xs-1">
                  <%=r.nickname %>
                </td>
                <td class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                  <%=r.created_at.in_time_zone("Asia/Seoul").strftime("%y-%m-%d") %>
                </td>
                

              </tr>
          <% end %>
          </tbody>
        </table>
       </div>
        <%if user_signed_in? %>
          <a href="/home/request_write"  class="btn btn-black" role="button">글쓰기</a>
        <%end%>
      </div>
  </div>

  <style>
    .table-responsive{
      overflow-x: hidden;
    }
    .container-fluid{
      margin-top:30px;
    }
    table a {
      color:#000000;
    }
    table a:hover{

      text-decoration:none;
      color:#ffa291;
    }
    table a:active{
      text-decoration:none;
      color:#ffa291;
    }
    .btn-black{
      width:60px;
      height:30px;
      font-size:13px;
      text-align:center;
      float:right;
      cursor:pointer;
      color:#ffffff;
      background:#333333;
    }
    .btn-black:hover{
      color:#ffffff;
    }
    .title-web h3 {
      font-family: 'NanumGothic';
      font-size: 22px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      color: #38393b;
    }
    .title-web p{
      font-family: NanumGothic;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      color: #787878;
    }


    @media(min-width:767px) {

      .container-fluid{
        margin-top:50px;
      }
    }

  </style>

  