<div class="container" style="margin-top:50px">
<!-- if there is no search result, show this message-->
<% if @result.blank? && @result2.blank? %>
  <div style="margin-top:100px;margin-bottom:200px">
    
    <h3 style="text-align:center"><strong>'<%= params[:search] %>'</strong>에 따른 검색 결과가 없습니다.</h3>
    <br>
    <h4 style="text-align:center; font-weight:bold">보다 자세한 검색을 위한 Tip</h4>
    <br>
    <p style="text-align:center">1. 띄어쓰기를 하면 보다 정확한 검색 결과를 보실 수 있습니다.</p>
    <p style="text-align:center">2. 브랜드명, 제품명, 세부톤 등으로 다양하게 검색해보세요.<br><strong>예)</strong>바비브라운 쿨 섀도우</p>
    <p style="text-align:center">3. 원하는 제품이 없으신가요? 아래 버튼을 통해 요청해주세요.</p>  
    <div style="text-align: center;">
     <% if user_signed_in? %> 
      <a href="/home/askfor"class="btn-black btn" onclick="ga('send', 'pageview', '/askfor');">요청하기</a>
     <%else%>
      <a href="/users/sign_in"class="btn-black btn" onclick="ga('send', 'pageview', '/askfor');">요청하기</a>
    <%end%>
    </div>
    </div>
<% end %>


<!--제품 출력 목록 -->
<% @result.each_slice(3) do |slice| %>
  <div class="row">
    <% slice.each do |w|%>
      <div class="col-md-4 col-xs-12"   style="margin-top:-30px">
        <br>
        <div class="product-container">
        <!--모바일화면에서 사진오른쪽에 제품명,브랜드 뜨도록 col-xs-5 추가, 큰화면에서도 오른쪽에 떠서 col-md-12도 추가 -->
        <a class="col-md-12 col-xs-4" href="/home/detail/<%=w.num%>">
          <div style="margin-bottom:40px">
          <img class="example" src="https://s3.ap-northeast-2.amazonaws.com/fourseasons111112/product/<%=w.num%>-min.jpg"
               alt="" > <!-- 큰화면,모바일화면에서 사진사이즈 작아서 조정함-->
          </div>
        </a>
                    
             <div class="col-md-12 col-xs-8"> <!-- 모바일화면에서 제품밑에 가격,톤이 없고 사진밑에있어서 p태그를 span태그로 바꿈 -->
              <div class="product-name" style="height:50px;"> <!-- 제품명에 글자 수에 관계없이 div크기 지정. 모바일 화면을 고려하여 60px 값 -->  
                <a class="product_name" href="/home/detail/<%=w.num%>" ><strong>[<%=w.brand%>]<%=w.name%></strong></a>
              </div>
            </div>
        
        
            <div class="col-md-8 col-xs-8">  <!-- 톤 정보 열 오른쪽에, 좋아요 버튼 들어가도록 그리드 설정 -->   
              <p class="product_tone" style="float:left"> <%=w.wc%> / <%=w.tone%> </p>
              <p class="product_price" style="float:left"> | <%=w.size%> <p class="product_price"style="color:#ff709b;float:left; margin-left:2px;"> <%=w.price%>원</style> </p>
            </div>        
                <p style="float:right;margin-right:12px; margin-bottom:10px"><i class="fa fa-heart" aria-hidden="true"></i> <%=display_likes(w)%></p>   
        </div>
      </div>
    <%end%>
  </div>
<% end %>

<!--제품 출력 목록2 -->
<% @result2.each_slice(3) do |slice| %>
  <div class="row">
    <% slice.each do |w|%>
      <div class="col-md-4 col-xs-12"   style="margin-top:-30px">
        <br>
        <div class="product-container">
        <!--모바일화면에서 사진오른쪽에 제품명,브랜드 뜨도록 col-xs-5 추가, 큰화면에서도 오른쪽에 떠서 col-md-12도 추가 -->
        <a class="col-md-12 col-xs-4" href="/home/detail/<%=w.num%>">
          <div style="margin-bottom:40px">
          <img class="example" src="https://s3.ap-northeast-2.amazonaws.com/fourseasons111112/product/<%=w.num%>-min.jpg"
               alt="" > <!-- 큰화면,모바일화면에서 사진사이즈 작아서 조정함-->
          </div>
        </a>
                    
             <div class="col-md-12 col-xs-8"> <!-- 모바일화면에서 제품밑에 가격,톤이 없고 사진밑에있어서 p태그를 span태그로 바꿈 -->
              <div class="product-name" style="height:50px;"> <!-- 제품명에 글자 수에 관계없이 div크기 지정. 모바일 화면을 고려하여 60px 값 -->  
                <a class="product_name" href="/home/detail/<%=w.num%>" ><strong>[<%=w.brand%>]<%=w.name%></strong></a>
              </div>
            </div>
        
        
            <div class="col-md-8 col-xs-8">  <!-- 톤 정보 열 오른쪽에, 좋아요 버튼 들어가도록 그리드 설정 -->   
              <p class="product_tone" style="float:left"> <%=w.wc%> / <%=w.tone%> </p>
              <p class="product_price" style="float:left"> | <%=w.size%> <p class="product_price"style="color:#ff709b;float:left; margin-left:2px;"> <%=w.price%>원</style> </p>
            </div>        
                <p style="float:right;margin-right:12px; margin-bottom:10px"><i class="fa fa-heart" aria-hidden="true"></i> <%=display_likes(w)%></p>   
        </div>
      </div>
    <%end%>
  </div>
<% end %>
<!-- pagination -->
<%= render :partial => "layouts/partial/pagination" %>

</div>

<style>

  .btn-black {
    width:100px;
    height:40px;
    font-size:15px;
    text-align:center;
    cursor:pointer;
    color:#000000;
    background:#333333;
    margin-top:2%;
    color:#ffffff;
  }
  .title-web h3 {
	    font-family: 'NanumGothic';  
      font-size: 22px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      color: #38393b;
  }  
  .title-web p{
      font-family: NanumGothic;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      color: #787878;
  }      
  .product-name{
    margin-top:7px;
    font-family: NanumGothic;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.29;
    color: #38393b;   
  }
  .product_name{
    color:#38393b;    
  }
  .product-name a:hover,
  .product-name a:focus{
    text-decoration: none;    
    color: #000000;
  }
  .product_price .product_tone{
    color:#38393b;
  }
  .fa-heart{
   color: #ff709b;    
  }
  .product_price{
    margin-right:3px;
  }
@media (min-width: 768px) {
  .list-display {
      margin-top:70px;
    }
  .title-web {
    float:left;
    margin-left:25px;
  }

  .title-web hr{
    
      width: 1015.5px;
      border: solid 2px #38393b;

  }    
  .btn-web {
    float:right;
    margin-top:40px;
  }  
  .product-container{
    margin-top:20px;
    height:400px;
  }  
  .product-name{
    margin-bottom:10px;
  }

  }  
  
@media (max-width:767px){      
  .list-display {
      margin-top:10px;
    }  
  .title-web {
    float:left;
    margin-left:20px;
  }    
  
  .btn-web {
    float:right;
    width:100%;
  }
  .product-container{
    border: 1px solid lightgray;
    height:110px;
  }
  .example{
  margin-top:7px;
  width: 94px;
  height: 94px;    
  }
    

  }
</style>
    
<script>
    
  //제품 드롭다운
  $('#divNewNotifications li').on('click', function() { 
    $('#dropdown_title').html($(this).find('a').html());
  });
        
  //세부톤 드롭다운
  $('#divNewNotifications2 li').on('click', function() {
    $('#dropdown_title2').html($(this).find('a').html());
  });

</script>
