
<div float="left" style="margin-top:30px; margin-left:30px;">
  <input type="button" value="회원목록" float="left" class="button" onclick="window.location='/home/admin_user';">
  <input type="button" value="회원리뷰" class="button" float="left" onclick="window.location='/home/admin_reply';" >
  <input type="button" value="문의/건의" class="button" float="left" onclick="window.location='/home/show_feedback';" >
  <input type="button" value="공지 작성" class="button" float="left" onclick="window.location='/home/admin_write';" >
  <a href="/users/sign_out">관리자 로그아웃</a>
</div>
<div class="container" style="margin-top:30px">


    <ul class="media-list forum">
    <% @post.each do |p| %>
        <li>
            <div class="row col-md-12" style="margin:10px; border: 0px solid lightgray; border-radius: 5px; padding:10px; background-color:#f5f5f5;">
                <div class="col-md-3">
                    <p>제품:[<%=@product.brand%>]<%=@product.name%>(<%=p.pro_num%>)</p>
                    <p>이메일:<%=p.emailaddress%></p>
                    <p>날짜:<%= p.created_at.in_time_zone("Asia/Seoul").strftime("%Y/%m/%d/ %H:%M:%S") %></p>
                </div>
                <div class="col-md-9">
                    <p>제목:<%=p.title%></p>
                    <p class="feedback_content">내용:<%=p.content%></p>
                    <img width="150px" src="<%= p.img_url %>">
                </div>
            </div>
        </li>
    <%end%>
    </ul>
</div>

<style>

  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .feedback_content{
    word-break:break-all;
    white-space: pre-line;
  }

</style>